/* Animations */

@-webkit-keyframes inputHighlighter {
  from {
    background: #4a89dc;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #4a89dc;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.forgotPassword {
  margin-top: -10px;
  margin-bottom: 10px;
}








/* Button */

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: #354052;
  border: 0 !important;
  border-bottom: 2px solid #3160B6;
  cursor: pointer;
  transition: all 0.15s ease;
  border-radius: 0 !important;
}

.button:focus {
  outline: 0;
}








/* Button modifiers */

.buttonBlue {
  background: #354052 !important;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover {
  background: #242c39;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  background-color: #242c39 !important;
}








/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}








/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  -webkit-animation: ripples .4s ease-in;
  animation: ripples .4s ease-in;
}








/* Ripples animation */

@-webkit-keyframes ripples {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

@keyframes ripples {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}








/*sign up page */

.register-panel {
  height: 380px;
  padding-top: 30px;
  padding-left: 5%;
  padding-right: 5%;
}

.terms {
  margin-left: 20px;
}

.publisherText {
  margin-top: 10px;
}

.all-games-carousal {
  margin-top: 10px;
  margin-left: 10px;
}

.all-games-number {
  background-color: #354052;
  float: right;
  margin-right: 10px;
  margin-top: -18px;
}








/* ad units page styling */

.floatunitBox {
  background-color: #f2eeee;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.23);
  border: none;
  border-radius: 2px;
}

.floatunitRow {
  background-color: white;
  font-family: "roboto";
  border: none;
  border-radius: 2px;
  margin-left: 0px;
}

.sub-heading {
  font-family: "roboto";
  font-weight: 500;
  font-size: 16px;
}

.floatBoxText {
  margin-top: 15px;
}

.floatBoxSubText {
  margin-top: 15px;
}

.dropzone {
  margin-bottom: 30px;
}

.caption {
  margin-top: 5px;
  height: 100%;
}

.caption .unit-namespace {
  font-weight: bold;
  color: #404040;
  font-size: 18px;
}

.caption .unit-name {
  font-weight: bold;
  color: #404040;
  font-size: 14px;
}

.caption .description {
  margin-top: 12px;
}

.caption .controls {
  position: absolute;
  top: 10px;
  right: 10px;
}

.thumbnail {
  border-width: 2px;
  border-color: #ddd;
  border-radius: 0px;
  padding: 0px;
}

.thumbnail.has_error {
  border-color: rgb(192, 57, 43);
  opacity: 0.4;
}

.ad-placement {
  background-color: #dddddd;
  height: 100%;
}

.ad-placement img {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  padding: 5px;
  max-width: 100%;
  max-height: 100%;
}

.your-games-input {
  border-radius: 0px !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
  border: none;
  border-radius: 2px;
}

.profile-btn {
  background-color: #354052;
  border-radius: 0px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.23);
  border: none;
  border-radius: 2px;
  margin-left: 0px;
}








/*@media (min-width: 768px) {
  .profile-btn {
    margin-left: -65px !important;
  }
}*/

.profile-reset-btn {
  margin-left: 5px;
  border-radius: 0px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.23);
  border: none;
  border-radius: 2px;
  color: grey;
}

.control-label {
  padding-top: 0px !important;
  padding-right: 10px !important;
  font-size: 16px;
}

.three-dots {
  float: right;
  position: relative;
  bottom: 25px;
  list-style-type: none;
  margin-right: 8px;
  margin-top: 1px;
}

.three-dots-adunit {
  float: right;
  position: relative;
  bottom: 25px;
  list-style-type: none;
  margin-right: 3px;
  margin-top: 9px;
}

.remove-margin {
  margin-right: 5px;
}

.float-pre {
  margin-top: 5px;
}

.delete-unit {
  position: relative;
  float: right;
  margin-top: -20px;
  margin-left: 10px !important;
  display: none;
}

.vertically-align-table {
  vertical-align: middle !important;
}

;
.dropzone {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.23);
  border: none;
  border-radius: 2px;
}

.no-account-yet {
  margin-bottom: 10px;
  margin-left: 20px;
}

.email-input-pwdchange {
  margin-top: 20px;
}

.red-sup {
  color: red;
}

.form-valid {
  color: #a94442;
}

.home-selected-button {
  background-color: black !important;
  color: white;
}

.carousal-box-campaign {
  margin-left: 100px;
  margin-top: -35px;
}

.carousal-box-campaign-themeid {
  margin-left: -150px !important;
  margin-top: -35px !important;
}

.fa-angle-right {
  margin-left: -115px;
  margin-top: 8px;
}

.camp-back-btn {
  position: absolute;
  left: 57px;
  margin-top: 5px;
}

.realestate {
  position: absolute;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  z-index: 9999;
  cursor: move;
  background: #ccc;
  width: 50px;
  height: 50px;
  line-height: 100px;
  text-align: center;
  border: 1px solid #123456;
}

.realestate span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.ui-resizable-handle {
  background: #f5dc58;
  border: 1px solid #000;
  width: 20px;
  height: 20px;
  z-index: 2;
}

.ui-resizable-se {
  right: -5px;
  bottom: -5px;
}

.ui-rotatable-handle {
  background: #f5dc58;
  border: 1px solid #000;
  /*border: 1px solid #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;*/
  cursor: pointer;
  height: 10px;
  left: 50%;
  margin: 0 0 0 -5px;
  position: absolute;
  top: -5px;
  width: 10px;
}

.ui-rotatable-handle.ui-draggable-dragging {
  visibility: hidden;
}

.ui-resizable {
  position: absolute !important;
}

#areaRealEstate {
  background-color: #fff;
  width: 100%;
}

.ui-rotatable-handle {
  height: 20px;
  width: 20px;
  cursor: pointer;
  background-image: url(/images/rotate.png);
  background-size: 100%;
  left: 6px;
  top: 1px;
}

.ace_editor {
  height: 100%;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.clip-file {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 2px;
  line-height: 1.42857143;
  background-color: #ddd;
  border: 1px solid #000;
  margin-bottom: 4px;
  border-radius: 2px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.clip-file img {
  cursor: pointer;
}

.clip-file pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.sdk-modal-window .modal-dialog {
  width: 95%;
  height: 95%;
}

.sdk-modal-window .modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.editor-modal-window .modal-dialog {
  width: 90%;
}

.realestate-modal-window .modal-dialog {
  width: 100%;
  height: 100%;
}

.realestate-modal-window .modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.editor-modal-backdrop {
  background-color: #fff;
}

.modal-dialog .modal-content {
  border-radius: 0px;
}

.modal-backdrop {
  height: 100%;
  position: fixed;
}

body.modal-open .modal {
  display: flex !important;
  height: 100%;
}

body.modal-open .modal .modal-dialog {
  margin: auto;
}

.sdk-modal-window li {
  margin-bottom: 15px;
}

.unity-engine form {
  background-color: #c2c2c2;
  padding: 15px;
  width: 450px;
}

.unity-engine .alert-success {
  color: #000;
  background-color: #61d061;
  border-color: #727272;
  font-size: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.unity-engine .form-control {
  height: 24px;
  font-size: 12px;
}

.unity-engine .form-horizontal .control-label {
  font-size: 12px;
  text-align: left;
  font-weight: normal;
  line-height: 24px;
}

.unity-engine .form-horizontal .control-label h4 {
  font-size: 14px;
  margin-top: 15px;
}

.unity-engine .form-group {
  margin-bottom: 4px;
}

.unity-engine input[type="text"] {
  color: #000;
  background-color: #d3d3d3;
  border-width: 0px;
  -webkit-box-shadow: inset 0 0 3px #000;
  -moz-box-shadow: inset 0 0 3px #000;
  box-shadow: inset 0 0 3px #000;
  border-radius: 0px;
}

.unity-engine input[type="checkbox"] {
  color: #000;
  border-width: 0px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 0px #000;
  -moz-box-shadow: inset 0 0 0px #000;
  box-shadow: inset 0 0 0px #000;
}

.unity-engine input[disabled="disabled"] {
  color: #737373 !important;
  background-color: #bfbbbb !important;
  border-width: 0px;
  -webkit-box-shadow: inset 0 0 3px #000;
  -moz-box-shadow: inset 0 0 3px #000;
  box-shadow: inset 0 0 3px #000;
  border-radius: 0px;
}

code[class*="language-"],
pre[class*="language-"] {
  tab-size: 2;
  font-size: 12px;
  background: #f5f2f0 !important;
  margin: 1em 0em 3em 0em;
}

.input-group[class*=col-] {
  z-index: 0;
}

.drop-box {
  border: 1px dotted #000;
  text-align: center;
  cursor: pointer;
}

.dragover {
  border: 3px solid #000;
}

.media-unit {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 2241px) {
  .media-native-unit {
    width: 33.33%;
  }
}

@media (min-width: 1601px) and (max-width: 2240px) {
  .media-native-unit {
    width: 50%;
  }
  .media-float-unit {
    width: 25%;
  }
}

@media (min-width: 961px) and (max-width: 1600px) {
  .media-native-unit {
    width: 100%;
  }
  .media-float-unit {
    width: 45%;
  }
}

@media (max-width: 960px) {
  .media-native-unit {
    width: 100%;
  }
  .media-float-unit {
    width: 50%;
  }
}

.master-creative-wrapper {
  position: relative;
  min-height: 200px;
}

.master-creative-wrapper img {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.selective-btn-gp>div {
  padding-right: 0px;
  padding-left: 0px;
}

.selective-btn-gp input {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.selective-btn-gp .selectize-input {
  padding-top: 6px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.selective-btn-gp .back .selectize-input {
  padding-top: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.selective-btn-gp>button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.selective-btn-gp>button.front {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.dropdown>.dropdown-menu:before,
.dropdown-toggle>.dropdown-menu:before,
.btn-group>.dropdown-menu:before {
  position: absolute;
  top: -8px;
  left: auto;
  right: 9px;
  display: inline-block !important;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #e0e0e0;
  border-left: 8px solid transparent;
  content: '';
}

.dropdown>.dropdown-menu:after,
.dropdown-toggle>.dropdown-menu:after,
.btn-group>.dropdown-menu:after {
  position: absolute;
  top: -7px;
  left: auto;
  right: 10px;
  display: inline-block !important;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  border-left: 7px solid transparent;
  content: '';
}

.yourGameForm {
  margin-top: 30px;
}

.page-header.navbar.navbar-fixed-top {
  z-index: 12;
}

.loader {
  height: 5px;
  width: 100%;
  top: 0;
  position: absolute;
  overflow: hidden;
  background-color: #ddd;
}

.loader:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 5px;
  background-color: #29d;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {
    left: -200px;
    width: 30%;
  }
  50% {
    width: 30%;
  }
  70% {
    width: 70%;
  }
  80% {
    left: 50%;
  }
  95% {
    left: 120%;
  }
  to {
    left: 100%;
  }
}

.int-wiz {
  position: absolute;
  top: 0;
  left: 0;
  background: #e9ecf3;
  width: 100%;
  height: 100%;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin-right: 1em;
  margin-top: 1em;
}

.btn-circle.btn-xl {
  width: 54px;
  height: 54px;
  line-height: 1.33;
  border-radius: 50px;
  background: #e9ecf3;
  color: black;
  border: solid 2px #b7b7b7;
}

.selected_circle {
  border-color: #5a5a5a !important;
}

video {
  width: 100%;
}

.downloadSDK {
  margin-top: 1em;
  margin-left: 2.5em;
}

.page-content-wrapper .page-content-wizard {
  margin-left: 0px;
  margin-top: 0px;
  min-height: 600px;
  padding: 0px 0 0 0px;
}

.mt-element-step .step-thin .mt-step-number {
  font-size: 20px !important;
  padding: 3px 11px;
}

.mt-element-step .step-thin .mt-step-title {
  font-size: 18px !important;
  padding-left: 40px !important;
}

.mt-element-step .step-thin .mt-step-content {
  padding-left: 40px !important;
}

.mt-element-step .step-line .mt-step-number {
  font-size: 20px !important;
  height: 50px !important;
  width: 50px !important;
  cursor: pointer !important;
  padding: 7px !important;
  margin-bottom: 7px !important;
}

.mt-element-step .step-line .mt-step-col {
  padding-top: 0px !important;
}

body.modal-open {
  overflow: hidden;
}

.step-body {
  /*overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 400px);*/
}

.step-body ul {
  padding: 15px;
}

.fix-to-bottom {
  position: fixed !important;
  left: 0px !important;
  bottom: 0px !important;
  width: 100%;
  background: #fff;
  padding: 20px;
  padding-left: 20px !important;
}

.portlet.light.portlet-fit>.portlet-body {
  padding-bottom: 5px;
}

.wizard-footer .btn-group {
  width: 500px;
}

.page-sidebar-menu li:last-child button a {
  color: white;
}

.page-sidebar-menu li:last-child button a:hover {
  text-decoration: none;
}

.row.step-thin {
  cursor: pointer;
}

.wizard-footer {
  padding-left: 0px;
  margin-top: 1em;
  background: #E5E5E5 !important;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 99999;
}

.img100 {
  width: 100%;
}

.table-border-bottom td {
  border-top: 1px solid transparent!important;
  border-bottom: 1px solid #ddd !important;
}

.clearfix {
  overflow: auto;
}

.section:after {
  content: '';
  display: block;
  clear: both;
}

.media-unit-wizard {
  position: relative;
  min-height: 1px;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.native-unit-wizard {
  top: 1em;
}

.save-button-tooltip {
  width: 100%;
}

.theme-select {
  width: 300px;
}

.theme-select ul {
  padding: 0px;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .gamelist {
  width: 253px;
  height: 500px;
  overflow: auto;
}

.zero-padding {
  padding: 0!important;
}

.dashboard-stat2 .display {
  margin-bottom: 0px !important;
}

.dashboard-stat2 .display .number small {
  text-transform: none !important;
}

.dashboard-stat2 .display .number {
  width: 100% !important;
}

.uib-datepicker-popup {
  z-index: 15000;
}

.actions button {
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.panel-heading {
  background: #eee;
  height: 50px;
}

.campaign-panel {
  border-color: #337ab7 !important;
}

.campaign-portlet-title {
  background-color: #337ab7 !important;
}

.fadetest {
  transition: 1s linear all;
  -webkit-transition: 1s linear all;
}

.fadetest.ng-enter {
  background-color: #ffeb99 !important;
}

.fadetest.ng-enter.ng-enter-active {
  background-color: #ffffff;
}

.fadetest.ng-leave {
  opacity: 1;
}

.fadetest.ng-leave.ng-leave-active {
  opacity: 0;
}

.test-device-table {
  animation: pulse 5s;
}

@keyframes pulse {
  0% {
    background-color: #ffeb99;
  }
  100% {
    background-color: #ffffff;
  }
}

.fade-animation-teamanagement.ng-move,
.fade-animation-teamanagement.ng-enter,
.fade-animation-teamanagement.ng-leave {
  transition: all linear 2s;
}

.fade-animation-teamanagement.ng-leave.ng-leave-active,
.fade-animation-teamanagement.ng-move,
.fade-animation-teamanagement.ng-enter {
  opacity: 0;
  max-height: 0;
}

.fade-animation-teamanagement.ng-leave,
.fade-animation-teamanagement.ng-move.ng-move-active,
.fade-animation-teamanagement.ng-enter.ng-enter-active {
  opacity: 1;
}

.navbar {
  border-radius: 0px !important;
}

.form-control {
  border-radius: 0px !important;
}

.globalfilter-tags {
  height: auto !important;
  box-shadow: 0 0 0 0 !important;
  border-width: 0px;
}

.globalfilter-tags .tags .tag-item {
  font-weight: normal;
  color: #fff;
  border-color: #337ab7;
  background: #337ab7;
}

.autocomplete {
  z-index: 100;
}

.globalfilter-tags .autocomplete .suggestion-item.selected {
  font-weight: normal;
  color: #fff;
  border-color: #337ab7;
  background: #337ab7;
}

.globalfilter-tags .autocomplete .suggestion-item.selected em {
  font-weight: bold;
  color: #000;
  border-color: #337ab7;
  background: #337ab7;
}

.android-icon {
  color: #A4C639;
}

.page-content {
  padding-top: 0px !important;
}

.no-left-padding {
  padding-left: 0px !important;
}

.no-right-padding {
  padding-right: 0px !important;
}

.dashboard-stat2 .display .number h3 {
  font-size: 24px;
}

.nvd3.nv-noData {
  font-size: 20px;
  color: #697882;
  padding: 0;
  margin: 0 0 10px 0;
}

.dashboard-container h3 {
  font-size: 20px;
  color: #697882;
  padding: 0;
  margin: 0 0 10px 0;
}

.faq h3 {
  font-size: 20px;
  color: #697882;
  padding: 0;
  margin: 0 0 10px 0;
}

.dashboard-container small {
  color: #697882;
}

.dropdown-menu {
  max-height: 300px;
  /*Provide height in pixels or in other units as per your layout*/
  overflow-y: auto;
  /*Provide an auto overflow to diaply scroll*/
}

.tags {
  cursor: default;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
  margin-left: : 0 !important;
}

.no-right-padding {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

.game-status {
  color: red;
}

.game-status:before {
  content: "• ";
  font-size: 5px;
}

.game-status-live {
  color: green;
  border: 1px solid green;
  border-radius: 5px 5px 5px;
  padding: 0px 2px 0px 2px;
}

.game-status-blacklisted {
  color: red;
  border: 1px solid red;
  border-radius: 5px 5px 5px;
  padding: 0px 2px 0px 2px;
}

.game-status-not-integrated {
  color: black;
  border: 1px solid black;
  border-radius: 5px 5px 5px;
  padding: 0px 2px 0px 2px;
}

.game-status-testing {
  color: orange;
  border: 1px solid orange;
  border-radius: 5px 5px 5px;
  padding: 0px 2px 0px 2px;
}

.playstore-details {
  width: 128px;
  height: 128px;
  padding-left: 0px;
  padding-right: 10px
}

.no-left-padding {
  padding-left: 0px;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50% !important;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

tags-input .tags {
  cursor: default;
}

.form-group.required .control-label:after {
  content: " *";
  color: red;
}

.ui-select-choices {
  margin-top: 0px!important;
}

.ui-select-no-choice {
  margin-top: 0px!important;
}

.faq-highlight {
  background-color: yellow;
}

.max-zindex {
  z-index: 10000;
}