.unit-thumbnail {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 0px;
}

.thumbnail-wrapper {
  /*background-image: url('../images/grid.png');*/
  min-height: 200px;
  border-style: solid;
  border-width: 1px;
  border-color: #808080;
}

.unit-path {
  border-style: solid;
  border-width: 1px;
  border-top-width: 0px;
  border-radius: 0px;
  border-color: #808080;
}

.thumbnail-wrapper img {
  max-height: 200px;
}

.thumbnail-asset-wrapper {
  background-image: url('../images/grid.png');
  min-height: 200px;
  border-style: solid;
  border-width: 2px;
  border-color: #00008B;
}

.branded-drop-help {
  background-image: url('../images/transparentbox.png');
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  color: #fff;
  z-index: 20;
}

.branded-drop-help span {
  top: 50%;
  position: absolute;
  width: 100%;
  left: 0;
}

.file-drop-show {
  position: relative;
  top: 0px;
  visibility: visible;
}

.file-drop-hide {
  position: absolute;
  top: 0px;
  visibility: hidden;
}

.dragover {
  border: 4px solid #2980b9;
}

.dragover .branded-drop-help span {
  color: #2980b9;
  font-weight: bold;
  text-shadow: 0px 0px 5px #fff;
}

#overcover {
  background-color: #eaeaeb;
  width: 100%;
  min-height: 100%;
  /*height: 100%;*/
  z-index: 1031;
  top: 0px;
  position: absolute;
}

.modal-backdrop {
  background-color: #fff;
}

.login-logo-w {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 30px;
}

.login-logo-w .logo {
  color: #aaa;
  margin-bottom: 20px;
  max-width: 100px;
}

.login-logo-w .logo i {
  font-size: 60px;
}

.login-logo-w .logo span {
  font-size: 28px;
  text-transform: uppercase;
  font-family: "Roboto Condensed", "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
}

.btn-select-game {
  border-radius: 0px;
  text-align: right;
}

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px !important;
}

#loading-bar-spinner {
  z-index: 2000;
  top: 15px;
  left: 50%;
}

.graph-range {
  background: #fff;
  z-index: 999999;
  padding-top: 30px;
  padding-bottom: 30px;
}

.realestate-properties {
  padding: 10px;
  margin-left: 0px;
  margin-right: 0px;
  height: 100%;
  border-radius: 5px;
}

.realestate-properties .input-group {
  font-size: 28px !important;
}