<div>
  <h3 ng-show="retrieve_response_msg.message">{{retrieve_response_msg.message}}</h3>
  <div class="content">
    <form class="form-retrieve" name="resetForm" role="form">
      <h3 class="form-title font-green">Set Panel's New Password</h3>
      <div class="form-group relative-w">
        <input ng-model="ctrl.user.password" name="password" type="password" class="form-control" placeholder="New Password" required />
        <div ng-messages="resetForm.password.$touched && resetForm.password.$error" role="alert" style="color:maroon">
          <div ng-message="required">Please enter your new password</div>
        </div>
      </div>
      <div class="form-group relative-w">
        <input ng-model="ctrl.user.confirm_password" name="confirm_password" type="password" class="form-control" placeholder="Confirm Password" data-password-verify="ctrl.user.password" required />
        <div ng-messages="resetForm.confirm_password.$touched && resetForm.confirm_password.$error" role="alert" style="color:maroon">
          <div ng-message="required">Please re-enter your new password</div>
          <div ng-message="passwordVerify">Passwords do not match! Try again.</div>
        </div>
      </div>
      <button promise-click="ctrl.changePassword(resetForm, ctrl.user)" ng-disabled="resetForm.$invalid" class="btn btn-primary btn-rounded btn-block btn-iconed">
        <span>Change password</span>
        <i ng-hide="resetForm.isBusy" class="fa fa-arrow-right"></i>
      </button>
      <div class="no-account-yet" style="margin-top:15px;">
        <span style="color:#8292ae;">Don't have an account yet? <b><a ng-href="/account/register">Register Now</a></b> or
            <br/>
            <b><a ng-href="/account/login">login</a></b> if you remember it.</span>
      </div>
    </form>
  </div>
</div>