<div class="content">
  <form class="form-retrieve" name="retrieveForm" role="form" novalidate>
    <div class="form-group relative-w change-pass-input">
      <input ng-model="ctrl.user.email" name="email" type="email" class="form-control email-input-pwdchange email-input" placeholder="Enter email" required />
      <div ng-messages="retrieveForm.email.$touched && retrieveForm.email.$error" role="alert" style="color:maroon">
        <div ng-message="required">Please add your login email id</div>
        <div ng-message="email">Please add a valid email id</div>
      </div>
      <div ng-if="ctrl.retriveError.status == 404" style="color:maroon">
        <div>Email Id doesn't match our records</div>
      </div>
    </div>
    <div ng-if="ctrl.retriveError.config.status >= 500">
      <div errorbox error-message="Unable to perform this action, please try again"></div>
    </div>
    <div class="change-pass-input">
      <button promise-click="ctrl.retrieve(retrieveForm, ctrl.user)" ng-disabled="retrieveForm.$invalid" class="btn btn-primary btn-rounded btn-block btn-iconed button button-blue ">
        <span>Request change of password</span>
        <i class="fa fa-arrow-right"></i>
      </button>
    </div>
    <div>
      <span style="color:#8292ae;">Don't have an account yet ? </span><b><a ng-href="/account/register">Register Now</a></b> <span style="color:#8292ae;"> or</span>
      <b><a ng-href="/account/login">login</a></b> <span style="color:#8292ae;"> if you remember it. </span>
    </div>
  </form>
</div>