<div class="content" style="margin-bottom: 4em;">
  <form name="registerForm" role="form">
    <h3 class="form-title font-green">Sign Up</h3>
    <div class="form-group relative-w group">
      <input name="group_name" type="text" class="form-control" placeholder="Publisher's Name" ng-model="ctrl.user.group_name" ng-blur="ctrl.user.group_name=ctrl.slugify(ctrl.user.group_name)" required />
      <div ng-messages="registerForm.group_name.$touched && registerForm.group_name.$error" role="alert" style="color:maroon">
        <div ng-message="required">Please add the company name</div>
      </div>
      <div ng-messages="ctrl.signUpError.data" role="alert" style="color:maroon">
        <div ng-message="group_name" ng-repeat="error in ctrl.signUpError.data.group_name">{{error}}</div>
      </div>
    </div>
    <div class="form-group relative-w group signup-input">
      <input name="email" type="email" class="form-control" placeholder="Email" ng-model="ctrl.user.email" required />
      <div ng-messages="registerForm.email.$touched && registerForm.email.$error" role="alert" style="color:maroon">
        <div ng-message="required">Please add your email id</div>
        <div ng-message="email">Please add a valid email id</div>
      </div>
      <div ng-messages="ctrl.signUpError.data" role="alert" style="color:maroon">
        <div ng-message="email" ng-repeat="error in ctrl.signUpError.data.email">{{error}}</div>
      </div>
    </div>
    <div class="form-group relative-w group signup-input">
      <input name="password" type="password" class="form-control" placeholder="Password" ng-model="ctrl.user.password" required />
      <div ng-messages="registerForm.password.$touched && registerForm.password.$error" role="alert" style="color:maroon">
        <div ng-message="required">Please add your password</div>
      </div>
      <div ng-messages="ctrl.signUpError.data" role="alert" style="color:maroon">
        <div ng-message="password" ng-repeat="error in ctrl.signUpError.data.password">{{password}}</div>
      </div>
    </div>
    <div class="form-group relative-w group signup-input">
      <input name="confirm_password" type="password" class="form-control" placeholder="Confirm password" ng-model="ctrl.user.password_verify" data-password-verify="ctrl.user.password" required>
      <div ng-messages="registerForm.confirm_password.$touched && registerForm.confirm_password.$error" role="alert" style="color:maroon">
        <div ng-message="required">Please confirm the password</div>
        <div ng-message="passwordVerify">Both passwords should be equal!</div>
      </div>
    </div>
    <div class="form-group relative-w group signup-input">
      <div class="checkbox">
        <div class="terms">
          <input ng-model="ctrl.user.terms_agree" type="checkbox" required><span style="color:#8292ae;">I agree to </span><a ng-click="ctrl.showAgreement()">terms of use and policy</a>.
        </div>
      </div>
    </div>
    <div ng-if="ctrl.signUpError.status >= 500">
      <div errorbox error-message="Unable to create a account, please try agian"></div>
    </div>
    <div errorbox ng-if="ctrl.signUpError.status < 500 && ctrl.signUpError.status >= 400" error-message="{{ctrl.signUpError.data.non_field_errors[0]}}">
    </div>
    <button promise-click="ctrl.createAccount(registerForm, ctrl.user)" ng-disabled="registerForm.$invalid" class="btn btn-primary btn-rounded btn-iconed btn-block button button-blue">
      SIGN UP
    </button>
    <div class="signUpLink">
      <center><a ng-href="/account/login">or Login</a></center>
    </div>
  </form>
</div>