<div class="content">
  <form class="login-form" name="loginForm" role="form">
    <h3 class="form-title font-green">Sign In</h3>
    <div class="form-group relative-w group">
      <input id="user_email" ng-model="ctrl.user.email" name="email" type="email" class="form-control email-input" placeholder="Email" required />
      <span class="highlight"></span>
      <span class="bar"></span>
      <div ng-messages="loginForm.email.$touched && loginForm.email.$error" role="alert" style="color:maroon">
        <div ng-message="email">Please add a valid email</div>
        <div ng-message="required">Please add your login email</div>
      </div>
      <div ng-messages="ctrl.loginError.data" style="color:maroon">
        <div ng-message="email" ng-repeat="error in ctrl.loginError.data.email">{{error}}</div>
      </div>
    </div>
    <div class="form-group relative-w group">
      <input id="user_password" ng-model="ctrl.user.password" name="password" type="password" class="form-control password-input" placeholder="Password" required />
      <span class="highlight"></span>
      <span class="bar"></span>
      <div ng-messages="loginForm.password.$touched && loginForm.password.$error" role="alert" style="color:maroon">
        <div ng-message="required">Please add your login password</div>
      </div>
      <div ng-messages="ctrl.loginError.data" style="color:maroon">
        <div ng-message="password" ng-repeat="error in ctrl.loginError.data.password">{{error}}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox">
        <div class="forgotPassword">
          <a ng-href="/account/retrieve-password">Forgot password?</a>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <div errorbox ng-if="ctrl.loginError.status == 401 " error-message="The user name or password is wrong, please try again"></div>
      <div errorbox ng-if="ctrl.loginError.status >= 400 && ctrl.loginError.status!= 401 && ctrl.loginError.status < 500" error-message="{{ctrl.loginError.data.non_field_errors[0]}}"></div>
      <div errorbox ng-if="ctrl.loginError.status >=500" error-message="Unable to login currently, please try again later"></div>
      <button type="submit" class="btn btn-block green uppercase" promise-click="ctrl.login(loginForm, ctrl.user)" ng-disabled="loginForm.$invalid">Login</button>
    </div>
    <div class="create-account">
      <p>
        <a ng-href="/account/register">or Sign Up</a>
      </p>
    </div>
  </form>
  <!-- END REGISTRATION FORM -->
</div>