<div ng-controller="AccessCtrl as ctrl">
  <div class="content" style="padding:0px 0px;background-color:transparent;">
    <div class="alert alert-info alert-dismissable text-center ng-hide" style="margin-top: 1em;" ng-show="messageResponse">
      <i class="icon-remove-sign"></i> {{ messageResponse }}
    </div>
    <div class="alert alert-info alert-dismissable text-center" ng-show="changePasswordText">
      <i class="icon-remove-sign"></i>{{changePasswordText}}
    </div>
  </div>
  <!--Login-->
  <div ng-show="!me.id">
    <div ng-include="'/components/accounts/access_' + ctrl.submenu +'.html'"></div>
    <div ng-show="ctrl.submenu == 'activate'">
      <div class="alert alert-info alert-dismissable text-center" style="margin-top: 1em;" ng-show="ctrl.activationMsg">
        <i class="icon-remove-sign"></i> {{ ctrl.activationMsg }}
      </div>
    </div>
  </div>
</div>