<div class="modal-header">
  <div class="row">
    <div class="col-md-8">
      <h4 class="modal-title" id="myLargeModalLabel">Terms Of Use Agreement</h4>
    </div>
    <div class="col-md-4">
      <button type="button" style="font-size: xx-large;" ng-click="ctrl.close()" class="pull-right close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
<div class="modal-body">
  <p class="P4"><span class="T4">These Terms Of Use are a legal agreement (“Agreement”) between you (“User”) and GreedyGame Media, a Private Limited Company (“GG”). By accessing the GG web site, currently located at</span><span class="apple-converted-space"><span class="T4"> </span></span>
    <a href="http://panel.greedygame.com " class="Internet_20_link"><span class="T9">http://panel.greedygame.com</span></a><a href="http://panel.greedygame.com " class="Internet_20_link"><span class="T10"> </span></a><span class="T4">(the “Site”) and using any of the Services (as defined below) accessible through the Site, you become a User and agree to, and are bound by, the terms and conditions of this Agreement and Privacy Policy for as long as you continue to use the Site or Services. IF YOU DO NOT AGREE TO BE BOUND BY THIS AGREEMENT, DO NOT USE THE SITE OR THE SERVICES. Your use of, or participation in, certain Services may be subject to additional terms, and such terms will be either listed in this Agreement or will be presented to you for your acceptance when you sign up to use such Services. This Agreement is void where prohibited by law, and the right to access the Site is revoked in such jurisdictions.</span>
  </p>
  <p class="P4"><span class="T4">GG is an ad network to help enable the purchase and sale of mobile advertisements (collectively, the “Services”). GG may offer additional services or revise any of the Services, at its discretion, and the right to cease offering any of the Services.</span>
  </p>
  <h2 class="P5">
    <a id="a__1__Eligibility_"><span/></a><span class="T6">1. Eligibility.</span></h2>
  <h3 class="P6">
    <a id="a__Minimum_Age_"><span/></a><span class="T7">Minimum Age.</span></h3>
  <p class="P4"><span class="T4">You must be an individual person, at least 18 years old to use the Site and to register for the Services. By using the Services, you represent and warrant that you are at least 18 years old.</span>
  </p>
  <h2 class="P5">
    <a id="a__2__Use_of_Site_and_Service_"><span/></a><span class="T6">2. Use of Site and Service.</span></h2>
  <p class="P4"><span class="T4">As a User or a User registered to use any of the Services (a “Registered User”), you agree to the following:</span>
  </p>
  <h3 class="P6">
    <a id="a__Exclusive_Use_"><span/></a><span class="T7">Exclusive Use.</span></h3>
  <p class="P4"><span class="T4">Your account is for your personal use only. You may not authorize others to use your account, and you may not assign or otherwise transfer your account to any other person or entity. You acknowledge that GG is not responsible for third party access to your account that results from theft or misappropriation of your user names and passwords. GG may assign this Agreement in whole or in part at any time without your consent</span>
  </p>
  <h3 class="P6">
    <a id="a__Geographic_Limitations_"><span/></a><span class="T7">Geographic Limitations.</span></h3>
  <p class="P4"><span class="T4">The Site and Services are intended for use in worldwide. You will only use the Services in a manner consistent with this Agreement and any and all applicable local, state, national and international laws and regulations. Registration for, and use of, the Services are void where prohibited. To the extent that the Services are not legal in your jurisdiction, you may not use the Services. The Services may not be used where prohibited by law.</span>
  </p>
  <h3 class="P6">
    <a id="a__Risk_Assumption_and_Precautions_"><span/></a><span class="T7">Risk Assumption and Precautions.</span></h3>
  <p class="P4"><span class="T4">GG is not responsible for the conduct, whether online or offline, of any User of the Site or of the Service. GG is not responsible for any problems or technical malfunction of any telephone network or lines, computer online systems, servers or providers, computer equipment, software, failure of email or players on account of </span>
    <span class="T4">technical problems or traffic congestion on the Internet or at any site or combination thereof, including injury or damage to Users’ or to any other person’s computer related to or resulting from participating or downloading materials in connection
      with the Web and/or in connection with the Service. Under no circumstances will GG or any of its affiliates, advertisers, promoters or distribution partners be responsible for any loss or damage, including personal injury or death, resulting from
      anyone’s use of the Site or the Services. The Site and the Services are provided “AS-IS” and GG expressly disclaims any warranty of merchantability, fitness for a particular purpose or non-infringement. You assume all risk when using the Services.</span>
  </p>
  <h3 class="P6">
    <a id="a__No_False_Information_"><span/></a><span class="T7">No False Information.</span></h3>
  <p class="P4"><span class="T4">You will not provide inaccurate, misleading or false information to GG. If information provided to GG subsequently becomes inaccurate, misleading or false, you will promptly notify GG of such change.</span>
  </p>
  <h3 class="P6">
    <a id="a__Unique_and_Bona_Fide_Profile_"><span/></a><span class="T7">Unique and Bona Fide Profile.</span></h3>
  <p class="P4"><span class="T4">As a Registered User of the Service, you will create only one unique profile.</span>
  </p>
  <h3 class="P6">
    <a id="a__No_Harassment_of_GG_Employees_or_Agents_"><span/></a><span class="T7">No Harassment of GG Employees or Agents.</span></h3>
  <p class="P4"><span class="T4">You will not harass, annoy, intimidate or threaten any GG employees or agents engaged in providing any portion of the Services to you.</span>
  </p>
  <h3 class="P6">
    <a id="a__Publishers_"><span/></a><span class="T7">Publishers.</span></h3>
  <p class="P4"><span class="T4">If User is a publisher, User shall not authorize or encourage any third party to generate fraudulent impressions of or fraudulent clicks on any advertisement, including but not limited to, through repeated manual clicks, the use of robots or other automated query tools and/or computer generated search requests, and/or the fraudulent use of other search engine optimization services and/or software. Users who are publishers may list assets including but not limited to mobile sites, applications, and device platforms ("Mobile Properties") and make them available for advertisement. Users who are publishers hereby grant GG the right to access, index, store and cache requests made from User's mobile websites (“Mobile Property”) to the Services, including by automated means. Users who are publishers allow GG to access publishers’ applications to serve GG’s personalized advertisements. Users who are advertisers may produce content including but not limited to text links, banners, videos, and graphics ("Advertisements") for display on a publisher's Mobile Property. User agrees to comply with the technical specifications provided by GG to enable proper display of the Advertisements in connection with the Services.</span>
  </p>
  <h2 class="P5">
    <a id="a__3__Proprietary_Rights_"><span/></a><span class="T6">3. Proprietary Rights.</span></h2>
  <h3 class="P6">
    <a id="a__Ownership_of_Proprietary_Information_"><span/></a><span class="T7">Ownership of Proprietary Information.</span></h3>
  <p class="P4"><span class="T4">The Site is protected by copyright as a collective work and/or compilation, pursuant to Indian copyright laws, international conventions, and other copyright laws. You hereby acknowledge and agree that GG is the owner of highly valuable proprietary information, including, but not limited to its technology and templates (collectively, “Confidential Information”). GG owns and hereby retains all proprietary rights in the Services and the Site, including but not limited to, all Confidential Information.</span>
  </p>
  <h3 class="P6">
    <a id="a__No_Use_of_Confidential_Information_"><span/></a><span class="T7">No Use of Confidential Information.</span></h3>
  <p class="P4"><span class="T4">You will not post, copy, modify, transmit, disclose, show in public, create any derivative works from, distribute, make commercial use of, or reproduce in any way any (i) Confidential Information or (ii) other copyrighted material, trademarks, or other proprietary information accessible via the Services, without first obtaining the prior written consent of the owner of such proprietary rights.</span>
  </p>
  <h2 class="P5">
    <a id="a__4__User_Information_"><span/></a><span class="T6">4. User Information.</span></h2>
  <h3 class="P6">
    <a id="a__Privacy_Statement_"><span/></a><span class="T7">Privacy Statement.</span></h3>
  <p class="P4"><span class="T4">For information about the collection and storage and possible use and disclosure of information and material provided by you, please click on GG’s Privacy Policy located on the Site. By using the Site or the Services, you are consenting to the terms of GG’s Privacy Policy. If there is any inconsistency between GG’s Privacy Policy and this Agreement, the former shall govern.</span>
  </p>
  <h3 class="P6">
    <a id="a__Use_of_Anonymous_Information_for_Research_"><span/></a><span class="T7">Use of Anonymous Information for Research.</span></h3>
  <p class="P4"><span class="T4">By using the Services, you agree to allow GG to anonymously use the information provided from you through the Services, to continue GG’s research to improve its Services.</span>
  </p>
  <h2 class="P5">
    <a id="a__5__Links_to_Third-Party_Web_Sites___Dealings_with_Advertisers_and_Sponsors_"><span/></a><span class="T6">5. Links to Third-Party Web Sites / Dealings with Advertisers and Sponsors.</span></h2>
  <p class="P4"><span class="T4">The Services may contain links to web sites of third-parties, including without limitation, advertisers, which are not under the control of GG, and GG is not responsible for the content of any linked site or any link contained in a linked site, or any changes or updates to such web sites. GG provides these links to you only as a convenience, and the inclusion of any link does not imply that GG endorses or accepts any responsibility for the content on such third-party web site. Your correspondence or business dealings with, or participation in promotions of, advertisers or sponsors found on or through the Services (including payment and delivery of related goods or services, any personal information or opt-in contact information voluntarily given to advertisers and sponsors, and any other terms, conditions, warranties or representations associated with such dealings) are solely between you and such advertiser or sponsor. You agree that GG will not be responsible or liable for any loss or damage of any sort incurred as the result of any such dealings, including the sharing of the information you supply to GG with advertisers or sweepstakes sponsors, or as the result of the presence of such advertisers on the Services. Please visit our Privacy Policy to learn more about how we use your information.</span>
  </p>
  <h2 class="P5">
    <a id="a__6__Copyright_Policy_"><span/></a><span class="T6">6. Copyright Policy.</span></h2>
  <p class="P4"><span class="T4">GG may terminate the account and access rights of any repeat infringer. If User is a copyright owner or the legal agent of a copyright owner, and User believes that any material used on the Site or Services infringes upon User’s copyrights, User may submit a notification to sid@greedygame.com</span>
  </p>
  <h2 class="P5">
    <a id="a__7__Modifications_"><span/></a><span class="T6">7. Modifications.</span></h2>
  <h3 class="P6">
    <a id="a__The_Internet_and_technology_are_rapidly_changing_"><span/></a><span class="T7">The Internet and technology are rapidly changing.</span></h3>
  <p class="P4"><span class="T4">Accordingly, GG may need to modify the Agreement from time to time. GG will post on the Site a copy of the modified Agreement, which will become effective 30 days after it is first posted on the Site. User should regularly review the Site to ensure that User is informed of any changes and if you are also a Registered User, be sure that the email address on record is current. If you are a Registered User, GG will also email you to the email address then on record a link to a copy of the modified Agreement 30 days before it will go in effect. If any modification is unacceptable to you, you shall cease using the Site and the Services. Your continued access to the Site or the Services will indicate you have accepted the change.</span>
  </p>
  <h2 class="P5">
    <a id="a__8__Fees_and_Payments"><span/></a><span class="T6">8. Fees and Payments</span></h2>
  <h3 class="P6">
    <a id="a__Some_of_the_Services_require_payment_of_fees_"><span/></a><span class="T7">Some of the Services require payment of fees.</span></h3>
  <p class="P4"><span class="T4">GG reserves the right to change its price list and to institute new charges at any time, upon prior notice to User, which may be sent by email or posted on the Site. If User is an advertiser, User shall pre-pay all applicable fees, as described on the Site, in connection with such Services selected by User. If User is a publisher, User shall receive a percentage of the Net Revenue of advertisements associated with User's use of the Services as solely determined by GG. " Advertising Sales Revenue”</span>
    <span class="T11"> </span><span class="T4"> shall mean revenues actually received by GG from the sale, use or other disposition of advertisements displayed on Publisher's Mobile Property less sales, use and excise taxes, less any agency commissions, carrier and/or partner fees, and less any allowances actually made or taken for returns, cash discounts or promotional allowances but excluding other revenues indirectly earned, if applicable, for consulting, planning and targeting, copywriting, site building, account management or technical modifications or technical innovations which may be charged by GG to third parties from time to time. The portion of Advertising Sales Revenue received by User shall be determined on the first Monday of each calendar month, on which day those revenues accrued to User's account thirty (30) or more days earlier shall become eligible to be paid. Payments to User shall be sent by GG only if User's earned balance is greater than or equal to $50USD (FIFTY Dollars, US). If User's earned balance is less than $50USD, no payment shall be sent until the following calendar month, on the first Monday of which GG shall make the aforesaid determination anew. Payments will be calculated solely based on our accounting. Payments shall be made upon submission of invoice by the Publisher within 7 working days from updation of earned balance on the Site. Payments to you may be withheld to reflect or adjusted to exclude any amounts refunded or credited to advertisers and any amounts arising from invalid activity, as determined by GG in its sole discretion.  Invalid activity is determined by GG in all cases and includes, but is not limited to, (i) spam, invalid impressions or invalid clicks on Ads generated by any person, bot, automated program or similar device, including through any clicks or impressions originating from your IP addresses or computers under your control; (ii) clicks solicited or impressions generated by payment of money and false representation; (iii) clicks or impressions co-mingled with a significant amount of the activity described in (I and ii) above, or (iv) any breach of this Agreement by User. If User disputes any payment made in connection with the Services, User must notify GG in writing within thirty (30) days of any such payment. Failure to so notify GG shall result in the waiver by User of any claims related to such disputed payment. To ensure proper payment, User is solely responsible for providing and maintaining accurate contact and payment information associated with User's account. User agrees to pay all applicable taxes or charges imposed by any government entity in connection with User's use of the Services.</span>
  </p>
  <h2 class="P5">
    <a id="a__9__Disclaimer_of_Warranty_"><span/></a><span class="T6">9. Disclaimer of Warranty.</span></h2>
  <h2 class="P5">
    <a id="a__If_you_are_a_publisher__User_specifically_acknowledges_and_agrees_that_GG_has_no_control_over__and_is_merely_a_passive_conduit_with_respect_to__any_content_that_may_be_submitted_or_published_by_any_advertiser__and_that_User_is_solely_responsible__and_assumes_all_liability_and_risk__for_determining_whether_or_not_such_content_is_appropriate_or_acceptable_to_User__and__ii__if_User_is_an_advertiser__User_specifically_acknowledges_and_agrees_that_GG_has_no_control_over_any_content_that_may_be_available_or_published_on_any_publisher_Site__or_otherwise___and_that_User_is_solely_responsible__and_assumes_all_liability_and_risk__for_determining_whether_or_not_such_content_is_appropriate_or_acceptable_to_User_"><span/></a><span class="T5">If you are a publisher, User specifically acknowledges and agrees that GG has no control over (and is merely a passive conduit with respect to) any content that may be submitted or published by any advertiser, and that User is solely responsible (and assumes all liability and risk) for determining whether or not such content is appropriate or acceptable to User, and (ii) if User is an advertiser, User specifically acknowledges and agrees that GG has no control over any content that may be available or published on any publisher Site (or otherwise), and that User is solely responsible (and assumes all liability and risk) for determining whether or not such content is appropriate or acceptable to User.</span></h2>
  <h3 class="P6">
    <a id="a__No_Warranties_"><span/></a><span class="T7">No Warranties.</span></h3>
  <p class="P4"><span class="T4">THIS SECTION WILL APPLY TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW. GG PROVIDES THE SITE AND THE SERVICES ON AN “AS IS” AND “AS AVAILABLE” BASIS AND GRANTS NO WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED, STATUTORY OR OTHERWISE WITH RESPECT TO THE SERVICES OR THE SITE (INCLUDING ALL INFORMATION CONTAINED THEREIN), INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT. GG DOES NOT WARRANT THAT YOUR USE OF THE SITE AND THE SERVICES WILL BE SECURE, UNINTERRUPTED, ALWAYS AVAILABLE, ERROR-FREE OR WILL MEET YOUR REQUIREMENTS, OR THAT ANY DEFECTS IN THE SITE OR THE SERVICES WILL BE CORRECTED. GG DISCLAIMS LIABILITY FOR, AND NO WARRANTY IS MADE WITH RESPECT TO, THE CONNECTIVITY AND AVAILABILITY OF THE SITE OR THE SERVICES.</span>
  </p>
  <h3 class="P6">
    <a id="a__Beta_Features_"><span/></a><span class="T7">Beta Features.</span></h3>
  <p class="P4"><span class="T4">From time to time, GG may offer new “beta” features or tools with which its users may experiment on the Services. Such features or tools are offered solely for experimental purposes and without any warranty of any kind, and may be modified or discontinued at GG’s sole discretion. The provisions of this Disclaimer of Warranty section apply with full force to such features or tools.</span>
  </p>
  <h2 class="P5">
    <a id="a__10__Limitation_of_Liability_"><span/></a><span class="T6">10. Limitation of Liability.</span></h2>
  <h3 class="P6">
    <a id="a__Incidental_Damages_and_Aggregate_Liability_"><span/></a><span class="T7">Incidental Damages and Aggregate Liability.</span></h3>
  <p class="P4"><span class="T4">IN NO EVENT WILL GG BE LIABLE FOR ANY INCIDENTAL, SPECIAL, CONSEQUENTIAL OR INDIRECT DAMAGES ARISING OUT OF OR RELATING TO THE USE OR INABILITY TO USE THE SITE OR THE SERVICES, INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OR CORRUPTION OF DATA OR PROGRAMS, SERVICE INTERRUPTIONS AND PROCUREMENT OF SUBSTITUTE SERVICES, EVEN IF GG KNOWS OR HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. UNDER NO CIRCUMSTANCES WILL GG’S AGGREGATE LIABILITY, IN ANY FORM OF ACTION WHATSOEVER IN CONNECTION WITH THIS AGREEMENT OR THE USE OF THE SERVICES OR THE SITE, EXCEED THE NET AMOUNT PAID BY GG TO USER DURING THE THREE MONTH PERIOD IMMEDIATELY PRECEDING THE DATE OF THE RELEVANT CLAIM, OR, IF NO AMOUNT HAS BEEN PAID, THE AMOUNT OF $50USD.</span>
  </p>
  <h3 class="P6">
    <a id="a__No_Liability_for_non-GG_Actions_"><span/></a><span class="T7">No Liability for non-GG Actions.</span></h3>
  <p class="P4"><span class="T4">TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL GG BE LIABLE FOR ANY DAMAGES WHATSOEVER, WHETHER DIRECT, INDIRECT, GENERAL, SPECIAL, COMPENSATORY, CONSEQUENTIAL, AND/OR INCIDENTAL, ARISING OUT OF OR RELATING TO THE CONDUCT OF YOU OR ANYONE ELSE IN CONNECTION WITH THE USE OF THE SITE OR THE </span>
    <span class="T4">SERVICES, INCLUDING WITHOUT LIMITATION, BODILY INJURY, EMOTIONAL DISTRESS, AND/OR ANY OTHER DAMAGES RESULTING FROM COMMUNICATIONS OR MEETINGS WITH OTHER REGISTERED USERS OF THE SERVICES . THIS INCLUDES ANY CLAIMS, LOSSES OR DAMAGES ARISING FROM THE
      CONDUCT OF USERS WHO HAVE REGISTERED UNDER FALSE PRETENSES OR WHO ATTEMPT TO DEFRAUD OR HARM YOU.</span>
  </p>
  <p class="P4"><span class="T4">Information Verification. GG and its contractors may use various ways of verifying information that users have provided. However, none of those ways are perfect, and you agree that GG and its contractors will have no liability to you arising from any incorrectly verified information.</span>
  </p>
  <h2 class="P5">
    <a id="a__11__Indemnification_"><span/></a><span class="T6">11. Indemnification.</span></h2>
  <p class="P4"><span class="T4">You agree to indemnify, defend and hold harmless GG, its officers, members, managers, directors, employees, agents and third parties, for any losses, costs, liabilities and expenses (including reasonable attorneys’ fees) relating to or arising out of or from (a) your use of or inability to use the Site or Services (b) your violation of any terms of this Agreement or your violation of any rights of a third party, or (c) your violation of any applicable laws, rules or regulations. GG reserves the right, at its own cost, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will fully cooperate with GG in asserting any available defenses.</span>
  </p>
  <h2 class="P5">
    <a id="a__12__Complaints___Law_Enforcement_Contact_"><span/></a><span class="T6">12. Complaints / Law Enforcement Contact.</span></h2>
  <p class="P4"><span class="T4">We urge you to report any violations of this Agreement that come to your attention. To resolve a complaint regarding the Site or the Services, contact customer service at sid@greedygame.com. Law enforcement officials may send correspondence (such as subpoenas, court orders and warrants) to GG’s office address as mentioned on the Site, or contact its General Counsel at sid@greedygame.com</span>
  </p>
  <h2 class="P5">
    <a id="a__13__Communication_and_Privacy_"><span/></a><span class="T6">13. Communication and Privacy.</span></h2>
  <p class="P4"><span class="T4">We may use your email address to send you messages notifying you of important changes to the Site or the Services. Further, we may contact you by telephone if you voluntarily provide us with your telephone number, in order to communicate with you regarding the Services. If you do not want to receive such email messages or telephone calls (including at any wireless number you may have voluntarily provided us), please refer to our Privacy Policy to review your options.</span>
  </p>
  <h2 class="P5">
    <a id="a__14__Term_and_Termination_"><span/></a><span class="T6">14. Term and Termination.</span></h2>
  <p class="P4"><span class="T4">This Agreement will become effective upon your acceptance of the Agreement by your use of the Site or the Services and will remain in effect in perpetuity unless terminated hereunder. Either you or GG may terminate your account at any time, for any reason or no reason, without explanation, effective upon sending written notice to the other party. GG reserves the right to immediately suspend or terminate your access to any of the Services, without notice, for any reason or no reason. We also reserve the right to remove your account information or data from our Services and any other records at any time at our sole discretion. Any fees paid hereunder are non-refundable and non-cancelable. You may terminate your account by following the instructions on the Site, or by sending a notice of cancellation to: sid@greedygame.com. Upon termination of </span>
    <span class="T4">the User’s account, User’s right to use the Service will immediately cease and User will remove all GG code from User’s Mobile Properties. Following any termination of any Registered User’s use of the Service, GG reserves the right to send a notice
      thereof to other Registered Users which whom you have corresponded. The termination or expiration of this Agreement shall not affect any of the provisions of this Agreement which are expressly or by implication to come into or continue in force
      after such termination or expiration, including Sections 3, 10, 11 and this Section 14 (and provision hereof required to implement or establish the meaning of the provisions of such Sections).</span>
  </p>
  <h2 class="P5">
    <a id="a__15__Software_Development_Kit_"><span/></a><span class="T6">15. Software Development Kit.</span></h2>
  <p class="P4"><span class="T4">The Software Development Kit (SDK) is available at</span><span class="apple-converted-space"><span class="T4"> https://github.com/GreedyGame/</span></span><span class="T4"> and subject to the End User License Agreement therefore.</span>
  </p>
  <h2 class="P5">
    <a id="a__16__Your_Privacy_Policy_and_Terms_of_Use_"><span/></a><span class="T6">16. Your Privacy Policy and Terms of Use.</span></h2>
  <p class="P4"><span class="T4">If User is a publisher, User will have and abide by a privacy policy that discloses that third parties may be using cookies, web beacons, and other technologies to collect information. If User collects, processes, or discloses location-based information in connection with the Services, User must follow a legal and appropriate method for obtaining explicit consent from User’s end users and make appropriate disclosures in User’s privacy policy. </span>
  </p>
  <h2 class="P5">
    <a id="a__17__Representations_and_Warranties_"><span/></a><span class="T6">17. Representations and Warranties.</span></h2>
  <p class="P4"><span class="T4">If User is a publisher, User represents and warrants to GG that (i) User is the owner of each Mobile Property User designates in connection with the use of Services or that User is legally authorized to act on behalf of the owner of such Mobile Property for the purposes of this Agreement, and (ii) User has all necessary right, power and authority to enter into this Agreement and to perform the acts required of User hereunder. User further represents and warrants to GG that each of User's Mobile Properties and any material displayed therein: (a) comply with all applicable laws, statutes, ordinances and regulations; (b) do not breach and have not breached any duty toward or rights of any person or entity including, without limitation, rights of intellectual property, publicity or privacy, or rights or duties under consumer protection, product liability, tort, or contract theories; and (c) are not hate-related in content. If User is an advertiser, User represents and warrants to GG that (i) User is the owner of each advertisement User designates in connection with the use of Services or that User is legally authorized to act on behalf of the owner of such advertisement for the purposes of this Agreement, and (ii) User has all necessary right, power and authority to enter into this Agreement and to perform the acts required of User hereunder. User further represents and warrants to GG that each of User's advertisements and any material displayed therein: (a) comply with all applicable laws, statutes, ordinances and regulations; (b) do not breach and have not breached any duty toward or rights of any person or entity including, without limitation, rights of intellectual property, publicity or privacy, or rights or duties under consumer protection, product liability, tort, or contract theories; (c) are not hate-related in content and (d) are free from viruses and any other contaminants of any nature whatsoever.</span>
  </p>
  <h2 class="P5">
    <a id="a__18__General_Provisions_"><span/></a><span class="T6">18. General Provisions.</span></h2>
  <h3 class="P6">
    <a id="a__Controlling_Law_and_Jurisdiction_"><span/></a><span class="T7">Controlling Law and Jurisdiction.</span></h3>
  <p class="P4"><span class="T4">You agree that Indian law (without giving effect to its conflicts of law principles) will govern this Agreement, the Site and the Services and that any dispute arising out of, from, or relating to this Agreement, the Site or the Services will be subject to the exclusive jurisdiction and venue of the courts located in the New Delhi, India. You acknowledge and agree that any violation of this Agreement may cause GG irreparable harm, and therefore agree that GG will be entitled to seek extraordinary relief in court, including but not limited to temporary restraining orders, preliminary injunctions and permanent injunctions without the necessity of posting a bond or other security, in addition to and without prejudice to any other rights or remedies that GG may have for a breach of this Agreement.</span>
  </p>
  <h3 class="P6">
    <a id="a__Miscellaneous_"><span/></a><span class="T7">Miscellaneous.</span></h3>
  <p class="P4"><span class="T4">This Agreement, the Privacy Policy located on the Site and any applicable payment, renewal, Additional Services terms, comprise the entire agreement between you and GG regarding the use of this Service, superseding any prior agreements between you and GG related to your use of this Site or the Services (including, but not limited to, any prior versions of this Agreement). Unless otherwise explicitly stated, the Agreement will survive termination of your registration to the Service. The failure of GG to exercise or enforce any right or provision of this Agreement does not constitute a waiver of such right or provision. If any provision of this Agreement is held invalid, the remainder of this Agreement will continue in full force and effect. For purposes of contract interpretation, including resolution of any ambiguity, the parties acknowledge that the terms of the Agreement should not be strictly construed against either party. Regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to the use of the Site or the Services or this Agreement must be filed within one (1) year after such claim or cause of action arose or be forever barred. The section titles in this Agreement are for convenience only and have no legal or contractual effect.</span>
  </p>
  <h2 class="P5">
    <a id="a__19__No_Third_Party_Beneficiaries_"><span/></a><span class="T6">19. No Third Party Beneficiaries.</span></h2>
  <p class="P4"><span class="T4">You agree that, except as otherwise expressly provided in this Agreement, there shall be no third party beneficiaries to this Agreement.</span>
  </p>
  <h2 class="P5">
    <a id="a__20__Revision_Date_"><span/></a><span class="T6">20. Revision Date.</span></h2>
  <p class="P4"><span class="T4">This Agreement was last revised on 12</span><span class="T8">th</span><span class="T4"> Jan, 2016.</span>
  </p>
  <p class="P4"><span class="T4">Copyright © 2017 GreedyGame Pvt. Ltd. All Rights Reserved.</span>
  </p>
  <button type="button" class="btn btn-primary" ng-click="ctrl.agree()" aria-label="Close">Agree</button>
</div>
