<div class="col-md-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <i class="fa fa-group fa-fw"></i> Team Members
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12" ng-hide="currentRole === 2">
          <form name="teamManagementForm" class="form-vertical" role="form" style="margin-bottom: 1em;">
            <div class="form-group" ng-class="{ 'has-error':teamManagementForm.email.$touched && teamManagementForm.email.$invalid }">
              <div errorbox ng-model="ctrl.newTeamMember.serverError"></div>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Member's Email</span>
                <input id="help-section-memberemail" name="email" placeholder="Add Member's Email" type="email" class="form-control" ng-model="ctrl.newTeamMember.email" required />
                <span class="input-group-btn">
            <button type="button" id="help-section-membererole" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-click="clickTrack('TeamManagement', 'SelectRoleClicked','SelectRoleDropdown')" aria-haspopup="true" aria-expanded="false">{{ctrl.getRoleName(ctrl.newTeamMember.publisher_role)}} <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li ng-show="currentRole === 0"><a ng-click="ctrl.newTeamMember.publisher_role=0;clickTrack('TeamManagement', 'SelectRoleClicked','Admin')">Admin</a></li>
                  <li><a ng-click="ctrl.newTeamMember.publisher_role=1;clickTrack('TeamManagement','SelectRoleClicked','Developer')">Developer</a></li>
                  <li><a ng-click="ctrl.newTeamMember.publisher_role=2;clickTrack('TeamManagement','SelectRoleClicked','Tester')">Tester</a></li>
                </ul>
                <button class="btn btn-primary" id="help-section-addmemberer" ng-disabled="teamManagementForm.$invalid || (ctrl.newTeamMember.publisher_role=== undefined) " promise-click="ctrl.addMember(ctrl.newTeamMember,teamManagementForm);" ng-click=" clickTrack('TeamManagement','AddMembersClicked','Add Members')">Add Member</button>
                </span>
              </div>
              <div ng-messages="teamManagementForm.email.$touched && teamManagementForm.email.$error" role="alert" style="color:maroon">
                <div ng-message="required">Please enter the member's email</div>
                <div ng-message="email">Please enter a valid email</div>
              </div>
              <div ng-messages="ctrl.newTeamMember.serverError.data" role="alert" style="color:maroon">
                <div ng-message="email">{{ctrl.newTeamMember.serverError.data.email}}</div>
                <div ng-message="publisher_role">{{ctrl.newTeamMember.serverError.data.publisher_role}}</div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-12">
          <div ng-if="ctrl.teamMembersError">
            <center>
              <h4>Unable to fetch user data</h4></center>
          </div>
          <table class="table table-striped table-bordered table-advance table-hover" ng-if="ctrl.teamMembers.length > 0">
            <thead>
              <th>Email</th>
              <th>Member Role</th>
              <th>Action</th>
            </thead>
            <tbody>
              <tr ng-repeat="teamMember in ctrl.teamMembers" class="fadetest fade-animation-teamanagement">
                <td>{{teamMember.email}} <span ng-if="me.email == teamMember.email"><strong>(you)</strong></span>
                </td>
                <td>
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="!ctrl.isOperationAllowed(teamMember)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="clickTrack('TeamManagement','ChangeRoleClicked','ChangeRoleDropdown')">
                      <i ng-show="teamMember.isloading === true" class="fa fa-spinner fa-spin" aria-hidden="true"></i> {{ctrl.getRoleName(teamMember.publisher_role)}}
                      <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li ng-show="currentRole === 0"><a ng-click="ctrl.editMember(teamMember,0);clickTrack('TeamManagement','ChangeRoleClicked','Admin')">Admin</a></li>
                      <li><a ng-click="ctrl.editMember(teamMember,1);clickTrack('TeamManagement','ChangeRoleClicked','Developer')">Developer</a></li>
                      <li><a ng-click="ctrl.editMember(teamMember,2);clickTrack('TeamManagement','ChangeRoleClicked','Tester')">Tester</a></li>
                    </ul>
                  </div>
                  <div ng-messages="teamMember.serverError.data" role="alert" style="color:maroon">
                    <div ng-if="teamMember.serverError.config.method == 'POST'">Failed, please try again</div>
                    <div ng-message="publisher_role">{{teamMember.serverError.data.publisher_role}}</div>
                  </div>
                </td>
                <td>
                  <button type="button" class="btn btn-danger" promise-click="ctrl.deleteMember(teamMember)" ng-click="clickTrack('TeamManagement','RemoveMemberClicked','Remove')" ng-disabled="!ctrl.isOperationAllowed(teamMember)">
                    Remove <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                  <div ng-messages="teamMember.serverError.data" role="alert" style="color:maroon">
                    <div ng-if="teamMember.serverError.config.method == 'DELETE'">Failed, please try again</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
