<div class="col-md-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <i class="fa fa-building" aria-hidden="true"></i> Company Profile
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div errorbox ng-if="ctrl.companyError.config.method == 'GET'" ng-model="ctrl.companyError"></div>
      <center ng-if="currentRole!==0" style="margin-bottom: 20px;opacity: 0.5"><span>You dont have permission to change values</span></center>
      <form class="form-horizontal" name="companyProfileName" role="form">
        <div class="form-group required" ng-class="{ 'has-error':ctrl.companyError.data.name || (companyProfileName.name.$touched && companyProfileName.name.$invalid) }">
          <label class="col-md-3 control-label">Name of the Company </label>
          <div class="col-md-9">
            <input type="text" class="form-control" ng-disabled="currentRole!==0" placeholder="Company Name" ng-model="ctrl.companyProfile.name" name="name" required />
            <div ng-messages="companyProfileName.name.$touched && companyProfileName.name.$error" role="alert" style="color:maroon">
              <div ng-message="required">Please enter your company name</div>
            </div>
            <div ng-messages="ctrl.companyError.data" style="color:maroon">
              <div ng-message="name" ng-repeat="error in ctrl.companyError.data.name">{{error}}</div>
            </div>
          </div>
        </div>
        <div class="form-group required" ng-class="{ 'has-error': ctrl.companyError.data.address || (companyProfileName.address.$touched && companyProfileName.address.$invalid) }">
          <label class="col-md-3 control-label">Address</label>
          <div class="col-md-9">
            <input type="text" class="form-control" ng-disabled="currentRole!==0" placeholder="Company Address" name="address" ng-model="ctrl.companyProfile.address" required />
            <div ng-messages="companyProfileName.address.$touched && companyProfileName.address.$error" role="alert" style="color:maroon">
              <div ng-message="required">Please enter your company address</div>
            </div>
            <div ng-messages="ctrl.companyError.data" style="color:maroon">
              <div ng-message="address" ng-repeat="error in ctrl.companyError.data.address">{{error}}</div>
            </div>
          </div>
        </div>
        <div class="form-group required" ng-class="{ 'has-error':ctrl.companyError.data.country || (companyProfileName.country.$touched && companyProfileName.country.$invalid) }">
          <label class="col-md-3 control-label">Country</label>
          <div class="col-md-9">
            <ui-select ng-model="ctrl.companyProfile.country" name="country" ng-disabled="currentRole!==0" on-select="ctrl.companyProfile.state=null;ctrl.companyProfile.city=null;ctrl.getStateList('',ctrl.companyProfile.country);" placeholder="Select a country" theme="bootstrap" title="Choose a country" required>
              <ui-select-match placeholder="Select a country">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="country.id as country  in ctrl.companyCountryList" refresh="ctrl.getCountryList($select.search)">
                <span ng-bind-html="country.name"></span>
              </ui-select-choices>
              <ui-select-no-choice>
                <p>
                  <center>No Country found</center>
                </p>
              </ui-select-no-choice>
            </ui-select>
            <div ng-messages="companyProfileName.country.$touched && companyProfileName.country.$error" role="alert" style="color:maroon">
              <div ng-message="required">Please select your country</div>
            </div>
            <div ng-messages="ctrl.companyError.data" style="color:maroon">
              <div ng-message="country" ng-repeat="error in ctrl.companyError.data.country">{{error}}</div>
            </div>
          </div>
        </div>
        <div class="form-group required" ng-class="{ 'has-error':ctrl.companyError.data.state || (companyProfileName.state.$touched && companyProfileName.state.$invalid) }">
          <label class="col-md-3 control-label">State</label>
          <div class="col-md-9">
            <ui-select ng-model="ctrl.companyProfile.state" name="state" ng-disabled="currentRole!==0" search-enabled="true" on-select="ctrl.companyProfile.city=null;ctrl.getCityList('',ctrl.companyProfile.state);" spinner-enabled="true" placeholder="Select a state" theme="bootstrap" title="Choose a state" required>
              <ui-select-match placeholder="Select a state">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="state.id as state  in ctrl.companyStateList" refresh="ctrl.getStateList($select.search,ctrl.companyProfile.country)" refresh-delay="0">
                <span ng-bind-html="state.name"></span>
              </ui-select-choices>
              <ui-select-no-choice>
                <p>
                  <center>No State found</center>
                </p>
              </ui-select-no-choice>
            </ui-select>
            <div ng-messages="companyProfileName.state.$touched && companyProfileName.state.$error" role="alert" style="color:maroon">
              <div ng-message="required">Please select your state</div>
            </div>
            <div ng-messages="ctrl.companyError.data" style="color:maroon">
              <div ng-message="state" ng-repeat="error in ctrl.companyError.data.state">{{error}}</div>
            </div>
          </div>
        </div>
        <div class="form-group required" ng-class="{ 'has-error':ctrl.companyError.data.city || (companyProfileName.city.$touched && companyProfileName.city.$invalid) }">
          <label class="col-md-3 control-label">City</label>
          <div class="col-md-9">
            <ui-select ng-model="ctrl.companyProfile.city" name="city" ng-disabled="currentRole!==0" spinner-enabled="true" search-enabled="true" placeholder="Select a city" theme="bootstrap" title="Choose a city" required>
              <ui-select-match placeholder="Select a city">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="city.id as city  in ctrl.companyCityList" refresh="ctrl.getCityList($select.search, ctrl.companyProfile.state)" refresh-delay="0">
                <span ng-bind-html="city.name"></span>
              </ui-select-choices>
              <ui-select-no-choice>
                <p>
                  <center>No City found</center>
                </p>
              </ui-select-no-choice>
            </ui-select>
            <div ng-messages="companyProfileName.city.$touched && companyProfileName.city.$error" role="alert" style="color:maroon">
              <div ng-message="required">Please select your city</div>
            </div>
            <div ng-messages="ctrl.companyError.data" style="color:maroon">
              <div ng-message="city" ng-repeat="error in ctrl.companyError.data.city">{{error}}</div>
            </div>
          </div>
        </div>
        <div class="form-group required" ng-class="{ 'has-error':ctrl.companyError.data.zipcode || (companyProfileName.pinCode.$touched && companyProfileName.pinCode.$invalid) }">
          <label class="col-md-3 control-label">Pin Code</label>
          <div class="col-md-9">
            <input type="text" class="form-control" ng-disabled="currentRole!==0" name="pinCode" placeholder="Pin Code" ng-model="ctrl.companyProfile.zipcode" required />
            <div ng-messages="companyProfileName.pinCode.$touched && companyProfileName.pinCode.$error" role="alert" style="color:maroon">
              <div ng-message="required">Please enter your pincode</div>
            </div>
            <div ng-messages="ctrl.companyError.data" style="color:maroon">
              <div ng-message="zipcode" ng-repeat="error in ctrl.companyError.data.zipcode">{{error}}</div>
            </div>
          </div>
        </div>
        <div class="form-group required" ng-class="{ 'has-error':ctrl.companyError.data.taxregnum || (companyProfileName.GSTNumber.$touched && companyProfileName.GSTNumber.$invalid) }">
          <label class="col-md-3 control-label">{{(ctrl.companyProfile.country === 1269750 )?'GST Number':'Tax Registration Number'}}</label>
          <div class="col-md-9">
            <input type="text" class="form-control" ng-disabled="currentRole!==0" name="GSTNumber" placeholder="{{(ctrl.companyProfile.country.id === 1269750 )?'GST Number':'Tax Registration Number'}}" ng-model="ctrl.companyProfile.taxregnum" ng-pattern="'^[a-zA-Z0-9]*$'" required />
            <div ng-messages="companyProfileName.GSTNumber.$touched && companyProfileName.GSTNumber.$error" role="alert" style="color:maroon">
              <div ng-message="required">Please enter your {{(ctrl.companyProfile.country === 1269750 )?'GST Number':'Tax Registration Number'}}</div>
              <div ng-message="pattern">Please enter a valid Tax Registeration/GST number.</div>
            </div>
            <div ng-messages="ctrl.companyError.data" role="alert" style="color:maroon">
              <div ng-message="taxregnum" ng-repeat="error in ctrl.companyError.data.taxregnum">{{error}}</div>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-3 col-md-9">
              <div errorbox ng-model="ctrl.companyError" ng-if="ctrl.companyError.config.method !== 'GET'"></div>
              <button type="submit" class="btn btn-primary" ng-disabled="companyProfileName.$invalid || currentRole!==0 || ctrl.isCompanyProfileChanged(ctrl.companyProfile)" promise-click="ctrl.saveCompanyProfile(ctrl.companyProfile)">Save
              </button>
              <button class="btn btn-default" ng-disabled="currentRole!==0 || ctrl.isCompanyProfileChanged(ctrl.companyProfile)" ng-click="ctrl.resetCompanyProfile(ctrl.companyProfile)">Reset</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>