<div class="col-md-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <i class="fa fa-terminal fa-fw"></i>Change Password
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <form name="changePasswordForm" class="form-horizontal" role="form">
        <div class="form-group required" ng-class="{ 'has-error':changePasswordForm.old_password.$touched && changePasswordForm.old_password.$invalid }">
          <label for="old_password" class="col-md-3 control-label">Current Password</label>
          <div class="col-md-9">
            <input ng-model="ctrl.changePassword.oldPassword" name="old_password" type="password" class="form-control" placeholder="Current Password" required />
            <div ng-messages="changePasswordForm.old_password.$touched && changePasswordForm.old_password.$error" role="alert" style="color:maroon">
              <div ng-message="required">Please enter your current password</div>
            </div>
            <div ng-messages="ctrl.changePasswordError.data" role="alert" style="color: maroon">
              <div ng-message="old_password" ng-repeat="error in ctrl.changePasswordError.data.old_password">{{error}}</div>
            </div>
          </div>
        </div>
        <div class="form-group required" ng-class="{ 'has-error':changePasswordForm.newpassword.$touched && changePasswordForm.newpassword.$invalid }">
          <label for="newpassword" class="col-md-3 control-label">New Password</label>
          <div class="col-md-9">
            <input ng-model="ctrl.changePassword.newPassword" name="newpassword" type="password" class="form-control" placeholder="New Password" required />
            <div ng-messages="changePasswordForm.newpassword.$touched && changePasswordForm.newpassword.$error" role="alert" style="color:maroon">
              <div ng-message="required">Please enter your new password</div>
            </div>
            <div ng-messages="ctrl.changePasswordError.data" role="alert" style="color: maroon">
              <div ng-message="new_password" ng-repeat="error in ctrl.changePasswordError.data.new_password">{{error}}</div>
            </div>
          </div>
        </div>
        <div class="form-group required" ng-class="{ 'has-error':changePasswordForm.confirmpassword.$touched && changePasswordForm.confirmpassword.$invalid }">
          <label for="confirmpassword" class="col-md-3 control-label">Confirm Password</label>
          <div class="col-md-9">
            <input ng-model="ctrl.changePassword.confirmNewPassword" name="confirmpassword" type="password" class="form-control" placeholder="Confirm Password" data-password-verify="ctrl.changePassword.newPassword" required />
            <div ng-messages="changePasswordForm.confirmpassword.$touched && changePasswordForm.confirmpassword.$error" role="alert" style="color:maroon">
              <div ng-message="required">Please re-enter your new password</div>
              <div ng-message="passwordVerify">Passwords do not match! Try again.</div>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-3 col-md-9">
              <div errorbox ng-model="ctrl.changePasswordError"></div>
              <button promise-click="ctrl.changeUserPassword(changePasswordForm)" ng-disabled="changePasswordForm.$invalid" class="btn btn-primary">
                <span>Change password 
                <i class="fa fa-arrow-right"></i></span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
