<div class="col-md-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <i class="fa fa-user" aria-hidden="true"></i> User Profile
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div errorbox ng-if="ctrl.basicProfileError.config.method == 'GET'" ng-model="ctrl.basicProfileError"></div>
      <form class="form-horizontal" name="baiscProfileForm" role="form">
        <div class="form-group required" ng-class="{ 'has-error': baiscProfileForm.firstName.$touched && baiscProfileForm.firstName.$invalid }">
          <label class="col-md-3 control-label">First Name</label>
          <div class="col-md-9">
            <input type="text" name="firstName" class="form-control" placeholder="First Name" ng-model="ctrl.basicProfile.first_name" required />
            <div ng-messages="baiscProfileForm.firstName.$touched && baiscProfileForm.firstName.$error" role="alert" style="color:maroon">
              <div ng-message="required">Please enter your first name</div>
            </div>
            <div ng-messages="ctrl.basicProfileError.data" role="alert" style="color: maroon">
              <div ng-message="first_name" ng-repeat="error in ctrl.basicProfileError.data.first_name">{{error}}</div>
            </div>
          </div>
        </div>
        <div class="form-group required" ng-class="{ 'has-error': baiscProfileForm.lastName.$touched && baiscProfileForm.lastName.$invalid }">
          <label class="col-md-3 control-label">Last Name</label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="lastName" placeholder="Last Name" ng-model="ctrl.basicProfile.last_name" required />
            <div ng-messages="baiscProfileForm.lastName.$touched && baiscProfileForm.lastName.$error" role="alert" style="color:maroon">
              <div ng-message="required">Please enter your last name.</div>
            </div>
            <div ng-messages="ctrl.basicProfileError.data" role="alert" style="color: maroon">
              <div ng-message="last_name" ng-repeat="error in ctrl.basicProfileError.data.last_name">{{error}}</div>
            </div>
          </div>
        </div>
        <div class="form-group required" ng-class="{ 'has-error': baiscProfileForm.mobile.$touched && baiscProfileForm.mobile.$invalid }">
          <label class="col-md-3 control-label">Mobile</label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="mobile" placeholder="Mobile" ng-model="ctrl.basicProfile.mobile_number" required />
            <div ng-messages="baiscProfileForm.mobile.$touched && baiscProfileForm.mobile.$error" role="alert" style="color:maroon">
              <div ng-message="required">Please enter your mobile number</div>
            </div>
            <div ng-messages="ctrl.basicProfileError.data" role="alert" style="color: maroon">
              <div ng-message="mobile_number" ng-repeat="error in ctrl.basicProfileError.data.mobile_number">{{error}}</div>
            </div>
          </div>
        </div>
        <div class="form-group required" ng-class="{ 'has-error': baiscProfileForm.imSelect.$touched && baiscProfileForm.imSelect.$invalid }">
          <label class="col-md-3 control-label">Instant Messenger</label>
          <div class="col-md-9">
            <ui-select ng-model="ctrl.basicProfile.instant_messenger" name="imSelect" theme="bootstrap" title="Choose a messenger for communication" required>
              <ui-select-match placeholder="Select a Messenger">{{($select.selected.name || $select.selected)['label']}}</ui-select-match>
              <ui-select-choices repeat="im.id as im in ctrl.instantMessangers">
                <span ng-bind-html="im.label"></span>
              </ui-select-choices>
            </ui-select>
            <div ng-messages="baiscProfileForm.imSelect.$touched && baiscProfileForm.imSelect.$error" role="alert" style="color:maroon">
              <div ng-message="required">Please select an instant messenger</div>
            </div>
            <div ng-messages="ctrl.basicProfileError.data" role="alert" style="color: maroon">
              <div ng-message="instant_messenger" ng-repeat="error in ctrl.basicProfileError.data.instant_messenger">{{error}}</div>
            </div>
          </div>
        </div>
        <div class="form-group required" ng-class="{ 'has-error': baiscProfileForm.imUsername.$touched && baiscProfileForm.imUsername.$invalid }">
          <label class="col-md-3 control-label">IM username</label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="imUsername" placeholder="IM username" ng-model="ctrl.basicProfile.username" required />
            <div ng-messages="baiscProfileForm.imUsername.$touched && baiscProfileForm.imUsername.$error" role="alert" style="color:maroon">
              <div ng-message="required">Please enter your Instant messenger username.</div>
            </div>
            <div ng-messages="ctrl.basicProfileError.data" role="alert" style="color: maroon">
              <div ng-message="username" ng-repeat="error in ctrl.basicProfileError.data.username">{{error}}</div>
            </div>
          </div>
        </div>
        <div class="form-group required" ng-class="{ 'has-error': baiscProfileForm.website.$touched && baiscProfileForm.website.$invalid }">
          <label class="col-md-3 control-label">Website</label>
          <div class="col-md-9">
            <input type="url" class="form-control" name="website" placeholder="Website" ng-model="ctrl.basicProfile.website" http-prefix required />
            <div ng-messages="baiscProfileForm.website.$touched && baiscProfileForm.website.$error" role="alert" style="color:maroon">
              <div ng-message="required">Please enter your website</div>
              <div ng-message="url">Please enter a valid url</div>
            </div>
            <div ng-messages="ctrl.basicProfileError.data" role="alert" style="color: maroon">
              <div ng-message="website" ng-repeat="error in ctrl.basicProfileError.data.website">{{error}}</div>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-3 col-md-9">
              <div errorbox ng-if="ctrl.basicProfileError.config.method !== 'GET'" ng-model="ctrl.basicProfileError"></div>
              <button type="submit" class="btn btn-primary" ng-disabled="baiscProfileForm.$invalid || ctrl.isChangeBasicProfile(ctrl.basicProfile)" promise-click="ctrl.saveBasicProfile(ctrl.basicProfile)">Save
              </button>
              <button type="submit" class="btn btn-default" ng-disabled="ctrl.isChangeBasicProfile(ctrl.basicProfile)" ng-click="ctrl.resetBasicProfile(basicProfile)">Reset</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>