<div class="col-md-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <i class="fa fa-file-excel-o fa-fw"></i> Invoicing
    </div>
    <div class="panel-body">
      <div ng-show="ctrl.invoicesError">
        <center>
          <h4>Unable to fetch the Invoices, please try again</h4></center>
      </div>
      <center ng-show="ctrl.invoices.results.length === 0">
        <h4>No Invoices to show</h4>
      </center>
      <div class="table-responsive" ng-show="ctrl.invoices.results.length >0">
        <table class="table table-bordered table-advance table-hover" id="programatic-campaign-details">
          <thead>
            <tr>
              <th id="help-section-reportingfrequency">
                Invoice Date
              </th>
              <th id="help-section-reportingrecivers">
                Amount
              </th>
              <th id="help-section-reportingaddrecivers">
                Review Invoice
              </th>
              <th id="help-section-reportingaddrecivers">
                Approve
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="invoice in ctrl.invoices.results">
              <td class="col-md-2">
                {{invoice.invoice_date*1000 | date: 'dd-MMM-yyyy' : 'UTC/GMT' }}
              </td>
              <td class="col-md-2">
                {{invoice.amount | currency:"$"}}
              </td>
              <td class="col-md-6">
                <a ng-click="ctrl.downloadInvoice(invoice)">{{(invoice.isDownloading)?'Downloading...':invoice.file_name}}</a>
              </td>
              <td class="col-md-2">
              <!-- Adding two, because to make use of promise click, TODO: create compiler service in promise click -->
                <button class="btn btn-primary" ng-show="invoice.status!==2" promise-click="ctrl.approveInvoice(invoice)">Approve</button>
                <button class="btn btn-primary" ng-show="invoice.status===2" ng-disabled="true">Approved</button>
                <div ng-messages="invoice.serverError.data" role="alert" style="color:maroon">
                  <div ng-if="invoice.serverError">Failed, please try again</div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p ng-show="ctrl.invoices.results.length > 0">Note: If you have issues related to any invoice, reach out to <a ng-href="https://mail.google.com/mail/?view=cm&fs=1&to=accounts@greedygame.com" target="_blank">accounts@greedygame.com</a></p>
    </div>
  </div>
</div>
