<div class="col-md-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <i class="fa fa-cogs" aria-hidden="true"></i> Floor eCPM
    </div>
    <div class="panel-body">
      <div errorbox ng-model="ctrl.ecpm.serverError"></div>
      <div class="row" style="margin-top: 15px">
        <div class="col-md-6">
          <div class="input-group">
            <span class="input-group-addon">Game</span>
            <ui-select ng-model="ctrl.ecpm.game" theme="bootstrap" title="Select a Game">
              <ui-select-match placeholder="Select a Game">{{$select.selected.title || $select.selected}}</ui-select-match>
              <ui-select-choices repeat="game in gameProfiles.results | filter:{title: $select.search}">
                <i class="fa fa-android android-icon" aria-hidden="true"></i><span ng-bind-html="game.title | highlight: $select.search"></span>
                <br/>&nbsp;&nbsp;&nbsp; #{{game.id}}
              </ui-select-choices>
              <ui-select-no-choice>
                <p>
                  <center>No Games are found</center>
                </p>
              </ui-select-no-choice>
            </ui-select>
          </div>
          <div ng-messages="ctrl.ecpm.serverError.data" role="alert" style="color:maroon">
            <div ng-message="game">{{ctrl.ecpm.serverError.data.game}}</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <span class="input-group-addon">Country</span>
            <ui-select ng-model="ctrl.ecpm.country" theme="bootstrap" title="Select a Country" ng-disabled="ctrl.disabled">
              <ui-select-match placeholder="Select a Country">{{$select.selected.name || $select.selected}}</ui-select-match>
              <ui-select-choices repeat="country in ctrl.countryList  | filter:{name: $select.search}">
                <span><i class="flag {{country.code3 | lowercase}}"></i>&nbsp;<span ng-bind-html="country.name | highlight: $select.search"></span></span>
              </ui-select-choices>
              <ui-select-no-choice>
                <p>
                  <center>No Countries are found</center>
                </p>
              </ui-select-no-choice>
            </ui-select>
          </div>
          <div ng-messages="ctrl.ecpm.serverError.data" role="alert" style="color:maroon">
            <div ng-message="country">{{ctrl.ecpm.serverError.data.country}}</div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 15px">
        <div class="col-md-6">
          <div class="input-group">
            <span class="input-group-addon">Campaign Type</span>
            <ui-select ng-model="ctrl.ecpm.campaignType" theme="bootstrap" title="Select a Campaign Type">
              <ui-select-match placeholder="Select a Campaign Type">{{$select.selected.name || $select.selected}}</ui-select-match>
              <ui-select-choices repeat="type in ctrl.campaignType | filter:{name: $select.search}">
                <span ng-bind-html="type.name | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
          <div ng-messages="ctrl.ecpm.serverError.data" role="alert" style="color:maroon">
            <div ng-message="campaignType">{{ctrl.ecpm.serverError.data.campaignType}}</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <span class="input-group-addon">Floor eCPM $</span>
            <input type="number" class="form-control" placeholder="Add Floor eCPM" name="floorEcpm" min="0.01" step="0.01" ng-model="ctrl.ecpm.floorEcpm" />
          </div>
          <div ng-messages="ctrl.ecpm.serverError.data" role="alert" style="color:maroon">
            <div ng-message="floorEcpm">{{ctrl.ecpm.serverError.data.floorEcpm}}</div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 15px">
        <div class="pull-right" style="padding: 15px">
          <button class="btn btn-primary" ng-disabled="!ctrl.ecpm.game || !ctrl.ecpm.country || !ctrl.ecpm.campaignType || !ctrl.ecpm.floorEcpm" promise-click="ctrl.addFloorecpm(ctrl.ecpm)">Add</button>
        </div>
      </div>
      <div class="row" style="padding:15px">
      </div>
      <center ng-show="ctrl.floorEcpms.results.length === 0" style="margin-top: 15px">
        <p>No Games are added</p>
      </center>
      <div class="table-responsive">
        <table class="table table-bordered table-advance table-hover" ng-show="ctrl.floorEcpms.results.length > 0">
          <thead>
            <tr>
              <th>
                Game
              </th>
              <th>
                Country
              </th>
              <th>
                Type
              </th>
              <th>
                Floor eCPM
              </th>
              <th>
                Updated-On
              </th>
              <th>
                Status
              </th>
              <th>
                Update
              </th>
              <th>
                Delete
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ecpm in ctrl.floorEcpms.results" class="fadetest fade-animation-teamanagement">
              <td>
                {{(gameProfiles.results | filter: {id: ecpm.game})[0].title }}
                <br/> #{{ecpm.game}}
              </td>
              <td>
                {{(ctrl.countryList | filter: {id: ecpm.country})[0].name }}
              </td>
              <td>{{ecpm.campaign_type}}</td>
              <td ng-show="ecpm.isUpdateMode">
                <input type="number" ng-focus="ecpm.isUpdateMode" class="form-control" name="floorEcpm" min="0.01" step="0.01" ng-model="ecpm.eCPM" />
              </td>
              <td ng-show="!ecpm.isUpdateMode">{{ecpm.eCPM | currency: $}}</td>
              <td>
                {{(ecpm.updated_at*1000) | date:'dd-MMM-yy'}}
              </td>
              <td>
                {{ecpm.status | enumConstantsFilter:'floorEcpmStatus' }}</td>
              <td>
                <button class="btn btn-primary" ng-disabled="ecpm.status!==2" ng-show="!ecpm.isUpdateMode" ng-click="ecpm.isUpdateMode=!ecpm.isUpdateMode">Update</button>
                <button class="btn btn-primary" ng-show="ecpm.isUpdateMode" ng-disabled="ecpm.isSaving" promise-click="ctrl.updateFloorecpm(ecpm)">Save</button>
                <div ng-messages="ecpm.isUpdateMode && ecpm.serverError.data" role="alert" style="color:maroon">
                  <div ng-if="ecpm.isUpdateMode && ecpm.serverError">Failed, please try again</div>
                </div>
              </td>
              <td>
                <button class="btn btn-default" ng-disabled="ecpm.status!==2" ng-show="!ecpm.isUpdateMode" promise-click="ctrl.removeFloorecpm(ecpm)">Remove</button>
                <div ng-messages="!ecpm.isUpdateMode && ecpm.serverError.data" role="alert" style="color:maroon">
                  <div ng-if="!ecpm.isUpdateMode && ecpm.serverError">Failed, please try again</div>
                </div>
                <button class="btn btn-default" ng-show="ecpm.isUpdateMode" ng-click="ecpm.isUpdateMode=!ecpm.isUpdateMode">Cancel</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div ng-show="ctrl.floorEcpmsError">
          <center>
            <h4>Unable to fetch requested floor eCPMs, please try again</h4></center>
        </div>
      </div>
    </div>
  </div>
</div>
</div>