<div class="col-md-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <i class="fa fa-ban" aria-hidden="true"></i> Programmatic Blacklist
    </div>
    <div class="panel-body">
      <div class="row" style="padding:15px">
        <div errorbox ng-model="ctrl.blacklist.serverError"></div>
        <div class="col-md-5" style="padding: 0px">
          <div class="input-group">
            <span class="input-group-addon">Game</span>
            <ui-select ng-model="ctrl.blacklist.game" theme="bootstrap" title="Select a game">
              <ui-select-match placeholder="Select a Game">{{$select.selected.title || $select.selected}}</ui-select-match>
              <ui-select-choices repeat="game in gameProfiles.results | filter:{title: $select.search}">
                <i class="fa fa-android android-icon" aria-hidden="true"></i><span ng-bind-html="game.title | highlight: $select.search"></span>
                <br/>&nbsp;&nbsp;&nbsp; #{{game.id}}
              </ui-select-choices>
              <ui-select-no-choice>
                <p>
                  <center>No Games are avialable</center>
                </p>
              </ui-select-no-choice>
            </ui-select>
          </div>
          <div ng-messages="ctrl.blacklist.serverError.data" role="alert" style="color:maroon">
            <div ng-message="game">{{ctrl.blacklist.serverError.data.game}}</div>
          </div>
        </div>
        <div class="col-md-5" style="padding: 0px">
          <div class="input-group">
            <span class="input-group-addon">Country</span>
            <ui-select ng-model="ctrl.blacklist.country" theme="bootstrap" ng-disabled="ctrl.disabled" title="Select a country">
              <ui-select-match placeholder="Select a Country">{{$select.selected.name || $select.selected}}</ui-select-match>
              <ui-select-choices repeat="country in ctrl.countryList | filter:{name: $select.search}">
                <span><i class="flag {{country.code3 | lowercase}}"></i>&nbsp;<span ng-bind-html="country.name | highlight: $select.search"></span></span>
              </ui-select-choices>
              <ui-select-no-choice>
               <p>
                  <center>No Country found</center>
                </p>
              </ui-select-no-choice>
            </ui-select>
            <div ng-messages="ctrl.blacklist.serverError.data" role="alert" style="color:maroon">
              <div ng-message="country">{{ctrl.blacklist.serverError.data.country}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-2" style="padding: 0px">
          <button class="btn btn-primary" ng-disabled="!ctrl.blacklist.game || !ctrl.blacklist.country" promise-click="ctrl.addProgramaticBlacklist(ctrl.blacklist.game,ctrl.blacklist.country)">Add</button>
        </div>
      </div>
      <div class="row" style="padding:15px">
        <div ng-if="ctrl.programaticBlacklistError">
          <center>
            <h4>Unable to fetch requested blacklist</h4></center>
        </div>
        <center ng-show="ctrl.programaticBlacklist.results.length === 0" style="margin-top: 15px">
          <p>No Games are blacklisted</p>
        </center>
        <div class="table-responsive">
          <table class="table table-bordered table-advance table-hover" ng-show="ctrl.programaticBlacklist.results.length > 0">
            <thead>
              <tr>
                <th>
                  Game
                </th>
                <th>
                  Country
                </th>
                <th>
                  Updated-On
                </th>
                <th>
                  Status
                </th>
                <th>
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="bl in ctrl.programaticBlacklist.results" class="fadetest fade-animation-teamanagement">
                <td>
                  {{(gameProfiles.results | filter: {id: bl.game})[0].title }}
                  <br/> #{{bl.game}}
                </td>
                <td>
                  {{(ctrl.countryList | filter: {id: bl.country})[0].name }}
                </td>
                <td>
                  {{(bl.updated_at*1000) | date:'dd-MMM-yy'}}
                </td>
                <td>
                  {{bl.status | enumConstantsFilter:'programaticBlacklistStatus' }}</td>
                <td>
                  <button class="btn btn-default" ng-disabled="bl.status!==2" promise-click="ctrl.removeProgramaticBlacklist(bl)">Remove</button>
                  <div ng-messages="bl.serverError.data" role="alert" style="color:maroon">
                    <div ng-if="bl.serverError">Failed, please try again</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>