<div ng-controller="SettingCtrl as ctrl">
  <div class="col-md-12">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li ng-class="{'active':ctrl.tabToShow == 'profile'}">
            <a ng-href="/settings/profile" ng-click="clickTrack('Navigation', 'SettingsProfileClick', 'profile')">Profile</a>
          </li>
          <li ng-class="{'active':ctrl.tabToShow == 'password'}">
            <a ng-href="/settings/password" ng-click="clickTrack('Navigation', 'ChangePasswordClick', 'Change Password')">Change Password</a>
          </li>
          <li ng-class="{'active':ctrl.tabToShow == 'companyprofile'}">
            <a ng-href="/settings/companyprofile" ng-click="clickTrack('Navigation', 'SettingsProfileClick', 'companyprofile')">Company Profile</a>
          </li>
          <li ng-class="{'active':ctrl.tabToShow == 'payment'}">
            <a ng-href="/settings/payment" ng-click="clickTrack('Navigation', 'CompanyPaymentDetailClick', 'Company Payment')">Payment Details</a>
          </li>
          <li ng-class="{'active':ctrl.tabToShow == 'team'}">
            <a ng-href="/settings/team" ng-click="clickTrack('Navigation', 'TeamManagementClick', 'Team Management')">Team Management</a>
          </li>
          <li ng-class="{'active':ctrl.tabToShow == 'blacklist'}">
            <a ng-href="/settings/blacklist" ng-click="clickTrack('Navigation', 'blackListClick', 'programatic blacklist')">Programmatic Blacklist</a>
          </li>
          <li ng-class="{'active':ctrl.tabToShow == 'ecpm'}">
            <a ng-href="/settings/ecpm" ng-click="clickTrack('Navigation', 'blackListClick', 'programatic blacklist')">Floor eCPM</a>
          </li>
          <li ng-class="{'active':ctrl.tabToShow == 'invoicing'}">
            <a ng-href="/settings/invoicing" ng-click="clickTrack('Navigation', 'InvoicingClick', 'Invoicing')">Invoicing</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="col-md-10">
    <div class="row" ng-include="'/components/settings/settings_' + ctrl.tabToShow +'.html'"></div>
  </div>
</div>
