<div class="col-md-12">
  <div class="alert alert-success" ng-show="ctrl.successPayMessage">
    <p>{{ctrl.successPayMessage}}</p>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <i class="fa fa-credit-card fa-fw"></i> Payment Details
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
    <div errorbox ng-if="ctrl.paymentProfileError.config.method == 'GET'" ng-model="ctrl.paymentProfileError"></div>
      <form class="form-horizontal" role="form" name="paymentModeSelection">
        <div class="form-body">
          <div class="form-group required" ng-class="{ 'has-error':paymentModeSelection.modeSelect.$touched && paymentModeSelection.modeSelect.$invalid }">
            <label for="inputPassword3" class="col-md-3 control-label">Payment Mode</label>
            <div class="col-md-9">
              <ui-select ng-model="ctrl.paymentProfile.payment_mode" name="modeSelect" search-enabled="false" placeholder="Select a payment mode" theme="bootstrap" title="Choose a payment mode" required>
                <ui-select-match placeholder="Select a Payment Mode">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="payment.id as payment  in ctrl.paymentModes">
                  <span ng-bind-html="payment.name"></span>
                </ui-select-choices>
              </ui-select>
              <div ng-messages="paymentModeSelection.modeSelect.$touched && paymentModeSelection.modeSelect.$error" role="alert" style="color:maroon">
                <div ng-message="required">Please select a payment mode</div>
              </div>
              <div ng-messages="ctrl.paymentProfileError.data" role="alert" style="color: maroon">
                <div ng-message="payment_mode" ng-repeat="error in ctrl.paymentProfileError.data.payment_mode">{{error}}</div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <form class="form-horizontal" ng-show="ctrl.paymentProfile.payment_mode===0" role="form" name="paymentModeNeft">
        <div class="form-body">
          <div class="form-group required" ng-class="{ 'has-error':paymentModeNeft.name.$touched && paymentModeNeft.name.$invalid }">
            <label for="name" class="col-md-3 control-label">Name (As per bank)</label>
            <div class="col-md-9">
              <input type="text" name="name" class="form-control" placeholder="Enter Payee Name" ng-model="ctrl.paymentProfile.payee_name" required />
              <div ng-messages="paymentModeNeft.name.$touched && paymentModeNeft.name.$error" role="alert" style="color:maroon">
                <div ng-message="required">Name field is required</div>
              </div>
              <div ng-messages="ctrl.paymentProfileError.data" role="alert" style="color: maroon">
                <div ng-message="payee_name" ng-repeat="error in ctrl.paymentProfileError.data.payee_name">{{error}}</div>
              </div>
            </div>
          </div>
          <div class="form-group required" ng-class="{ 'has-error':paymentModeNeft.bankName.$touched && paymentModeNeft.bankName.$invalid }">
            <label for="bankName" class="col-md-3 control-label">Bank Name</label>
            <div class="col-md-9">
              <input type="text" name="bankName" class="form-control" placeholder="Enter Bank Name" ng-model="ctrl.paymentProfile.bank_name" required />
              <div ng-messages="paymentModeNeft.bankName.$touched && paymentModeNeft.bankName.$error" role="alert" style="color:maroon">
                <div ng-message="required">Bank name is required</div>
              </div>
              <div ng-messages="ctrl.paymentProfileError.data" role="alert" style="color: maroon">
                <div ng-message="bank_name" ng-repeat="error in ctrl.paymentProfileError.data.bank_name">{{error}}</div>
              </div>
            </div>
          </div>
          <div class="form-group required" ng-class="{ 'has-error':paymentModeNeft.branchName.$touched && paymentModeNeft.branchName.$invalid }">
            <label for="branchName" class="col-md-3 control-label">Branch Name</label>
            <div class="col-md-9">
              <input type="text" name="branchName" class="form-control" placeholder="Enter Branch Name" ng-model="ctrl.paymentProfile.branch_name" required />
              <div ng-messages="paymentModeNeft.branchName.$touched && paymentModeNeft.branchName.$error" role="alert" style="color:maroon">
                <div ng-message="required">Branch name is required</div>
              </div>
              <div ng-messages="ctrl.paymentProfileError.data" role="alert" style="color: maroon">
                <div ng-message="branch_name" ng-repeat="error in ctrl.paymentProfileError.data.bank_name">{{error}}</div>
              </div>
            </div>
          </div>
          <div class="form-group required" ng-class="{ 'has-error':paymentModeNeft.accountNumber.$touched && paymentModeNeft.accountNumber.$invalid }">
            <label for="accountNumber" class="col-md-3 control-label">Bank Account Number</label>
            <div class="col-md-9">
              <input type="text" name="accountNumber" class="form-control" placeholder="Enter Bank Account Number" ng-model="ctrl.paymentProfile.account_no" required />
              <div ng-messages="paymentModeNeft.accountNumber.$touched && paymentModeNeft.accountNumber.$error" role="alert" style="color:maroon">
                <div ng-message="required">Bank Account Number is required</div>
              </div>
              <div ng-messages="ctrl.paymentProfileError.data" role="alert" style="color: maroon">
                <div ng-message="account_no" ng-repeat="error in ctrl.paymentProfileError.data.account_no">{{error}}</div>
              </div>
            </div>
          </div>
          <div class="form-group required" ng-class="{ 'has-error':paymentModeNeft.ifscCode.$touched && paymentModeNeft.ifscCode.$invalid }">
            <label for="ifscCode" class="col-md-3 control-label">IFSC Code / Swift Code</label>
            <div class="col-md-9">
              <input type="text" name="ifscCode" class="form-control" placeholder="Enter IFSC Code" ng-model="ctrl.paymentProfile.ifsc_code" ng-pattern="'^[a-zA-Z0-9]*$'" required />
              <div ng-messages="paymentModeNeft.ifscCode.$touched && paymentModeNeft.ifscCode.$error" role="alert" style="color:maroon">
                <div ng-message="required">IFSC code is required</div>
                <div ng-message="pattern">Please enter a valid IFSC code / Swift code</div>
              </div>
              <div ng-messages="ctrl.paymentProfileError.data" role="alert" style="color: maroon">
                <div ng-message="ifsc_code" ng-repeat="error in ctrl.paymentProfileError.data.ifsc_code">{{error}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-3 col-md-9">
              <div errorbox ng-model="ctrl.paymentProfileError"></div>
              <button type="submit" class="btn btn-primary" ng-disabled="paymentModeNeft.$invalid || ctrl.isChangePaymentProfile(ctrl.paymentProfile)" promise-click="ctrl.savePaymentProfile(ctrl.paymentProfile)">Save
              </button>
              <button type="submit" class="btn btn-default" ng-disabled="ctrl.isChangePaymentProfile(ctrl.paymentProfile)" ng-click="ctrl.resetPaymentProfile(ctrl.paymentProfile)">Reset</button>
            </div>
          </div>
        </div>
      </form>
      <form class="form-horizontal" ng-show="ctrl.paymentProfile.payment_mode===1" role="form" name="paymentModePaypal">
        <div class="form-body">
          <div class="form-group required" ng-class="{ 'has-error':paymentModePaypal.paypalId.$touched && paymentModePaypal.paypalId.$invalid }">
            <label for="paypalId" class="col-md-3 control-label">Paypal Id</label>
            <div class="col-md-9">
              <input type="text" name="paypalId" class="form-control" placeholder="Enter Paypal Id" ng-model="ctrl.paymentProfile.paypal_id" required />
              <div ng-messages="paymentModePaypal.paypalId.$touched && paymentModePaypal.paypalId.$error" role="alert" style="color:maroon">
                <div ng-message="required">Paypal id is required.</div>
              </div>
              <div ng-messages="ctrl.paymentProfileError.data" role="alert" style="color: maroon">
                <div ng-message="paypal_id" ng-repeat="error in ctrl.paymentProfileError.data.paypal_id">{{error}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-3 col-md-9">
              <div errorbox ng-if="ctrl.paymentProfileError.config.method !== 'GET'" ng-model="ctrl.paymentProfileError"></div>
              <button type="submit" class="btn btn-primary" ng-disabled="paymentModePaypal.$invalid || ctrl.isChangePaymentProfile(ctrl.paymentProfile)" promise-click="ctrl.savePaymentProfile(ctrl.paymentProfile)">Save
              </button>
              <button type="submit" class="btn btn-default" ng-disabled="ctrl.isChangePaymentProfile(ctrl.paymentProfile)" ng-click="ctrl.resetPaymentProfile(ctrl.paymentProfile)">Reset</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
