<section ng-controller="GameAnalyticsCtrl as ctrl">
  <!--Graphs-->
  <div class="panel panel-primary hidden-md hidden-sm hidden-xs">
    <div class="panel-heading panel-title">
      <i class="fa fa-line-chart fa-fw"></i> {{ currentGameProfile.title }}'s DAU
      <div class="actions pull-right col-md-4">
        <div class="input-group">
          <span class="input-group-addon">GMT Date</span>
          <input date-range-picker class="form-control date-picker" type="text" ng-model="ctrl.date" options="ctrl.options" />
        </div>
      </div>
    </div>
    <!-- /.panel-body -->
    <div style="width:100%;max-height:400px;min-height:200px;">
      <div ng-show="ctrl.graphLoding" style="margin-top:40px;margin-bottom:20px;">
        <center>
          <img src="/images/loader.gif" />
          <h3>Loading...</h3>
        </center>
      </div>
       <div ng-show="ctrl.graphError">
      <center>
        <h4>Unable to fetch data, please try again</h4></center>
    </div>
      <div ng-if="!ctrl.graphLoding && !ctrl.graphError">
        <nvd3 class="panel-body" options="ctrl.graphOptions" data="ctrl.graphData"></nvd3>
      </div>
    </div>
  </div>
</section>
