<!-- BEGIN CONTAINER -->
<div class="page-container">
  <!-- BEGIN SIDEBAR -->
  <div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar navbar-collapse collapse" ng-if="currentGameId">
      <!-- BEGIN SIDEBAR MENU -->
      <span us-spinner="{radius:30, width:8, length: 16}" spinner-on="currentGameId == null"></span>
      <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" ng-show="currentGameId !== null" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <li id="sidebarStep1" class="nav-item" ng-class="{'open': !isCollapsed}">
          <a class="nav-link nav-toggle" ng-click="toggleCollapse()" style="color: #fff;background-color: #337ab7;">
            <span class="title" ng-hide="currentGameProfile">Select Game {{currentGameId}} </span>
            <span clss="title" ng-show="currentGameProfile"><b>{{currentGameProfile.title}}</b></span>
            <span style="font-size:24px;" class="pull-right">
                  <strong>
                  <i class="fa fa-angle-left" aria-hidden="true" ng-if="isCollapsed"></i>
                  <i class="fa fa-angle-down" aria-hidden="true" ng-if="!isCollapsed"></i>
                  </strong>
                  </span>
            <br/>
            <small ng-show="currentGameProfile"><b>{{currentGameProfile.id}}</b></small>
            <br/>
             <small ng-show="currentGameProfile">&bull;  <b>{{currentGameProfile.status  | enumConstantsFilter:'gameStatus'}}</b></small>
          </a>
          <ul class="sub-menu" style="max-height: 350px;overflow-y: auto" ng-style="{display: (isCollapsed===true? none:'block')}">
            <li class="nav-item" ng-hide="gameProfiles.results">
              <a class="nav-link ">
                <span class="title">Loading...</span>
              </a>
            </li>
            <li class="nav-item" ng-repeat="g in gameProfiles.results" ng-hide="g.id === currentGameProfile.id" ng-class='{active:(currentGameProfile.title==g.title && isPanelActive)}'>
              <a ng-href="{{replaceGameInPath(g.id)}}" ng-click="clickTrack('Navigation', 'gameSelectionClick', g.title)" class="nav-link ">
                <span class="title">{{g.title}}</span>
                <br/>
                <small>{{g.id}}</small>
                <small ng-class="{'game-status-live': (g.status ===2),'game-status-blacklisted': (g.status ===3), 'game-status-not-integrated':(g.status === 0),'game-status-testing': (g.status ===1)}">{{g.status | enumConstantsFilter:'gameStatus'}}</small>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item start" ng-class="{active: isMenuActive('dashboard')}">
          <a ng-href="/{{currentGameId}}/dashboard/" ng-click="clickTrack('Navigation', 'navClick', 'home')">
            <i class="fa fa-home fa-fw"></i> Dashboard
          </a>
        </li>
        <li class="nav-item start" ng-class="{active: isMenuActive('new')}">
          <a ng-href="/new/wizard/1-a" ng-click="clickTrack('Navigation', 'navClick', 'new game')">
            <i class="fa fa-plus fa-fw"></i> Add New Game
          </a>
        </li>
        <li class="nav-item start" ng-class="{active: isMenuActive('new')}">
          <a ng-href="/{{currentGameId}}/wizard/1-a" ng-click="clickTrack('Navigation', 'navClick', 'wizard')">
            <i class="fa fa-code fa-fw"></i> Integration
          </a>
        </li>
        <li class="heading">
          <h3 class="uppercase">Campaigns</h3>
        </li>
        <li class="nav-item start" ng-class="{active: isMenuActive('campaigns')}">
          <a ng-href="/{{currentGameId}}/campaigns" class="" ng-click="clickTrack('Navigation', 'navClick', 'campaigns')">
            <i class="fa fa-dollar fa-fw"></i> Direct Campaigns
          </a>
        </li>
        <li class="nav-item start" ng-class="{active: isMenuActive('programmatic')}">
          <a ng-href="/{{currentGameId}}/programmatic?datafreshness=2" class="" ng-click="clickTrack('Navigation', 'navClick', 'Programmatic Campaigns')">
            <i class="fa fa-dollar fa-fw"></i> Programmatic Campaigns
          </a>
        </li>
        <li class="heading">
          <h3 class="uppercase">Game Analytics</h3>
        </li>
        <li class="nav-item start" ng-class="{active: isMenuActive('dau')}">
          <a ng-href="/{{currentGameId}}/dau" ng-click="clickTrack('Navigation', 'navClick', 'dau')">
            <i class="fa fa-line-chart"></i> DAU
          </a>
        </li>
        <li class="heading">
          <h3 class="uppercase">ShortCuts</h3>
        </li>
        <li class="nav-item start" ng-class="{active: isMenuActive('profile')}">
          <a ng-href="/{{currentGameId}}/wizard/1-a" ng-click="clickTrack('Navigation', 'navClick', 'your games')">
            <i class="fa fa-rocket fa-fw"></i> GameProfile
          </a>
        </li>
        <li class="nav-item start" ng-class="{active: isMenuActive('units')}">
          <a ng-href="/{{currentGameId}}/wizard/4-a" ng-click="clickTrack('Navigation', 'navClick', 'Ad Units')">
            <i class="fa fa-check fa-fw"></i> Testing
          </a>
        </li>
        <li class="nav-item start" ng-class="{active: isMenuActive('units')}">
          <a ng-href="/{{currentGameId}}/wizard/2-b" ng-click="clickTrack('Navigation', 'navClick', 'Ad Units')">
            <i class="fa fa-th-large fa-fw"></i> NativeUnits
          </a>
        </li>
        <li class="nav-item start" ng-class="{active: isMenuActive('units')}">
          <a ng-href="/{{currentGameId}}/wizard/2-d" ng-click="clickTrack('Navigation', 'navClick', 'Ad Units')">
            <i class="fa fa-th-large fa-fw"></i> FloatUnits
          </a>
        </li>
      </ul>
      <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
  </div>
  <!-- END SIDEBAR -->
  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
      <!-- BEGIN PAGE BASE CONTENT -->
      <div data-ng-view="">
      </div>
      <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
  </div>
  <!-- END CONTENT -->
</div>
<!-- END CONTENT -->
