<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" ng-app="devPanelApp">
<!--<![endif]-->

<head>
  <meta charset="utf-8" name="theme-color" content="#354052">
  <title>GreedyGame | Publisher's Panel</title>
  <base href="/">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- build:css css/vendor-angular.css -->
  <!-- inject:bower:angular:css -->
  <link rel="stylesheet" href="../bower_components/nvd3/build/nv.d3.min.css">
  <!-- endinject -->
  <!-- endbuild -->
  <!-- build:css css/vendor-editor.css -->
  <!-- inject:bower:editor:css -->
  <link rel="stylesheet" href="../bower_components/prism/themes/prism.css">
  <!-- endinject -->
  <!-- endbuild -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- build:css css/vendor-widgets.css -->
  <!-- inject:bower:widgets:css -->
  <link rel="stylesheet" href="../bower_components/angular-loading-bar/build/loading-bar.min.css">
  <link rel="stylesheet" href="../bower_components/intro.js/introjs.css">
  <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../bower_components/ng-tags-input/ng-tags-input.min.css">
  <link rel="stylesheet" href="../bower_components/ng-tags-input/ng-tags-input.bootstrap.min.css">
  <link rel="stylesheet" href="../bower_components/angular-ui-select/dist/select.min.css">
  <link rel="stylesheet" href="../bower_components/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../bower_components/bootstrap-datepicker/css/datepicker.css">
  <link rel="stylesheet" href="../bower_components/bootstrap-datepicker/css/datepicker3.css">
  <link rel="stylesheet" href="../bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css">
  <!-- endinject -->
  <!-- build:css css/vendor-other.css -->
  <!-- inject:bower:other:css -->
  <link rel="stylesheet" href="../bower_components/angular-bootstrap-colorpicker/css/colorpicker.min.css">
  <link rel="stylesheet" href="../bower_components/select2/select2.css">
  <link rel="stylesheet" href="../bower_components/country-flags/css/flags.css">
  <link rel="stylesheet" href="../bower_components/angular-jk-rating-stars/dist/jk-rating-stars.min.css">
  <link rel="stylesheet" href="../bower_components/angular-toastr/dist/angular-toastr.min.css">
  <link rel="stylesheet" href="../bower_components/selectize/dist/css/selectize.css">
  <link rel="stylesheet" href="../bower_components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.min.css">
  <!-- endinject -->
  <!-- endbuild -->
  <!-- build:css css/custom.css -->
  <!-- inject:css -->
  <link rel="stylesheet" href="styles/dropdown.btn.css">
  <link rel="stylesheet" href="styles/greedy-custom.css">
  <link rel="stylesheet" href="components/dashboardFilter/angular-dashboard-framework.css">
  <link rel="stylesheet" href="libs/daterangepicker/daterangepicker.min.css">
  <link rel="stylesheet" href="styles/metro/components.css">
  <link rel="stylesheet" href="styles/metro/default.css">
  <link rel="stylesheet" href="styles/metro/layout.css">
  <link rel="stylesheet" href="styles/metro/login.css">
  <link rel="stylesheet" href="styles/metro/plugins.css">
  <link rel="stylesheet" href="styles/custom.css">
  <!-- endinject -->
  <!-- endbuild -->
</head>

<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo page-footer-fixed" data-ng-controller="MainCtrl">
  <div ng-if="mainaintenceMode">
    <center>
      <h3>Site in maintenance mode</h3>
      <p>Apologies for the inconvenience. Please bear with us while we make migrate to faster infrastructure.</p>
    </center>
  </div>
  <div ng-if="!mainaintenceMode">
    <section ng-if="!me.email" ng-hide="me.email" class="login">
      <div id="overcover" class="login" style="color: white;overflow-x: hidden;">
        <div class="all-wrapper no-menu-wrapper light-bg">
          <div class="login-logo-w">
            <div class="loader" ng-show="globalLoading === true"></div>
            <h3 ng-show="globalLoading === true">Loading...</h3>
          </div>
          <div class="row ng-hide ng-cloak" ng-hide="me.id" ng-cloak>
            <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
              <div class="row">
                <div class="span4"></div>
                <div class="span4">
                  <img class="center-block" src="images/gglogo_wite.png" />
                </div>
                <div class="span4"></div>
              </div>
              <div data-ng-view=""></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section ng-if="me.email" ng-cloak>
      <!-- BEGIN HEADER -->
      <div class="page-header navbar navbar-fixed-top" style="z-index: 2000;">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
          <!-- BEGIN LOGO -->
          <div class="page-logo">
            <a ng-href="/{{currentGameId != null ? currentGameId: 'x'}}/dashboard" style="max-height: 70px;">
              <img ng-src="images/gglogo.png" style="margin-top: 9px;" class="navBarImage" />
              <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
              </div>
          </div>
          <!-- END LOGO -->
          <!-- BEGIN RESPONSIVE MENU TOGGLER -->
          <a class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
          <!-- END RESPONSIVE MENU TOGGLER -->
          <!-- BEGIN PAGE ACTIONS -->
          <!-- DOC: Remove "hide" class to enable the page header actions -->
          <div class="page-actions">
          </div>
          <!-- END PAGE ACTIONS -->
          <!-- BEGIN PAGE TOP -->
          <div class="page-top">
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
              <ul class="nav navbar-nav pull-right">
                <li>
                  <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
                    <a href="" class="dropdown-toggle" ng-click="clickTrack('Navigation', 'Actionable-Notification-Click', 'ActionableNotification')" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="true">
                      <i class="icon-bell"></i>
                      <span class="badge badge-danger">{{(actionableNotifications).length}}</span>
                    </a>
                    <ul class="dropdown-menu">
                      <li class="external">
                        <h3>
                        <span class="bold">{{(actionableNotifications).length}} pending</span> notifications</h3>
                      </li>
                      <li>
                        <ul class="dropdown-menu-list scroller" style="height: 250px;overflow: auto; width: auto;" data-handle-color="#637283" data-initialized="1">
                          <li ng-repeat="actionableNotification in actionableNotifications">
                            <a ng-href="{{getActionLink(actionableNotification)}}">
                              <span class="details">
                              {{actionableNotification.message}}</span>
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </li>
                <li class="dropdown dropdown-user dropdown-dark">
                  <a ng-href="https://mail.google.com/mail/?view=cm&fs=1&to=advertise@greedygame.com" class="dropdown-toggle" target="_blank" ng-click="clickTrack('Navigation', 'advertise button click', 'advertise with us')"><span class="username username-hide-on-mobile">Advertise with us</span></a>
                </li>
                <li class="dropdown dropdown-user dropdown-dark">
                  <a ng-href="/faq" class="dropdown-toggle" ng-click="clickTrack('Navigation', 'faqClick', 'faq')">
                    <span class="username username-hide-on-mobile"></i>FAQ</span></a>
                </li>
                <!--commenting page walkthrought till text is updated -->
                <!--li class="dropdown dropdown-user dropdown-dark" ng-show="isDashboard">
                  <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" ng-click="clickTrack('Navigation', 'helpClick', 'HelpSection')" data-close-others="true">
                    <span class="username username-hide-on-mobile"><i class="fa fa-question-circle" aria-hidden="true"></i>Help<i class="fa fa-caret-down"></i></span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-default">
                    <li>
                      <a ng-click="CallMe();clickTrack('Navigation', 'Help-Section-Click', 'PageWalkthrough')"></i>Page Walkthrough</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown dropdown-user dropdown-dark" ng-show="!isDashboard && !isWizard && !isThemeUnits && IntroOptions.steps.length !== 0">
                  <a class="dropdown-toggle" ng-click="helpStart(1);clickTrack('Navigation', 'Help-Section-Click', 'HelpSection')">
                    <span class="username username-hide-on-mobile"><i class="fa fa-question-circle" aria-hidden="true"></i>Page Walkthrough</span>
                  </a>
                </li-->
                <li class="separator hide"> </li>
                <li class="dropdown dropdown-user dropdown-dark" ng-if="me.groups.length > 1">
                  <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" ng-click="clickTrack('Navigation', 'profileClick', 'Profile')" data-close-others="true">
                    <i class="fa fa-group"></i>
                    <span class="username username-hide-on-mobile" ng-if="currentGroup.id !== 0" ng-click="clickTrack('Navigation', 'gameListClick', 'Game list open Clicked')">{{currentGroup.name}}</span>
                    <i class="fa fa-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-default gamelist">
                    <li ng-repeat="g in me.groups">
                      <a ng-click="setCurrentGroup(g);clickTrack('Navigation', 'gameSelectionClick', g.name)"><i class="fa fa-futbol-o fa-fw"></i> {{g.name}}</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown dropdown-user dropdown-dark" ng-if="me.groups.length == 1">
                  <a class="dropdown-toggle" ng-click="clickTrack('Navigation', 'profileClick', 'Profile')" data-close-others="true">
                    <i class="fa fa-group"></i>
                    <span class="username username-hide-on-mobile" ng-if="currentGroup.id !== 0" ng-click="clickTrack('Navigation', 'gameListClick', 'Game list open Clicked')">{{currentGroup.name}}</span>
                  </a>
                </li>
                <li class="separator hide"> </li>
                <li class="dropdown dropdown-user dropdown-dark">
                  <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" ng-click="clickTrack('Navigation', 'profileClick', 'Profile')" data-close-others="true">
                    <i class="fa fa-user"></i>
                    <span class="username username-hide-on-mobile">{{me.email}}<i class="fa fa-caret-down"></i></span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-default" style="width: 228px;max-height: none;">
                    <li>
                      <a ng-href="/settings/profile" ng-click="clickTrack('Navigation', 'settingClick', 'Profile Clicked')"><i class="fa fa-user" aria-hidden="true"></i> Profile</a>
                    </li>
                    <li>
                      <a ng-href="/settings/password" ng-click="clickTrack('Navigation', 'settingClick', 'Change Password')"><i class="fa fa-terminal fa-fw"></i>Change Password</a>
                    </li>
                    <li>
                      <a ng-href="/settings/companyprofile" ng-click="clickTrack('Navigation', 'settingClick', 'company profile')"><i class="fa fa-building" aria-hidden="true"></i>Company Profile</a>
                    </li>
                    <li>
                      <a ng-href="/settings/payment" ng-click="clickTrack('Navigation', 'settingClick', 'Payments Clicked')"><i class="fa fa-credit-card fa-fw"></i> Payment Details</a>
                    </li>
                    <li>
                      <a ng-href="/settings/team" ng-click="clickTrack('Navigation', 'settingClick', 'Team Clicked')"><i class="fa fa-group fa-fw"></i> Team Management</a>
                    </li>
                    <li>
                      <a ng-href="/settings/blacklist" ng-click="clickTrack('Navigation', 'settingClick', 'blacklist')"><i class="fa fa-ban" aria-hidden="true"></i>Programmatic Blacklist</a>
                    </li>
                    <li>
                      <a ng-href="/settings/ecpm" ng-click="clickTrack('Navigation', 'settingClick', 'ecpm')"><i class="fa fa-cogs" aria-hidden="true"></i>Floor eCPM</a>
                    </li>
                    <li>
                      <a ng-href="/settings/invoicing" ng-click="clickTrack('Navigation', 'settingClick', 'invoicing Clicked')"><i class="fa fa-file-excel-o fa-fw"></i>Invoicing</a>
                    </li>
                    <li class="divider"> </li>
                    <li>
                      <a ng-click="logout();clickTrack('Navigation', 'logoutClick', 'User Logged Out');"><i class="fa fa-sign-out fa-fw"></i> Logout </a>
                    </li>
                  </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
              </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
          </div>
          <!-- END PAGE TOP -->
        </div>
        <!-- END HEADER INNER -->
      </div>
      <!-- END HEADER -->
      <!-- BEGIN HEADER & CONTENT DIVIDER -->
      <div class="clearfix"> </div>
      <!-- END HEADER & CONTENT DIVIDER -->
      <div ng-intro-options="IntroOptions" ng-intro-method="CallMe" data-position='right' ng-intro-onchange="ChangeEvent" ng-intro-exit-method="ExitMe">
        <div ng-if="isWizard !== true && isSetting !== true && faq !== true" ng-include="'/base-sidebar.html'"></div>
        <div ng-if="isWizard === true || isSetting === true || faq === true" ng-include="'/base-no-sidebar.html'"></div>
      </div>
      <!-- END CONTENT -->
      <!-- BEGIN FOOTER -->
      <div class="page-footer">
        <div class="page-footer-inner"> 2017 © GreedyGame Media Private Limited</div>
      </div>
      <!-- END FOOTER -->
    </section>
  </div>
  <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <!-- build:js js/vendor-angular.js -->
  <!-- inject:bower:angular:js -->
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/angular-route/angular-route.min.js"></script>
  <script src="../bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="../bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="../bower_components/d3/d3.min.js"></script>
  <script src="../bower_components/nvd3/build/nv.d3.min.js"></script>
  <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="../bower_components/angular-nvd3/dist/angular-nvd3.min.js"></script>
  <!-- endinject -->
  <!-- endbuild -->
  <!-- build:js js/vendor-editor.js -->
  <!-- inject:bower:editor:js -->
  <script src="../bower_components/prism/prism.js"></script>
  <script src="../bower_components/prism/components/prism-markup.min.js"></script>
  <script src="../bower_components/prism/components/prism-java.min.js"></script>
  <script src="../bower_components/prism/components/prism-clike.min.js"></script>
  <script src="../bower_components/prism/components/prism-c.min.js"></script>
  <script src="../bower_components/prism/components/prism-cpp.min.js"></script>
  <script src="../bower_components/prism/components/prism-csharp.min.js"></script>
  <!-- endinject -->
  <!-- endbuild -->
  <!-- build:js js/vendor-widgets.js -->
  <!-- inject:bower:widgets:js -->
  <script src="../bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
  <script src="../bower_components/intro.js/intro.js"></script>
  <script src="../bower_components/ng-file-upload/ng-file-upload.min.js"></script>
  <script src="../bower_components/ng-tags-input/ng-tags-input.min.js"></script>
  <script src="../bower_components/angular-ui-select/dist/select.min.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="../bower_components/angular-intro.js/src/angular-intro.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
  <script src="../bower_components/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
  <!-- endinject -->
  <!-- endbuild -->
  <!-- build:js js/vendor-other.js -->
  <!-- inject:bower:other:js -->
  <script src="../bower_components/angular-google-analytics/dist/angular-google-analytics.min.js"></script>
  <script src="../bower_components/es5-shim/es5-shim.min.js"></script>
  <script src="../bower_components/sifter/sifter.min.js"></script>
  <script src="../bower_components/microplugin/src/microplugin.js"></script>
  <script src="../bower_components/moment/moment.js"></script>
  <script src="../bower_components/humanize-duration/humanize-duration.js"></script>
  <script src="../bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js"></script>
  <script src="../bower_components/clipboard/dist/clipboard.min.js"></script>
  <script src="../bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
  <script src="../bower_components/Sortable/Sortable.min.js"></script>
  <script src="../bower_components/spin.js/spin.min.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="../bower_components/angular-messages/angular-messages.min.js"></script>
  <script src="../bower_components/angular-jk-rating-stars/dist/jk-rating-stars.min.js"></script>
  <script src="../bower_components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="../bower_components/selectize/dist/js/selectize.min.js"></script>
  <script src="../bower_components/angular-timer/dist/angular-timer.min.js"></script>
  <script src="../bower_components/ngclipboard/dist/ngclipboard.min.js"></script>
  <script src="../bower_components/angular-spinner/angular-spinner.min.js"></script>
  <script src="../bower_components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.min.js"></script>
  <!-- endinject -->
  <!-- endbuild -->
  </script>
  <!--sentry-->
  <script src="https://cdn.ravenjs.com/3.16.1/raven.min.js" crossorigin="anonymous"></script>
  <script>
  Raven.config('https://10f568073c094e5685963e3e926a340b@sentry.io/158842').install()
  </script>
  <!--sentry-->
  <script type="text/javascript" src="//www.gstatic.com/charts/loader.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <!-- build:js js/lib.js -->
  <script src="libs/table-export/tableExport.js"></script>
  <script src="libs/table-export/jquery.base64.js"></script>
  <script src="libs/table-export/jspdf/libs/sprintf.js"></script>
  <script src="libs/table-export/jspdf/libs/base64.js"></script>
  <script src="libs/table-export/jspdf/jspdf.js"></script>
  <script src="libs/daterangepicker/moment.min.js"></script>
  <script src="libs/daterangepicker/angular-daterangepicker.min.js"></script>
  <script src="libs/daterangepicker/daterangepicker.min.js"></script>
  <!-- endbuild -->
  <script src="partial-templates.html.js"></script>
  <!-- build:js js/custom.js -->
  <script src="app.js"></script>
  <script src="app-config.js"></script>
  <script src="app-enums.js"></script>
  <script src="app-constant.js"></script>
  <script src="app-factory.js"></script>
  <script src="app-service.js"></script>
  <!-- inject:js -->
  <script src="components/accounts/access.controller.js"></script>
  <script src="components/accounts/agreementmodal.controller.js"></script>
  <script src="components/accounts/device.service.js"></script>
  <script src="components/accounts/passwordverify.directive.js"></script>
  <script src="components/accounts/user.service.js"></script>
  <script src="components/adunits/adunitmodal.controllers.js"></script>
  <script src="components/adunits/adunits.service.js"></script>
  <script src="components/adunits/areamarker.directive.js"></script>
  <script src="components/adunits/realesatemodal.controller.js"></script>
  <script src="components/campaigns/directCampaigns.controller.js"></script>
  <script src="components/campaigns/progCampaigns.controller.js"></script>
  <script src="components/country/countries.services.js"></script>
  <script src="components/dashboardFilter/dashboard-filter.directive.js"></script>
  <script src="components/dashboardFilter/tagReadonly.directive.js"></script>
  <script src="components/errorbox/errorbox.directive.js"></script>
  <script src="components/faq/faq.controller.js"></script>
  <script src="components/faq/faq.service.js"></script>
  <script src="components/faq/faqanswer.controller.js"></script>
  <script src="components/gameAnalytics/gameAnalytics.controllers.js"></script>
  <script src="components/analaytics/analytics.js"></script>
  <script src="components/gamedetails/gamedetails.service.js"></script>
  <script src="components/gameprofile/gameprofile.service.js"></script>
  <script src="components/gamesettings/GameSettings.js"></script>
  <script src="components/home/emptyhome.controller.js"></script>
  <script src="components/home/googlechart.directive.js"></script>
  <script src="components/home/home.controller.js"></script>
  <script src="components/intro/helpintro.service.js"></script>
  <script src="components/intro/intro.service.js"></script>
  <script src="components/invoicing/Invoicing.js"></script>
  <script src="components/notification/notification.service.js"></script>
  <script src="components/promiseButton/promiseClick.js"></script>
  <script src="components/settings/GeoLocationSearch.service.js"></script>
  <script src="components/settings/httpprefix.directive.js"></script>
  <script src="components/settings/settings.controller.js"></script>
  <script src="components/teammanagement/teammanagement.service.js"></script>
  <script src="components/integrationwizard/adspotmarkingdemo.controller.js"></script>
  <script src="components/integrationwizard/integration.controller.js"></script>
  <script src="components/integrationwizard/integration.service.js"></script>
  <script src="components/integrationwizard/prim.directive.js"></script>
  <script src="components/integrationwizard/sdkintegration.service.js"></script>
  <script src="components/integrationwizard/setbottom.directive.js"></script>
  <script src="components/integrationwizard/unitcreation.service.js"></script>
  <!-- endinject -->
  <script src="app-controller.js"></script>
  <script src="app-filter.js"></script>
  <!-- endbuild -->
  <script src="ads.js"></script>
  <script type="text/javascript">
  window.onload = function() {
    if (window.canRunAds === undefined) {
      // adblocker detected, show fallback
      alert("Please disable AdBlocker, to view this site properly.")
    }
  };
  </script>
  <script src="https://cdn.jsdelivr.net/pubsubjs/1.4.2/pubsub.min.js"></script>
  <a href="" id="dlink"></a>
  <script>
  (function() {
    var w = window;
    var ic = w.Intercom;
    if (typeof ic === "function") {
      ic('reattach_activator');
      ic('update', intercomSettings);
    } else {
      var d = document;
      var i = function() {
        i.c(arguments)
      };
      i.q = [];
      i.c = function(args) {
        i.q.push(args)
      };
      w.Intercom = i;

      function l() {
        var s = d.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'https://widget.intercom.io/widget/ztvoyt3t';
        var x = d.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
      }
      if (w.attachEvent) {
        w.attachEvent('onload', l);
      } else {
        w.addEventListener('load', l, false);
      }
    }
  })()
  </script>
</body>

</html>
