<div class="modal-header">
  <button type="button" class="close" ng-click="ctrl.close()" style="padding:4px;"><i class="fa fa-close"></i></button>
  <h4 class="modal-title">{{ctrl.adunit.namespace}} | Edit</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group" style="margin-right:0px; margin-left:0px;">
        <div class="input-group">
          <label class="input-group-addon">Step to see placement in game</label>
          <textarea class="form-control custom-control" rows="4" style="resize:none" ng-model="ctrl.adunit.description"></textarea>
        </div>
        <br/>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="ctrl.close()" style="margin-top:20px">Close</button>
  <button type="button" class="btn btn-primary" ng-click="ctrl.saveUnit()" style="margin-top:20px">Save</button>
</div>
