<div class="row">
  <div class="col-md-12" style="margin-bottom:10px;">
    <div class="btn-group" ng-repeat="(k,v) in realEstates">
      <button type="button" class="btn btn-primary" ng-style="getBtnStyle(k)" ng-click="editEstate(k)" ng-disabled="unit.isBusy">
        {{ v.id? v.id: 'unsaved' }}
        <i ng-show="unit.isBusy" class="fa fa-spinner fa-spin"></i>
        <i ng-hide="unit.isBusy" class="fa fa-gear"></i>
      </button>
    </div>
  </div>
  <div style="float:left;width:250px;height: calc(100vh - 200px); margin-right:15px; margin-left:15px;">
    <p ng-hide="currentEditable" style="text-align:center;">Select sector to see sector's properties</p>
    <div ng-show="currentEditable" class="realestate-properties" ng-style="getBtnStyle(currentEditableIndex)">
      <h4 style="color:#fff;">Sector #{{currentEditable.id ? currentEditable.id: 'unsaved'}}</h4>
      <div class="input-group input-group-sm col-sm-6" style="margin-bottom:5px;float: left;padding-right: 2px;">
        <div class="input-group-addon" style="text-align:left;"><strong>A</strong> ({{currentEditable.sector[0]}},{{currentEditable.sector[1]}})</div>
      </div>
      <div class="input-group input-group-sm col-sm-6" style="margin-bottom:5px;float: left;padding-left: 2px;">
        <div class="input-group-addon" style="text-align:left;"><strong>B</strong> ({{currentEditable.sector[2]}},{{currentEditable.sector[3]}})</div>
      </div>
      <div class="input-group input-group-sm col-sm-6" style="margin-bottom:5px;float: left;padding-right: 2px;">
        <div class="input-group-addon" style="text-align:left;"><strong>C</strong> ({{currentEditable.sector[4]}},{{currentEditable.sector[5]}})</div>
      </div>
      <div class="input-group input-group-sm col-sm-6" style="margin-bottom:5px;float: left;padding-left: 2px;">
        <div class="input-group-addon" style="text-align:left;"><strong>D</strong> ({{currentEditable.sector[6]}},{{currentEditable.sector[7]}})</div>
      </div>
<!--       <div class="input-group input-group-sm col-md-12" style="margin-bottom:5px;">
        <div class="input-group-addon">Dominant clr</div>
        <div class="input-group-addon" ng-style="{ 'background-color': currentDominant }"></div>
        <input class="form-control" colorpicker="rgb" type="text" ng-model="currentDominant" />
      </div>
      <div class="input-group input-group-sm col-md-12" style="margin-bottom:5px;">
        <div class="input-group-addon">Brightness Level</div>
        <input type="number" class="form-control" ng-model="currentEditable.properties.brightness" ng-disabled="!currentEditable">
      </div> -->
      <!-- Filter starts -->
      <div class="input-group input-group-sm" style="margin-bottom:5px;" ng-repeat="f in currentEditable.filters">
        <div class="input-group-addon">{{f.filter}}</div>
        <input ng-if="f.filter == 'opacity' " type="text" class="form-control" ng-model="f.filterValue" ng-disabled="!currentEditable">
        <div ng-if="f.filter == 'blend' " class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{getBlendName(f.filterValue)}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" style="overflow-y: scroll; max-height: 200px;">
            <li ng-hide="f.filterValue == key" ng-repeat="(key, value) in PSDEnum">
              <a ng-click="f.filterValue = key">{{value}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="input-group input-group-sm" style="margin-bottom:5px;">
        <div class="input-group-addon">Type</div>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span ng-hide="{{currentEditable.estate_type == null}}">None</span>
            <span ng-show="currentEditable.estate_type==0">Logo</span>
            <span ng-show="currentEditable.estate_type==1">Billboard</span>
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a ng-click="setType(0)">Logo</a></li>
            <li><a ng-click="setType(1)">Billboard</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div style="float:left;width: calc(100vw - 290px); overflow:auto; height: calc(100vh - 200px);">
    <div class="svg-wrapper">
      <svg xmlns="http://www.w3.org/2000/svg"></svg>
    </div>
  </div>
</div>
