<div class="modal-header">
  <button type="button" ng-disabled="ctrl.adunit.isBusy" class="close" ng-click="!ctrl.adunit.isBusy && ctrl.close()" style="padding:4px;">
    <i ng-hide="ctrl.adunit.isBusy" class="fa fa-close"></i>
    <i ng-show="ctrl.adunit.isBusy" class="fa fa-spinner fa-spin"></i>
  </button>
  <h4 class="modal-title">{{ctrl.adunit.namespace}} | Real Estate</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div drawing ng-unit="ctrl.adunit" ng-real-estates="ctrl.currentRealEstates" ng-edit="ctrl.editMode"></div>
  </div>
</div>
<div class="modal-footer">
  <div class="pull-right">
  <div ng-messages="ctrl.adUnitError.data" role="alert" style="float:left;color:maroon; margin-right: 7px">
      <div ng-if="ctrl.adUnitError">Failed, please try again</div>
    </div>
    <div class="btn-group">
      <button type="button" ng-disabled="ctrl.adunit.isBusy" class="btn btn-default" ng-click="!ctrl.adunit.isBusy && ctrl.toggleEdit()">
        <i ng-show="ctrl.adunit.isBusy" class="fa fa-spinner fa-spin"></i> {{ ctrl.editMode? 'Stop': 'Start' }} editing
      </button>
      <button type="button" ng-disabled="ctrl.adunit.isBusy" class="btn btn-primary" ng-click="!ctrl.adunit.isBusy && ctrl.realEstateSave(false)">
        <i ng-show="ctrl.adunit.isBusy" class="fa fa-spinner fa-spin"></i> Save
      </button>
      <button type="button" ng-disabled="ctrl.adunit.isBusy" class="btn btn-primary" ng-click="!ctrl.adunit.isBusy && ctrl.realEstateSave(true)">
        <i ng-show="ctrl.adunit.isBusy" class="fa fa-spinner fa-spin"></i> Save and Exit
      </button>
    </div>
  </div>
</div>
