<section ng-controller="HomeCtrl as ctrl">
  <!--Dashboard Filter-->
  <div dashboard-filter current-game-profile="currentGameProfile" on-change="ctrl.filterCallback(globalFilter);"></div>
  <!--dashboard card-->
  <div class="row" style="margin: 3px">
    <div class="dashboard-stat2 bordered col-md-3" ng-repeat="(key, value) in ctrl.cardValues">
      <div ng-show="ctrl.cardError">
        <center>
          <h4>Unable to fetch data, please try again</h4></center>
      </div>
      <div class="display" ng-hide="ctrl.cardError">
        <div class="icon">
          <i ng-if="key == 'revenue'" class="icon-wallet"></i>
          <i ng-if="key == 'impression'" class="fa fa-futbol-o" aria-hidden="true"></i>
          <i ng-if="key == 'ctr'" class="fa fa-bolt" aria-hidden="true"></i>
          <i ng-if="key == 'ecpm'" class="fa fa-bolt" aria-hidden="true"></i>
        </div>
        <div class="number" ng-show="!ctrl.cardLoding">
          <h3 ng-if="key == 'revenue'" class="font-green-sharp">
        <span>{{value | currency:'$'}}</span>
      </h3>
          <h3 ng-if="key == 'impression'" class="font-red-haze">
        <span>{{value | number: '0'}}</span>
      </h3>
          <h3 ng-if="key == 'ctr'" class="font-blue-sharp">
        <span>{{value | number: '2'}}%</span>
      </h3>
          <h3 ng-if="key == 'ecpm'" class="font-purple-soft">
        <span>{{value | currency:"$"}}</span>
      </h3>
          <small> {{ctrl.getCardDisplayData(key)}}</small>
          </br>
        </div>
        <div class="number" ng-show="ctrl.cardLoding">
          <small>Loading...</small>
        </div>
      </div>
    </div>
  </div>
  <!--Graphs-->
  <div class="panel panel-primary hidden-md hidden-sm hidden-xs">
    <div class="panel-heading panel-title">
      <i class="fa fa-bar-chart fa-fw "></i> {{ctrl.getGraphDataTypeName(ctrl.graphDataType)}} trends from <b>{{ ctrl.globalFilter.from_date*1000 | date:'dd-MMM-yy':'GMT' }}</b> <span ng-show="ctrl.globalFilter.from_date">to</span> <b>{{ ctrl.globalFilter.till_date*1000 | date:'dd-MMM-yy':'GMT'}}</b> <span ng-show="ctrl.graphDataType === 4">for all games and countries</span><span ng-show="ctrl.graphDataType !== 4">for applied filters</span>
      <div class="actions pull-right">
        <div class="btn-group" id="help-section-graphtype">
          <button data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false" type="button" class="btn btn-default btn-sm" ng-click="clickTrack('Navigation', 'graphNavClick', 'DropDown');">
            <i class="fa fa-angle-down"></i> {{ctrl.getGraphTypeName(ctrl.graphType)}}
          </button>
          <ul class="dropdown-menu pull-right">
            <li>
              <a ng-show="ctrl.graphType!==0" ng-click="ctrl.changeGraphType(0);clickTrack('Navigation', 'graphNavClick', 'Data Graph');"> Data Graph</a>
            </li>
            <li>
              <a ng-show="ctrl.graphType!==1" ng-click="ctrl.changeGraphType(1);clickTrack('Navigation', 'graphNavClick', 'World Map');">World Map</a>
            </li>
          </ul>
        </div>
        <div class="btn-group" id="help-section-graphdata">
          <button data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false" type="button" class="btn btn-default btn-sm" ng-click="clickTrack('Navigation', 'graphNavClick', 'DropDown');">
            <i class="fa fa-angle-down"></i> {{ctrl.getGraphDataTypeName(ctrl.graphDataType)}}
          </button>
          <ul class="dropdown-menu pull-right">
            <li ng-show="ctrl.graphDataType!==0">
              <a ng-click="ctrl.changeGraphDataType(0);clickTrack('Navigation', 'graphNavClick', 'Revenue');">Revenue</a>
            </li>
            <li ng-show="ctrl.graphDataType!==1">
              <a ng-click="ctrl.changeGraphDataType(1);clickTrack('Navigation', 'graphNavClick', 'Impression');">Impressions</a>
            </li>
            <li ng-show="ctrl.graphDataType!==2">
              <a ng-click="ctrl.changeGraphDataType(2);clickTrack('Navigation', 'graphNavClick', 'CTR');">CTR</a>
            </li>
            <li ng-show="ctrl.graphDataType!==3">
              <a ng-click="ctrl.changeGraphDataType(3);clickTrack('Navigation', 'graphNavClick', 'eCPM');">eCPM</a>
            </li>
            <li ng-show="ctrl.graphDataType!==5">
              <a ng-click="ctrl.changeGraphDataType(5);clickTrack('Navigation', 'graphNavClick', 'add requests');">Ad-request</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.panel-body -->
    <div style="width:100%;max-height:400px;min-height:200px;">
      <div ng-show="ctrl.graphLoding" style="margin-top:40px;margin-bottom:20px;">
        <center>
          <img src="/images/loader.gif" />
          <h3>Loading...</h3>
        </center>
      </div>
      <div ng-show="ctrl.graphError">
        <center>
          <h4>Unable to fetch data, please try again</h4></center>
      </div>
      <div ng-if="!ctrl.graphError && ctrl.graphType === 1 && ctrl.chart && !ctrl.graphLoding && ctrl.graphDataType!==4">
        <div google-chart chart="ctrl.chart">
          <div id="chart_div" style="width:100%;max-height:380px;overflow:hidden"></div>
        </div>
      </div>
      <div ng-if="!ctrl.graphError && ctrl.graphType === 0 && !ctrl.graphLoding">
        <nvd3 class="panel-body" options="ctrl.graphOptions" data="ctrl.graphData"></nvd3>
      </div>
    </div>
  </div>
  <!--Table-->
  <div class="panel panel-primary">
    <div class="panel-heading panel-title" id="step13">
      <span> <i class="fa fa-table fa-fw"></i> Campaign Details</span>&nbsp;<span ng-show="ctrl.globalFilter.from_date">(</span><b>{{ ctrl.globalFilter.from_date*1000 | date:'dd-MMM-yy':'GMT' }}</b> <span ng-show="ctrl.globalFilter.from_date">to</span> <b>{{ ctrl.globalFilter.till_date*1000 | date:'dd-MMM-yy':'GMT'}}</b><span ng-show="ctrl.globalFilter.from_date">)</span></span>
      <div class="actions pull-right" ng-show="!ctrl.dataLoding">
        <div class="btn-group" id="help-section-tabledata">
          <button data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false" type="button" class="btn btn-default btn-sm" ng-click="clickTrack('Navigation', 'graphNavClick', 'DropDown');">
            <i class="fa fa-angle-down"></i> {{ctrl.getGraphTableName(ctrl.tableType)}}
          </button>
          <ul class="dropdown-menu pull-right">
            <li>
              <a ng-click="ctrl.changeTableType(0);clickTrack('Navigation', 'graphNavClick', 'Game Click');">Game</a>
            </li>
            <li>
              <a ng-click="ctrl.changeTableType(1);clickTrack('Navigation', 'graphNavClick', 'Country Click');">Country</a>
            </li>
            <li>
              <a ng-click="ctrl.changeTableType(2);clickTrack('Navigation', 'graphNavClick', 'Date Click');">Date</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="table-responsive">
        <div ng-show="ctrl.tableError">
          <center>
            <h4>Unable to fetch data, please try again</h4></center>
        </div>
        <div ng-show="!ctrl.dataLoding">
          <table ng-show="!ctrl.tableError && ctrl.gameTable && ctrl.gameTable.results.length > 0" class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>{{ctrl.getGraphTableName(ctrl.tableType)}}
                  <a href="#" ng-show="ctrl.tableType !== 0" ng-click="sortType = 'country_name'; sortTableData = !sortTableData">
                    <span ng-show="sortType == 'country_name' && !sortTableData" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'country_name' && sortTableData" class="fa fa-caret-up"></span>
                    <span ng-show="!sortType || sortType !='country_name'" class="fa fa-sort"></span>
                  </a>
                </th>
                <th ng-if="ctrl.tableType === 0">
                  Game Id
                </th>
                <th>Revenue
                  <a href="#" ng-click="sortType = 'revenue'; sortTableData = !sortTableData">
                    <span ng-show="sortType == 'revenue' && !sortTableData" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'revenue' && sortTableData" class="fa fa-caret-up"></span>
                    <span ng-show="!sortType || sortType !='revenue'" class="fa fa-sort"></span>
                  </a>
                </th>
                <th>Impressions
                  <a href="#" ng-click="sortType = 'impression'; sortTableData = !sortTableData">
                    <span ng-show="sortType == 'impression' && !sortTableData" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'impression' && sortTableData" class="fa fa-caret-up"></span>
                    <span ng-show="!sortType || sortType !='impression'" class="fa fa-sort"></span>
                  </a>
                </th>
                <th>CTR
                  <a href="#" ng-click="sortType = 'ctr'; sortTableData = !sortTableData">
                    <span ng-show="sortType == 'ctr' && !sortTableData" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'ctr' && sortTableData" class="fa fa-caret-up"></span>
                    <span ng-show="!sortType || sortType !='ctr'" class="fa fa-sort"></span>
                  </a>
                </th>
                <th>eCPM
                  <a href="#" ng-click="sortType = 'ecpm'; sortTableData = !sortTableData">
                    <span ng-show="sortType == 'ecpm' && !sortTableData" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'ecpm' && sortTableData" class="fa fa-caret-up"></span>
                    <span ng-show="!sortType || sortType !='ecpm'" class="fa fa-sort"></span>
                  </a>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="game in ctrl.gameTable.results | orderBy:sortType:sortTableData">
                <td ng-if="ctrl.tableType === 0"><a ng-href="/{{game.key}}/dashboard">{{(ctrl.gameProfile.results | filter:{id:game.key})[0].title }}</a></td>
                <td ng-if="ctrl.tableType === 0">{{game.key}}</td>
                <td ng-if="ctrl.tableType === 1"><i class="flag {{game.country_iso_code | lowercase}}"> </i> {{game.country_name}}</td>
                <td ng-if="ctrl.tableType === 2">{{(game.key*1000) | date:'yyyy-MM-dd'}}</td>
                <td>{{game.revenue | currency:"$" }}</td>
                <td>{{game.impression | number: ""}}</td>
                <td>{{game.ctr | number: "2"}}%</td>
                <td>{{game.ecpm | currency:"$"}}</td>
              </tr>
            </tbody>
          </table>
          <h3 ng-if="!ctrl.tableError && (!ctrl.gameTable || ctrl.gameTable.results.length === 0)" style="text-align:center;margin-bottom: 0px">No Data Available</h3>
        </div>
        <div ng-show="ctrl.dataLoding">
          <h3 style="text-align:center;margin-bottom: 0px">Loading...</h3>
        </div>
      </div>
    </div>
  </div>
</section>
