<section class="native-unit-wizard">
  <div class="row" ng-if="ctrl.newUnit.invalidfiles.length>0">
    <div class="col-md-12">
      <div class="alert alert-danger alert-dismissable text-center ng-hide" style="margin-top: 1em;text-align: left;" ng-show="ctrl.newUnit.invalidfiles">
        <ul>
          <li ng-repeat="f in ctrl.newUnit.invalidfiles"><b>{{f.name}}</b> is not a valid PNG file, please upload only PNG file.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="media-unit media-native-unit" ng-if="ctrl.activeStep===2 && ctrl.activeSubStep==='b' ">
    <div ng-show="ctrl.nativeUnits.results.length === 0">
      <p>There is no native unit. Start setting up new native unit by uploading unit image in png below</p>
    </div>
    <div ng-if="ctrl.upploadPngError">
      <div errorbox error-message='Unable to upload the image please try again'></div>
    </div>
    <div class="unit-thumbnail drop-box" style="height:200px;" ngf-drop ngf-select ngf-change="ctrl.uploadUnits($files,$invalidFiles)" ngf-model-invalid="ctrl.newUnit.invalidfile" ng-model="ctrl.newUnit.files" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" accept="image/png" ngf-pattern="'image/png'">
      <div class="col-xs-12 ad-placement">
        <p class="text-center" style="padding-top: 70px; font-size: 20px;">Drop png images here or click to upload</p>
      </div>
    </div>
  </div>
  <!--div ng-if="ctrl.activeStep===2 && ctrl.activeSubStep==='d' ">
    <div ng-show="ctrl.nativeUnits.results.length  === 0">
      <p>There is no native unit. Start setting up new native unit in <span class="bold">Add native unit</span> step.</p>
    </div>
  </div-->
  <div class="media-unit media-native-unit" ng-repeat="unit in ctrl.newNativeUnits" ng-if="ctrl.activeSubStep==='b' && (unit.isError || unit.isLoading)">
    <div class="thumbnail unit-thumbnail" ng-class="{ 'has_error': unit.isError}" style="height:200px;">
      <div class="col-xs-5 ad-placement">
        <img class="img-responsive full-width" ngf-src="unit.file" />
      </div>
      <div class="caption col-xs-7">
        <span class="unit-namespace">{{unit.namespace}}</span>
        <br/>
        <span class="unit-name">{{unit.name}}</span>
        <!--<pre>{{unit}}</pre>-->
        <p class="description" ng-if="unit.isError">
          <span ng-repeat="(key, value) in unit.errorData"><strong>{{key}}</strong>  <span ng-repeat="v in value">{{ v }}</span>
          </span>
        </p>
      </div>
    </div>
  </div>
  <div ng-if="ctrl.nativeUnitsError">
    <center>
      <h4>Unable to fetch units</h4></center>
  </div>
  <div class="media-unit-wizard media-native-unit" ng-repeat="unit in ctrl.nativeUnits.results">
    <div class="thumbnail unit-thumbnail" style="height:200px;">
      <div class="col-xs-5 ad-placement">
        <img class="img-responsive full-width" ng-src="{{unit.creative}}" />
        <!--<img ng-if="unit.operation_type == 1" class="img-responsive full-width" ng-src="{{unit.placement_png}}" />-->
      </div>
      <div class="caption col-xs-7">
        <span class="unit-namespace">{{unit.namespace}}</span>
        <br/>
        <span class="unit-name">{{unit.name}}</span>
        <p class="description" style="opacity:0.5;" ng-hide="unit.description">
          Write steps to see Native ad in the game
        </p>
        <p class="description" ng-show="unit.description">
          {{unit.description}}
        </p>
        <div class="controls">
          <!--div style="margin-bottom:5px;" class="pull-right" ng-if="ctrl.activeStep===2 && ctrl.activeSubStep==='d' ">
            <div class="alert alert-danger" style="margin-bottom:5px;" ng-show="unit.progressError != null">
              {{unit.progressError}}
            </div>
            <div errorbox ng-model="unit.serverError"></div>
            <button class="btn btn-success" type="button" ng-show="unit.progressPercentage != null">
              <i class="fa fa-spin fa-spinner fa-fw"></i> PSD <strong>{{unit.progressPercentage}} </strong>
            </button>
            <div class="btn-group pull-right" ng-hide="unit.progressPercentage">
              <button ng-show="unit.operation_type === -1" type="button" class="btn btn-default" disabled="disabled">
                <i class="fa fa-spin fa-spinner fa-fw" ng-if="unit.isBusy == true"></i> No Ad spots
              </button>
              <button ng-show="unit.operation_type === 0" type="button" class="btn btn-default" disabled="disabled">
                <i class="fa fa-spin fa-spinner fa-fw" ng-if="unit.isBusy == true"></i> Full Logo
              </button>
              <button ng-show="unit.operation_type === 2" type="button" class="btn btn-default" disabled="disabled">
                <i class="fa fa-spin fa-spinner fa-fw" ng-if="unit.isBusy == true"></i> Full Billboard
              </button>
              <div class="btn btn-default" style="margin:0px; padding:0px; border:0px;">
                <button ng-show="unit.operation_type === 1" data-toggle="dropdown" aria-haspopup="true" type="button" class="btn btn-default">
                  Uploaded PSD <i class="fa fa-fw fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu" style="padding:0px !important;">
                  <li>
                    <a ng-href="{{unit.placement_psd}}">
                      <i class="fa fa-file-image-o fa-fw"></i> View PSD
                    </a>
                  </li>
                  <li>
                    <a ng-click="ctrl.processPSD(unit)">
                      <i class="fa fa-arrows fa-fw"></i> Reprocess PSD
                    </a>
                  </li>
                  <li>
                    <a type="file" ngf-select="ctrl.uploadPSD(unit, $file, $invalidFiles)">
                      <i class="fa fa-upload fa-fw"></i> Replace PSD
                    </a>
                  </li>
                </ul>
              </div>
              <button ng-show="unit.operation_type === 1" ng-click="ctrl.realEstate(unit)" type="button" class="btn btn-default">
                <i class="fa fa-spin fa-spinner fa-fw" ng-if="unit.isBusy == true"></i> <i class="fa fa-gear fa-fw"></i> PSD Ad spots
              </button>
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-show="!unit.isBusy">
                <i class="fa fa-fw" ng-class="{'fa-angle-down': !unit.isBusy, 'fa-spin fa-spinner': unit.isBusy}"></i>
              </button>
              <ul class="dropdown-menu" style="padding:0px !important;">
                <li ng-show="unit.operation_type !== 0">
                  <a ng-click="ctrl.setOperation(unit, 0)">
                    <i class="fa fa-arrows fa-fw"></i> Full Logo
                  </a>
                </li>
                <li ng-show="unit.operation_type !== 2">
                  <a ng-click="ctrl.setOperation(unit, 2)">
                    <i class="fa fa-arrows fa-fw"></i> Full Billboard
                  </a>
                </li>
                <li ng-show="unit.operation_type !== 1">
                  <a type="file" ngf-select="ctrl.uploadPSD(unit, $file, $invalidFiles)">
                    <i class="fa fa-upload fa-fw"></i> PSD Placement
                  </a>
                </li>
                <li ng-show="unit.operation_type !== -1"><a ng-click="ctrl.setOperation(unit, -1)"><i class="fa fa-remove fa-fw"></i>  Remove Placement</a></li>
              </ul>
            </div>
          </div-->
          <div errorbox ng-model="unit.serverError"></div>
          <div class="btn-group btn-group-sm pull-right" ng-if="ctrl.activeStep===2 && ctrl.activeSubStep==='b' ">
            <button class="btn btn-default" type="button" ng-click="ctrl.adunitEdit(unit, 0)" ga-track-event="['Unit', 'Native', 'remove']">
              <i class="fa fa-pencil remove-margin"></i>Edit</button>
            <button class="btn btn-default" type="button" ng-click="ctrl.adunitRemove(unit, 0)" ga-track-event="['Unit', 'Native', 'remove']">
              <i class="fa fa-remove remove-margin"></i>Remove
            </button>
          </div>
          <!-- /btn-group -->
        </div>
      </div>
    </div>
  </div>
</section>
