<!-- UNITY START -->
<section ng-show="ctrl.activeSubStep==='b' ">
  <div class="col-md-8" style="border-width: 0px; border-right-width: 1px; border-style: dotted;">
    <h3>Setup</h3>
    <ul>
      <li>Download and import latest unitypackage to your unity project sdk from previous step.
      </li>
      <li>
        Goto top menu <strong>GreedyGame > AndroidResource</strong>, this will open a window</i>
      </li>
      <li style="position: relative;">
        Copy then Paste the following resource XML in the opened window.
        <button class="btn" style="position: absolute;right:0;
    top: 2.5em;" ng-show="ctrl.androidXML" ngclipboard data-clipboard-target="#substep2">
          <i class="fa fa-files-o" aria-hidden="true"></i>
        </button>
        <pre-prism id="substep2" source="ctrl.androidXML" type="markup" style="max-height:500px;"></pre-prism>
      </li>
      <li>
        Click the green <strong>Save</strong> button, it will update the android required resource. And <strong>GreedyGameConfigPrefab.prefab</strong> will be created.
      </li>
  </div>
  <div class="col-md-4">
    <p><strong>What are the different ad-units?</strong></p>
    <ul>
      <li><strong><a target="_blank" href="http://greedygame.github.io/#nativeunits">NativeUnits</a></strong> : These are non clickable textures inside your game that are dynamically branded at runtime. The native unit is seamlessly blended into the in-game textures and so, the textures remain the same and are simply enhanced with branding.
      </li>
      <li><strong><a target="_blank" href="http://greedygame.github.io/#floatunits">FloatUnits</a></strong> : This is a clickable ad-unit that hovers in a non-intrusive parts of the user’s screen. When a user clicks on this unit, it expands into a dynamic window called the ‘Engagement Window’. Float units don’t require any changes to in game objects.
      </li>
    </ul>
    <a ng-href="/{{ctrl.gameId}}/wizard/2-b" target="_blank" class="btn btn-primary btn-block" style="margin-bottom:10px;"><i class="fa fa-external-link fa-fw"></i> Open Ad Unit Placements</a>
    <p><strong>Tips:</strong></p>
    <ul>
      <li>After every change, you can goto top menu <strong>GreedyGame > GreedyGameConfigPrefab</strong>. </li>
      <li>It will be having same values from provided XML.</li>
    </ul>
  </div>
</section>
<section ng-show="ctrl.activeSubStep === 'c' ">
  <div class="col-md-8" style="border-width: 0px; border-right-width: 1px; border-style: dotted;">
    <h3>Initialization and Agent's listener</h3>
    <ul>
      <li>
        Initialize the SDK at the first scene (loading scene) of your game.
      </li>
      <li style="position: relative;">
        In Monobehaviour's <strong>awake</strong> function, to fetch campaign call GreedyGameAgent's <code>init</code> function as follow.
        <button class="btn" style="position: absolute;right:0;
    top: 2.5em;" ng-show="ctrl.initCall" ngclipboard data-clipboard-target="#substep3_1">
          <i class="fa fa-files-o" aria-hidden="true"></i>
        </button>
        <pre-prism id="substep3_1" class="copytoclipboard" source="ctrl.initCall" type="csharp"></pre-prism>
      </li>
      <li style="position: relative;">
        Implement interface <code>IAgentListener</code> to catch runtime callbacks. For example, <strong>GreedyAgentListener</strong> has been implemented in the following code.
        <button class="btn" style="position: absolute;right:0;
    top: 3.7em;" ng-show="ctrl.initListenerCall" ngclipboard data-clipboard-target="#substep3_2">
          <i class="fa fa-files-o" aria-hidden="true"></i>
        </button>
        <pre-prism id="substep3_2" class="copytoclipboard" source="ctrl.initListenerCall" type="csharp"></pre-prism>
      </li>
  </div>
</section>
<section ng-show="ctrl.activeSubStep === 'd' ">
  <div class="col-md-8" style="border-width: 0px; border-right-width: 1px; border-style: dotted;">
    <h3>Rendering native unit</h3>
    <p>Below is the sample code to render one of the <strong>native</strong> unit defined.</p>
    <ul>
      <li>
        <h4>Method #1, Using compiled managed DLLs</h4>
        <div class="unity-engine">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-xs-12 control-label">
                <h4><i class="fa fa-caret-down"></i> <i class="fa fa-file-code-o" style="padding-right:20px;"></i>Native Unit (Script)</h4></label>
            </div>
            <div class="alert alert-success">
              <i class="fa fa-exclamation-circle" style="font-size:20px;float:left;padding-right:6px;"></i>
              <p>Renderer component is marked to be used for dynamically native branding.</p>
            </div>
            <div class="form-group">
              <label class="col-xs-4 control-label" style="color:#737373;">Script</label>
              <div class="col-xs-8">
                <input type="text" class="form-control" disabled="disabled" style="color:#737373;" value="ctrl.NativeUnit">
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-4 control-label">Native Unit Id</label>
              <div class="col-xs-8">
                <input type="text" class="form-control" ng-value="ctrl.nativeUnits.results[0].namespace">
              </div>
            </div>
          </form>
        </div>
      </li>
      <li style="position: relative;">
        <h4>Method #2, Using C# code</h4>
        <button class="btn" style="position: absolute;right:0;
    top: 2.5em;" ng-show="ctrl.nativeUnitCall[0]" ngclipboard data-clipboard-target="#substep4">
          <i class="fa fa-files-o" aria-hidden="true"></i>
        </button>
        <pre-prism id="substep4" class="copytoclipboard" source="ctrl.nativeUnitCall[0]" type="csharp"></pre-prism>
      </li>
    </ul>
  </div>
</section>
<section ng-show="ctrl.activeSubStep === 'e' ">
  <div class="col-md-8" style="border-width: 0px; border-right-width: 1px; border-style: dotted;">
    <h3 style="margin-top:15px;">Fetching Float unit</h3>
    <p>Below is the sample code to fetch one of the <strong>float</strong> unit defined.</p>
    <ul>
      <li style="position: relative;">To <strong>fetch</strong> float unit in game logic
        <button class="btn" style="position: absolute;right:0;
    top: 2.5em;" ng-show="ctrl.floatUnitCall.fetch" ngclipboard data-clipboard-target="#substep5_1">
          <i class="fa fa-files-o" aria-hidden="true"></i>
        </button>
        <pre-prism id="substep5_1" class="copytoclipboard" source="ctrl.floatUnitCall.fetch" type="java"></pre-prism>
      </li>
      <li style="position: relative;">To <strong>remove</strong> a specific float unit call
        <button class="btn" style="position: absolute;right:0;
    top: 2.5em;" ng-show="ctrl.floatUnitCall.remove" ngclipboard data-clipboard-target="#substep5_2">
          <i class="fa fa-files-o" aria-hidden="true"></i>
        </button>
        <pre-prism id="substep5_2" class="copytoclipboard" source="ctrl.floatUnitCall.remove" type="java"></pre-prism>
      </li>
      <li style="position: relative;">To <strong>remove</strong> all the float units in the screen call
        <button class="btn" style="position: absolute;right:0;
    top: 2.5em;" ng-show="ctrl.floatUnitCall.remove" ngclipboard data-clipboard-target="#substep5_3">
          <i class="fa fa-files-o" aria-hidden="true"></i>
        </button>
        <pre-prism id="substep5_3" class="copytoclipboard" source="ctrl.floatUnitCall.removeAll" type="java"></pre-prism>
      </li>
    </ul>
    <h3 style="margin-top:15px;">Method #2</h3>
    <p> If your float unit needs to appear whenever a particular scene is loaded then you can attach FloatUnitLoader.cs Script as well. This will actually fetch the float unit whenever the scene loads and removes it whenever the scene is destroyed.</p>
    <div class="unity-engine">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-xs-12 control-label">
            <h4><i class="fa fa-caret-down"></i> <i class="fa fa-file-code-o" style="padding-right:20px;"></i>Float Unit Loader(Script)</h4></label>
        </div>
        <div class="form-group">
          <label class="col-xs-4 control-label" style="color:#737373;">Script</label>
          <div class="col-xs-8">
            <input type="text" class="form-control" disabled="disabled" style="color:#737373;" value="FloatUnitLoader">
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-4 control-label">Float Unit</label>
          <div class="col-xs-8">
            <input type="text" class="form-control" ng-value="ctrl.floatUnits.results[0].namespace">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-4">
    <p>Compiled monobehaviour dll, <strong>NativeUnit</strong> can be attached to gameobject having 2d texture.</p>
    <p>Also, you can use NativeUnit and SharedNativeUnit to change <a href="http://docs.unity3d.com/ScriptReference/Renderer-material.html" target="_blank">material</a> and <a href="http://docs.unity3d.com/ScriptReference/Renderer-sharedMaterial.html" target="_blank">sharedMaterials</a> respectively.</p>
  </div>
</section>
<section ng-show="ctrl.activeSubStep === 'f' ">
  <div class="col-md-8" style="border-width: 0px; border-right-width: 1px; border-style: dotted;">
    <h3 style="margin-top:15px;">Extended Float Unit Integration</h3>
    <p>You can also create buttons that are native to your game and then use it instead of float unit. For doing this you need to do 2 steps as follows.</p>
    <ol>
      <li style="position: relative;">Replace the texture of your custom native button with that of the corresponding float unit as shown below.
        <button class="btn" style="position: absolute;right:0;
    top: 2.5em;" ng-show="ctrl.floatUnitCall.remove" ngclipboard data-clipboard-target="#substep6_1">
          <i class="fa fa-files-o" aria-hidden="true"></i>
        </button>
        <pre-prism id="substep6_1" class="copytoclipboard" source="ctrl.extendedFloatUnitCall.getTexture" type="java"></pre-prism>
      </li>
      <li style="position: relative;">OnClick of the game object call the following function :
        <button class="btn" style="position: absolute;right:0;
    top: 2.5em;" ng-show="ctrl.floatUnitCall.remove" ngclipboard data-clipboard-target="#substep6_2">
          <i class="fa fa-files-o" aria-hidden="true"></i>
        </button>
        <pre-prism id="substep6_2" class="copytoclipboard" source="ctrl.extendedFloatUnitCall.showEngagement" type="java"></pre-prism>
      </li>
    </ol>
  </div>
</section>