<section ng-show="ctrl.activeSubStep==='b' ">
  <div class="col-md-8" style="border-width: 0px; border-right-width: 1px; border-style: dotted;">
    <h3>Setup</h3>
    <ul>
      <li>Download the latest <strong>android</strong> sdk from previous step.</li>
      <li>Link <strong>android library</strong> or <strong>AAR</strong> to game's project build path.</li>
      <li style="position: relative;">Save the following XML in Android resource like <strong>res/values/greedygame.xml</strong>.
        <button class="btn" style="position: absolute;right:0;
    top: 2.5em;" ng-show="ctrl.androidXML" ngclipboard data-clipboard-target="#substep2_1">
          <i class="fa fa-files-o" aria-hidden="true"></i>
        </button>
        <pre-prism id="substep2_1" class="code-toolbar" source="ctrl.androidXML" type="markup" style="max-height:500px;"></pre-prism>
      </li>
      <li style="position: relative;">Merge the following XML with your application's <strong>Manifest.xml</strong>.
        <button class="btn" style="position: absolute;right:0;
    top: 2.5em;" ng-show="ctrl.manifestChanges" ngclipboard data-clipboard-target="#substep2_2">
          <i class="fa fa-files-o" aria-hidden="true"></i>
        </button>
        <pre-prism id="substep2_2" class="code-toolbar" source="ctrl.manifestChanges" type="markup"></pre-prism>
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <p><strong>What are the different ad-units?</strong></p>
    <ul>
      <li><strong><a target="_blank" href="http://greedygame.github.io/#nativeunits">NativeUnits</a></strong> : These are non clickable textures inside your game that are dynamically branded at runtime. The native unit is seamlessly blended into the in-game textures and so, the textures remain the same and are simply enhanced with branding.
      </li>
      <li><strong><a target="_blank" href="http://greedygame.github.io/#floatunits">FloatUnits</a></strong> : This is a clickable ad-unit that hovers in a non-intrusive parts of the user’s screen. When a user clicks on this unit, it expands into a dynamic window called the ‘Engagement Window’. Float units don’t require any changes to in game objects.
      </li>
    </ul>
    <a ng-href="/{{ctrl.gameId}}/wizard/2-b" target="_blank" class="btn btn-primary btn-block" style="margin-bottom:10px;"><i class="fa fa-external-link fa-fw"></i> Open Ad Unit Placements</a>
  </div>
</section>
<section ng-show="ctrl.activeSubStep==='c' ">
  <div class="col-md-8" style="border-width: 0px; border-right-width: 1px; border-style: dotted;">
    <h3>Initialize GreedyGame as follows: </h3>
    <ul>
      <li style="position: relative;">
        Install GreedygameAgent in the first (loading or launcher) activity's <strong>onCreate()</strong> method.
        <button class="btn" style="position: absolute;right:0;
    top: 2.5em;" ng-show="ctrl.initCall" ngclipboard data-clipboard-target="#substep3_1">
          <i class="fa fa-files-o" aria-hidden="true"></i>
        </button>
        <pre-prism id="substep3_1" class="code-toolbar" source="ctrl.initCall" type="java"></pre-prism>
      </li>
      <li style="position: relative;">
        If you want callbacks from the campaign, implement <code>CampaignStateListener</code> and register as shown below.
        <button class="btn" style="position: absolute;right:0;
    top: 2.5em;" ng-show="ctrl.initListenerCall" ngclipboard data-clipboard-target="#substep3_2">
          <i class="fa fa-files-o" aria-hidden="true"></i>
        </button>
        <pre-prism id="substep3_2" class="code-toolbar" source="ctrl.initListenerCall" type="java"></pre-prism>
      </li>
      <li style="position: relative;">
        <b>TO REGISTER</b>
        <button class="btn" style="position: absolute;right:0;
    top: 2.5em;" ng-show="ctrl.initListenerCall" ngclipboard data-clipboard-target="#substep3_3">
          <i class="fa fa-files-o" aria-hidden="true"></i>
        </button>
        <pre-prism id="substep3_3" class="code-toolbar" source="ctrl.stateRegisterCall" type="java"></pre-prism>
      </li>
      <li style="position: relative;">
        <b>Campaign Progress Listener :</b> If you want to know the progress of downloads of a campaign implement and register the CampaignProgressListener as shown below.
        <button class="btn" style="position: absolute;right:0;
    top: 3.6em;" ng-show="ctrl.initListenerCall" ngclipboard data-clipboard-target="#substep3_4">
          <i class="fa fa-files-o" aria-hidden="true"></i>
        </button>
        <pre-prism id="substep3_4" class="code-toolbar" source="ctrl.progressListner" type="java"></pre-prism>
      </li>
      <li style="position: relative;">
        <b>To REGISTER: </b>
        <button class="btn" style="position: absolute;right:0;
    top: 2.5em;" ng-show="ctrl.initListenerCall" ngclipboard data-clipboard-target="#substep3_5">
          <i class="fa fa-files-o" aria-hidden="true"></i>
        </button>
        <pre-prism id="substep3_5" class="code-toolbar" source="ctrl.progressRegisterCall" type="java"></pre-prism>
      </li>
    </ul>
  </div>
</section>
<section ng-show="ctrl.activeSubStep==='d' ">
  <div class="col-md-8" style="border-width: 0px; border-right-width: 1px; border-style: dotted;">
    <h3>Rendering native unit</h3>
    <ul>
      <li style="position: relative;">Following the sample code to reneder one of the <strong>native</strong> unit defined in the ad placements.
        <button class="btn" style="position: absolute;right:0;
    top: 2.5em;" ng-show="ctrl.nativeUnitCall[0]" ngclipboard data-clipboard-target="#substep4_2">
          <i class="fa fa-files-o" aria-hidden="true"></i>
        </button>
        <pre-prism id="substep4_2" class="code-toolbar" source="ctrl.nativeUnitCall[0]" type="java"></pre-prism>
      </li>
    </ul>
  </div>
</section>
<section ng-show="ctrl.activeSubStep==='e' ">
  <div class="col-md-8" style="border-width: 0px; border-right-width: 1px; border-style: dotted;">
    <h3 style="margin-top:15px;">Fetching Float unit</h3>
    <p>Below is the sample code to fetch one of the <strong>float</strong> unit defined.</p>
    <ul>
      <li style="position: relative;">To <strong>fetch</strong> float unit in game logic.
        <button class="btn" style="position: absolute;right:0;
    top: 2.5em;" ng-show="ctrl.floatUnitCall.fetch" ngclipboard data-clipboard-target="#substep5_1">
          <i class="fa fa-files-o" aria-hidden="true"></i>
        </button>
        <pre-prism id="substep5_1" class="code-toolbar" source="ctrl.floatUnitCall.fetch" type="cpp"></pre-prism>
      </li>
      <li style="position: relative;">To <strong>remove</strong>the float unit in game logic.
        <button class="btn" style="position: absolute;right:0;
    top: 2.5em;" ng-show="ctrl.floatUnitCall.remove" ngclipboard data-clipboard-target="#substep5_2">
          <i class="fa fa-files-o" aria-hidden="true"></i>
        </button>
        <pre-prism id="substep5_2" class="code-toolbar" source="ctrl.floatUnitCall.remove" type="cpp"></pre-prism>
      </li>
      <li style="position: relative;">To <strong>remove</strong>all the float units in game logic.
        <button class="btn" style="position: absolute;right:0;
    top: 2.5em;" ng-show="ctrl.floatUnitCall.removeAll" ngclipboard data-clipboard-target="#substep5_3">
          <i class="fa fa-files-o" aria-hidden="true"></i>
        </button>
        <pre-prism id="substep5_3" class="code-toolbar" source="ctrl.floatUnitCall.removeAll" type="cpp"></pre-prism>
      </li>
    </ul>
  </div>
</section>
<section ng-show="ctrl.activeSubStep === 'f' ">
  <div class="col-md-8" style="border-width: 0px; border-right-width: 1px; border-style: dotted;">
    <h3 style="margin-top:15px;">Extended Float Unit Integration</h3>
    <p>You can also create buttons that are native to your game and then use it instead of float unit. For doing this you need to do 2 steps as follows.</p>
    <ol>
      <li style="position: relative;">Replace the texture of your custom native button with that of the corresponding float unit as shown below.
        <button class="btn" style="position: absolute;right:0;
    top: 2.5em;" ng-show="ctrl.floatUnitCall.remove" ngclipboard data-clipboard-target="#substep6_1">
          <i class="fa fa-files-o" aria-hidden="true"></i>
        </button>
        <pre-prism id="substep6_1" class="copytoclipboard" source="ctrl.extendedFloatUnitCall.getTexture" type="java"></pre-prism>
      </li>
      <li style="position: relative;">OnClick of the game object call the following function :
        <button class="btn" style="position: absolute;right:0;
    top: 2.5em;" ng-show="ctrl.floatUnitCall.remove" ngclipboard data-clipboard-target="#substep6_2">
          <i class="fa fa-files-o" aria-hidden="true"></i>
        </button>
        <pre-prism id="substep6_2" class="copytoclipboard" source="ctrl.extendedFloatUnitCall.showEngagement" type="java"></pre-prism>
      </li>
    </ol>
  </div>
</section>