<div class="col-md-6">
  <h3>GameProfile</h3>
  <div class="row">
    <div class="form-horizontal ng-pristine ng-valid col-sm-10 col-xs-10 col-md-10" style="margin-left: 1em;">
      <div errorbox ng-if="ctrl.gameProfileError.config.method == 'GET'" ng-model="ctrl.gameProfileError"></div>
      <form class="form-horizontal" name="gameProfileForm" role="form" novalidate>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Google Play</span>
            <input ng-model="ctrl.gameProfile.platforms[0].url" type="url" name="googleUrl" class="form-control" placeholder="Enter Game URL" />
            <span class="input-group-btn">
             <button class="btn btn-primary" ng-disabled="ctrl.gameProfile.platforms[0].url === '' || gameProfileForm.googleUrl.$invalid" ng-click="ctrl.getPlaystoreInfo(ctrl.gameProfile.platforms[0].url)" type="button">
             <span ng-show="ctrl.isPlaystoreLoading"><i class="fa fa-spinner fa-spin"></i> 
             Fetching</span>
            <span ng-show="!ctrl.isPlaystoreLoading"> 
             Fetch</span>
            </button>
            </span>
          </div>
          <div ng-messages="gameProfileForm.googleUrl.$touched && gameProfileForm.googleUrl.$error" role="alert" style="color:maroon">
            <div ng-message="url">Please enter a valid url</div>
          </div>
          <div ng-messages="ctrl.gameProfileError.data" role="alert" style="color: maroon">
            <div ng-message="platforms" ng-repeat="error in ctrl.gameProfileError.data.platforms">{{error}}</div>
          </div>
          <div ng-if="ctrl.playStoreError" role="alert" style="color: maroon">
            <div>Please enter a play store url</div>
          </div>
          <div style="color:maroon" ng-if="ctrl.playStoreError.status >=500 && ctrl.gameProfile.platforms[0].url">
            <span>Unable to fetch play store data</span>
          </div>
        </div>
        <div class="form-group row" ng-show="ctrl.playstore">
          <img class="col-md-5 playstore-details" ng-src="{{ctrl.playstore.icon}}" alt="The game icon not loaded" />
          <div class="col-md-7" style="padding-top: 25px;">
            <h5><b>Title: </b>{{ctrl.playstore.title}}</h5>
            <h5><b>Downloads: </b>{{ctrl.playstore.min_downloads}} - {{ctrl.playstore.max_downloads}}</h5>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Amazon</span>
            <input ng-model="ctrl.gameProfile.platforms[1].url" ng-change="ctrl.checkPlatformUrl(2, ctrl.gameProfile.platforms[1].url)" type="url" name="amazonUrl" class="form-control" placeholder="Enter Game URL">
          </div>
          <div ng-messages="gameProfileForm.amazonUrl.$touched && gameProfileForm.amazonUrl.$error" role="alert" style="color:maroon">
            <div ng-message="url">Please enter a valid url</div>
          </div>
          <div ng-messages="ctrl.gameProfileError.data" role="alert" style="color: maroon">
            <div ng-message="platforms" ng-repeat="error in ctrl.gameProfileError.data.platforms">{{error}}</div>
          </div>
          <div ng-if="ctrl.checkPlatformUrl(3,ctrl.gameProfile.platforms[1].url) === false" style="color:maroon">
            <span>Please enter a valid Amazon URL.</span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">9 Apps</span>
            <input ng-model="ctrl.gameProfile.platforms[2].url" ng-change="ctrl.checkPlatformUrl(3, ctrl.gameProfile.platforms[2].url)" type="url" name="apps9Url" class="form-control" placeholder="Enter Game URL">
          </div>
          <div ng-messages="gameProfileForm.apps9Url.$touched && gameProfileForm.apps9Url.$error" role="alert" style="color:maroon">
            <div ng-message="url">Please enter a valid url</div>
          </div>
          <div ng-messages="ctrl.gameProfileError.data" role="alert" style="color: maroon">
            <div ng-message="platforms" ng-repeat="error in ctrl.gameProfileError.data.platforms">{{error}}</div>
          </div>
          <div ng-if="ctrl.checkPlatformUrl(2,ctrl.gameProfile.platforms[2].url)=== false" style="color:maroon">
            <span>Please enter a valid 9 Apps URL.</span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Game Genre *</span>
            <ui-select ng-model="ctrl.gameProfile.genre" name="genre" theme="bootstrap" ng-show="ctrl.gameProfile.genre!=0" placeholder="Select a Genre" search-enabled="false" style="line-height:0.78" title="Choose a genre" required>
              <ui-select-match placeholder="Select a Genre">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="gameGenre.id as gameGenre in ctrl.gameGenres">
                <span ng-bind-html="gameGenre.name" ng-if="gameGenre.id != 0"></span>
                <b ng-bind-html="gameGenre.name" ng-if="gameGenre.id == 0"></b>
              </ui-select-choices>
            </ui-select>
            </span>
          </div>
          <div ng-messages="gameProfileForm.genre.$touched && gameProfileForm.genre.$error" role="alert" style="color:maroon">
            <div ng-message="required">Please select a game genre</div>
          </div>
          <div ng-messages="ctrl.gameProfileError.data" role="alert" style="color: maroon">
            <div ng-message="genre" ng-repeat="error in ctrl.gameProfileError.data.genre">{{error}}</div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Game Title *</span>
            <input ng-model="ctrl.gameProfile.title" name="title" class="form-control" placeholder="Enter Your Game Name" required />
          </div>
          <div ng-messages="gameProfileForm.title.$touched && gameProfileForm.title.$error" role="alert" style="color:maroon">
            <div ng-message="required">Please enter the game title</div>
          </div>
          <div ng-messages="ctrl.gameProfileError.data" role="alert" style="color: maroon">
            <div ng-message="title" ng-repeat="error in ctrl.gameProfileError.data.title">{{error}}</div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Game Id</span>
            <input ng-model="ctrl.gameProfile.id" name="gameId" class="form-control" placeholder="Auto generated GameId" ng-readonly="true">
          </div>
        </div>
        <div class="form-group">
          <div class="btn-group col-sm-12 col-xs-12 col-md-12 no-left-padding" name="engine">
            <p>Choose your platform or development tool *</p>
            <button class="btn btn-default col-md-4" ng-model="ctrl.gameProfile.engine" uib-btn-radio=0>Unity</button>
            <button class="btn btn-default col-md-4" ng-model="ctrl.gameProfile.engine" uib-btn-radio=1>Cocos</button>
            <button class="btn btn-default col-md-4" ng-model="ctrl.gameProfile.engine" uib-btn-radio=2>Android</button>
          </div>
          <div ng-messages="ctrl.gameProfileError.data" role="alert" style="color: maroon">
            <div ng-message="engine" ng-repeat="error in ctrl.gameProfileError.data.engine">{{error}}</div>
          </div>
        </div>
        <div errorbox ng-if="ctrl.gameProfileError.config.method !== 'GET'" ng-model="ctrl.gameProfileError"></div>
        <div class="form-group">
          <button class="btn btn-block btn-primary" promise-click="ctrl.saveGame()" ng-disabled="gameProfileForm.$invalid || !ctrl.isGameProfileChanged() || !ctrl.isGameDetailsValid() || ctrl.gameProfile.engine === undefined || ctrl.gameProfile.engine === null ">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col-md-6" ng-show="ctrl.gameId!=='new'">
  <div errorbox ng-if="ctrl.gameDetailsError.config.method == 'GET'" ng-model="ctrl.gameDetailsError"></div>
  <h3>Game Demographics</h3>
  <div class="form-horizontal ng-pristine ng-valid col-sm-10 col-xs-10 col-md-10" style="margin-left: 1em;">
    <form class="form-horizontal" role="form" name="gameDetailsForm">
      <h4>Gender Distribution</h4>
      <div class="row">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Male</span>
            <input ng-model="ctrl.gameDetails.demography.male" ng-change="ctrl.gameDetails.demography.female = 100 - ctrl.gameDetails.demography.male" step="1" type="number" name="male" class="form-control" ng-min="0" ng-max="100" placeholder="Enter value" />
            <div class="input-group-addon progress" style="min-width:300px;color: black">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" ng-style="{'width':ctrl.gameDetails.demography.male + '%', 'color':(ctrl.gameDetails.demography.male < 15)?'black':'white'}">
                <span ng-show="ctrl.gameDetails.demography.male">{{ctrl.gameDetails.demography.male}}% <i class="fa fa-mars" aria-hidden="true"></i></span>
              </div>
            </div>
          </div>
          <div ng-messages="gameDetailsForm.male.$touched && gameDetailsForm.male.$error" role="alert" style="color:maroon">
            <div ng-message="max">Please enter percentage less than 100</div>
            <div ng-message="min">Please enter percentage more than 0</div>
            <div ng-message="step">Please enter a number without decimal value</div>
            <div ng-message="number">Please enter a valid number</div>
          </div>
          <div ng-messages="ctrl.gameDetailError.data" role="alert" style="color: maroon">
            <div ng-message="genre">{{ctrl.gameDetailError.data.male}}</div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Female</span>
            <input ng-model="ctrl.gameDetails.demography.female" type="number" ng-change="ctrl.gameDetails.demography.male = 100 - ctrl.gameDetails.demography.female" name="female" class="form-control" ng-min="0" step="1" ng-max="100" placeholder="Enter value">
            <div class="input-group-addon progress" style="min-width:300px;">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" ng-style="{'width':ctrl.gameDetails.demography.female + '%', 'color':(ctrl.gameDetails.demography.female < 15)?'black':'white'}">
                <span ng-show="ctrl.gameDetails.demography.female">{{ctrl.gameDetails.demography.female}}% <i class="fa fa-venus" aria-hidden="true"></i></span>
              </div>
            </div>
          </div>
          <div ng-messages="gameDetailsForm.female.$touched && gameDetailsForm.female.$error" role="alert" style="color:maroon">
            <div ng-message="max">Please enter percentage less than 100</div>
            <div ng-message="min">Please enter percentage more than 0</div>
            <div ng-message="step">Please enter a number without decimal value</div>
            <div ng-message="number">Please enter a valid number</div>
          </div>
          <div ng-messages="ctrl.gameDetailError.data" role="alert" style="color: maroon">
            <div ng-message="genre">{{ctrl.gameDetailError.data.female}}</div>
          </div>
        </div>
      </div>
      <h4>Age Distribution</h4>
      <div class="row">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">0 to 15</span>
            <input ng-model="ctrl.gameDetails.ageGroup.agegroup0" type="number" name="agegroup0" placeholder="Enter value" ng-min="0" ng-max="100" step="1" class="form-control">
            <div class="input-group-addon progress" style="min-width:300px;color: black">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" ng-style="{'width':ctrl.gameDetails.ageGroup.agegroup0 + '%', 'color':(ctrl.gameDetails.ageGroup.agegroup0 < 15)?'black':'white'}">
                <span ng-show="ctrl.gameDetails.ageGroup.agegroup0">{{ctrl.gameDetails.ageGroup.agegroup0}} %</span>
              </div>
            </div>
          </div>
          <div ng-messages="gameDetailsForm.agegroup0.$touched && gameDetailsForm.agegroup0.$error" role="alert" style="color:maroon">
            <div ng-message="max">Please enter percentage less than 100</div>
            <div ng-message="min">Please enter percentage more than 0</div>
            <div ng-message="step">Please enter a number without decimal value</div>
            <div ng-message="number">Please enter a valid number</div>
          </div>
          <div ng-messages="ctrl.gameDetailError.data" role="alert" style="color: maroon">
            <div ng-message="agegroup0">{{ctrl.gameDetailError.data.agegroup0}}</div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">16 to 25</span>
            <input ng-model="ctrl.gameDetails.ageGroup.agegroup16" type="number" name="agegroup1" placeholder="Enter value" ng-min="0" ng-max="100" step="1" class="form-control">
            <div class="input-group-addon progress" style="min-width:300px;color: black">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" ng-style="{'width':ctrl.gameDetails.ageGroup.agegroup16 + '%', 'color':(ctrl.gameDetails.ageGroup.agegroup16 < 15)?'black':'white'}">
                <span ng-show="ctrl.gameDetails.ageGroup.agegroup16">{{ctrl.gameDetails.ageGroup.agegroup16}} %</span>
              </div>
            </div>
          </div>
          <div ng-messages="gameDetailsForm.agegroup1.$touched && gameDetailsForm.agegroup1.$error" role="alert" style="color:maroon">
            <div ng-message="max">Please enter percentage less than 100</div>
            <div ng-message="min">Please enter percentage more than 0</div>
            <div ng-message="step">Please enter a number without decimal value</div>
            <div ng-message="number">Please enter a valid number</div>
          </div>
          <div ng-messages="ctrl.gameDetailError.data" role="alert" style="color: maroon">
            <div ng-message="agegroup1">{{ctrl.gameDetailError.data.ageGroup.agegroup1}}</div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">26 to 40</span>
            <input ng-model="ctrl.gameDetails.ageGroup.agegroup26" ng-min="0" ng-max="100" type="number" name="agegroup2" placeholder="Enter value" step="1" class="form-control">
            <div class="input-group-addon progress" style="min-width:300px;color: black">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" ng-style="{'width':ctrl.gameDetails.ageGroup.agegroup26 + '%', 'color':(ctrl.gameDetails.ageGroup.agegroup26 < 15)?'black':'white'}">
                <span ng-show="ctrl.gameDetails.ageGroup.agegroup26">{{ctrl.gameDetails.ageGroup.agegroup26}} %</span>
              </div>
            </div>
          </div>
          <div ng-messages="gameDetailsForm.agegroup2.$touched && gameDetailsForm.agegroup2.$error" role="alert" style="color:maroon">
            <div ng-message="max">Please enter percentage less than 100</div>
            <div ng-message="min">Please enter percentage more than 0</div>
            <div ng-message="step">Please enter a number without decimal value</div>
            <div ng-message="number">Please enter a valid number</div>
          </div>
          <div ng-messages="ctrl.gameDetailError.data" role="alert" style="color: maroon">
            <div ng-message="agegroup2">{{ctrl.gameDetailError.data.agegroup2}}</div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">41 to 60</span>
            <input ng-model="ctrl.gameDetails.ageGroup.agegroup41" ng-min="0" ng-max="100" type="number" name="agegroup3" placeholder="Enter value" class="form-control">
            <div class="input-group-addon progress" step="1" style="min-width:300px;color: black">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" ng-style="{'width':ctrl.gameDetails.ageGroup.agegroup41 + '%', 'color':(ctrl.gameDetails.ageGroup.agegroup41 < 15)?'black':'white'}">
                <span ng-show="ctrl.gameDetails.ageGroup.agegroup41">{{ctrl.gameDetails.ageGroup.agegroup41}} %</span>
              </div>
            </div>
          </div>
          <div ng-messages="gameDetailsForm.agegroup3.$touched && gameDetailsForm.agegroup3.$error" role="alert" style="color:maroon">
            <div ng-message="max">Please enter percentage less than 100</div>
            <div ng-message="min">Please enter percentage more than 0</div>
            <div ng-message="step">Please enter a number without decimal value</div>
            <div ng-message="number">Please enter a valid number</div>
          </div>
          <div ng-messages="ctrl.gameDetailError.data" role="alert" style="color: maroon">
            <div ng-message="agegroup3">{{ctrl.gameDetailError.data.agegroup3}}</div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">60 and above </span>
            <input ng-model="ctrl.gameDetails.ageGroup.agegroup60" ng-min="0" ng-max="100" type="number" name="agegroup4" placeholder="Enter value" step="1" class="form-control">
            <div class="input-group-addon progress" style="min-width:300px;color: black">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" ng-style="{'width':ctrl.gameDetails.ageGroup.agegroup60 + '%', 'color':(ctrl.gameDetails.ageGroup.agegroup60 < 15)?'black':'white'}">
                <span ng-show="ctrl.gameDetails.ageGroup.agegroup60">{{ctrl.gameDetails.ageGroup.agegroup60}} %</span>
              </div>
            </div>
          </div>
          <div ng-messages="gameDetailsForm.agegroup4.$touched && gameDetailsForm.agegroup4.$error" role="alert" style="color:maroon">
            <div ng-message="max">Please enter percentage less than 100</div>
            <div ng-message="min">Please enter percentage more than 0</div>
            <div ng-message="step">Please enter a number without decimal value</div>
            <div ng-message="number">Please enter a valid number</div>
          </div>
          <div ng-messages="ctrl.gameDetailError.data" role="alert" style="color: maroon">
            <div ng-message="agegroup4">{{ctrl.gameDetailError.data.agegroup4}}</div>
          </div>
        </div>
        <div errorbox ng-if="ctrl.gameDetailsError.config.method !== 'GET'" ng-model="ctrl.gameDetailsError"></div>
        <div class="form-group">
          <button class="btn btn-block btn-primary" promise-click="ctrl.saveGameDetails()" ng-disabled="gameDetailsForm.$invalid || !ctrl.isGameDetailChanged()">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>