<div class="mt-element-step">
  <div class="row step-line">
    <div class="col-md-3 mt-step-col first" ng-class="{ 'active' : ctrl.activeSubStep==='a' }" ng-click="ctrl.subclick('a');">
      <div class="mt-step-number bg-white">a</div>
      <div class="mt-step-title uppercase font-grey-cascade"></div>
      <div class="mt-step-content font-grey-cascade">Native unit description</div>
    </div>
    <div class="col-md-3 mt-step-col" ng-class="{ 'active' : ctrl.activeSubStep==='b' }" ng-click="ctrl.subclick('b');">
      <div class="mt-step-number bg-white">b</div>
      <div class="mt-step-title uppercase font-grey-cascade"></div>
      <div class="mt-step-content font-grey-cascade">Add native units</div>
    </div>
    <!--commenting the code as ad-spot marking logic is broken -->
    <!-- while bringing back this module, please rename the subteps accordingly --> 
    <!--div class="col-md-2 mt-step-col" ng-class="{ 'active' : ctrl.activeSubStep==='c' }" ng-click="ctrl.subclick('c');">
      <div class="mt-step-number bg-white">c</div>
      <div class="mt-step-title uppercase font-grey-cascade"></div>
      <div class="mt-step-content font-grey-cascade">Ad spot marking description</div>
    </div>
    <div class="col-md-2 mt-step-col" ng-class="{ 'active' : ctrl.activeSubStep==='d' }" ng-click="ctrl.subclick('d');">
      <div class="mt-step-number bg-white">d</div>
      <div class="mt-step-title uppercase font-grey-cascade"></div>
      <div class="mt-step-content font-grey-cascade">Ad spot marking</div>
    </div-->
    <div class="col-md-3 mt-step-col" ng-class="{ 'active' : ctrl.activeSubStep==='c' }" ng-click="ctrl.subclick('c');">
      <div class="mt-step-number bg-white">c</div>
      <div class="mt-step-title uppercase font-grey-cascade"></div>
      <div class="mt-step-content font-grey-cascade">Float unit description</div>
    </div>
    <div class="col-md-3 mt-step-col last" ng-class="{ 'active' : ctrl.activeSubStep==='d' }" ng-click="ctrl.subclick('d');">
      <div class="mt-step-number bg-white">d</div>
      <div class="mt-step-title uppercase font-grey-cascade"></div>
      <div class="mt-step-content font-grey-cascade">Add float units</div>
    </div>
  </div>
</div>
<div ng-show="ctrl.activeSubStep==='a' ">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <h3>What is native unit?</h3>
        <aside>A native unit is a non clickable unit which blends into the game environment. These are your game textures that are branded by us.</aside>
        <div class="row" style="margin-top:1em;">
          <a ng-click="ctrl.openImagesGallery(0,1)">
            <img ng-src="../styles/assets/images/native_units/{{ctrl.getNativeImgLocation()}}/1.jpg" class="col-md-3"></a>
          <a ng-click="ctrl.openImagesGallery(1,1)">
            <img ng-src="../styles/assets/images/native_units/{{ctrl.getNativeImgLocation()}}/2.jpg" class="col-md-3"></a>
          <a ng-click="ctrl.openImagesGallery(2,1)">
            <img ng-src="../styles/assets/images/native_units/{{ctrl.getNativeImgLocation()}}/3.jpg" class="col-md-3"></a>
          <a ng-click="ctrl.openImagesGallery(3,1)">
            <img ng-src="../styles/assets/images/native_units/{{ctrl.getNativeImgLocation()}}/4.jpg" class="col-md-3"></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Understanding Native units</h3>
        <aside>The idea here is to upload the game textures which you’d like for us to brand.The higher the visibility of the unit, the greater revenue for you.</aside>
        <div class="row" style="margin-top:1em;">
          <a ng-click="ctrl.openImagesGallery(4,1)">
            <img src="../styles/assets/images/native_1.jpeg" class="col-md-3"></a>
          <a ng-click="ctrl.openImagesGallery(5,1)">
            <img src="../styles/assets/images/native_3.png" class="col-md-3"></a>
          <a ng-click="ctrl.openImagesGallery(6,1)">
            <img src="../styles/assets/images/native_2.png" class="col-md-3"></a>
          <a ng-click="ctrl.openImagesGallery(7,1)">
            <img src="../styles/assets/images/native_4.png" class="col-md-3"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- closing first sub step-->
<!-- opening 2nd sub step -->
<div ng-show="ctrl.activeSubStep==='b' ">
  <div class=" col-md-8">
    <section class="todo_native_unit col-md-12">
      <h3>Native unit</h3>
    </section>
    <div ng-include="'/components/integrationwizard/_nativeunit.html'"></div>
  </div>
</div>
<!--div ng-show="ctrl.activeSubStep==='c' ">
  <div class=" col-md-8">
    <section class="todo_native_unit col-md-12">
      <h3>What is ad-spot marking?</h3> Once you have uploaded the textures you want to brand, you must mark the area within the texture for the branding to be overlaid.
    </section>
    <section class="todo_native_unit col-md-12">
      <div class="row" style="margin-top:1em;">
        <img src="../styles/assets/images/ad-spot-marking.jpg" class="col-md-6">
      </div>
      <h3>Types</h3>
      <ul>
        <li class="col-md-12 zero-padding"><span>Full Area</span> - We will use the entire sprite to replace with a branded sprite
        </li>
        <a class="col-md-12 zero-padding" ng-click="ctrl.openAdspotmarkingDemo(1)"><img src="/images/full-placements.png" style="width: 30%;margin-bottom: 1em;
    margin-top: 1em;"></a>
        <li class="col-md-12 zero-padding"><span>Upload PSD: </span> - Open the PSD file of the asset/Texture , place our brand Marker on the asset or texture you want to brand.
          <br>Add transparency to our marker as required.
          <br>After the above is done save the PSD file and upload it to the panel.
          <br><small>Note: Adding too much transparency may affect the quality of the creative.</small>
        </li>
        <a class="col-md-12 zero-padding" ng-click="ctrl.openAdspotmarkingDemo(2)"><img src="/images/psd-placements.png" style="width: 30%;margin-bottom: 1em;
    margin-top: 1em;"></a>
        <li class="col-md-12 zero-padding"><span>Remove placements</span> - Select this option if you don’t want any branding on this unit yet
        </li>
      </ul>
    </section>
  </div>
</div>
<div ng-show="ctrl.activeSubStep==='d' ">
  <div class=" col-md-8">
    <section class="todo_native_unit">
      <div>
        <h3>Ad spot marking</h3>
      </div>
    </section>
    <div ng-include="'/components/integrationwizard/_nativeunit.html'"></div>
  </div>
</div-->
<div ng-show="ctrl.activeSubStep==='c' ">
  <div class=" col-md-8">
    <div class="row" style="margin-top: 2em;">
      <div class="col-md-12">
        <h3>What is a float unit?</h3>
        <aside>A float unit is a clickable button which is designed keeping your game's UI in mind. The position and size of the unit is customizable. When you click on the float unit it opens up a small browser that ensures the user does not leave the game directly on first click. Within the interstitial the user is shown the brand’s content.
        </aside>
        <h3>Why is it necessary?</h3>
        <aside>Most brands measure campaign effectiveness through brand engagement. Examples include brand lift survey, interstitials, videos and thus it helps them measure through one of the above ways.
        </aside>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Types of float units</h3>
        <aside><span class="bold">Native float: </span>If you do not want our float unit to overlay on any of your game’s pre-existing buttons native float is the way to go.</aside>
        <div class="row" style="margin-top:1em; margin-bottom:1em">
          <img ng-click="ctrl.openImagesGallery(3,2)" src="../styles/assets/images/float_4.jpeg" class="col-md-3">
          <img ng-click="ctrl.openImagesGallery(4,2)" src="../styles/assets/images/float_5.png" class="col-md-3">
          <img ng-click="ctrl.openImagesGallery(5,2)" src="../styles/assets/images/float_6.jpeg" class="col-md-3">
        </div>
        <aside><span class="bold">Native button: </span>If you want to position our float unit exactly over any of your pre-existing game button, the native button integration should be followed</aside>
        <div class="row" style="margin-top:1em; margin-bottom:1em">
          <img ng-click="ctrl.openImagesGallery(0,2)" src="../styles/assets/images/float_1.png" class="col-md-3">
          <img ng-click="ctrl.openImagesGallery(1,2)" src="../styles/assets/images/float_2.png" class="col-md-3">
          <img ng-click="ctrl.openImagesGallery(2,2)" src="../styles/assets/images/float_3.jpeg" class="col-md-3">
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-show="ctrl.activeSubStep==='d' ">
  <div class=" col-md-8 row">
    <section class="todo_native_unit col-md-12">
      <h3>Add float unit</h3>
      <aside>You can add any number of different float units here for different screens in your game and configure each one in the next tab.</aside>
      <br>
      <aside ng-show="ctrl.isZeroFloatUnit">There is no float unit. start setting up new float unit by clicking <span class="bold">Add float unit</span> button below</aside>
    </section>
    <section class="float-unit-wizard">
      <div class="media-unit media-float-unit">
        <div class="unit-thumbnail drop-box ad-placement" style="height:160px;" ng-click="ctrl.createEmptyFloat()" ga-track-event="['Unit', 'Float', 'new']" id="step32">
          <div class="caption">
            <p class="text-center" style="margin-top: 35px; font-size: 20px;cursor:pointer;">
              <i class="fa fa-plus"></i>
              <br/>Add Float Unit</p>
          </div>
        </div>
      </div>
       <div class="row" style="margin-top: 50px" ng-if="ctrl.floatUnitsError">
    <center>
      <h4>Unable to fetch units</h4></center>
  </div>
      <div class="media-unit media-float-unit" ng-repeat="unit in ctrl.floatUnits.results">
        <div class="thumbnail unit-thumbnail" ng-class="{ 'has_error': unit.isError}" style="height:160px;">
          <div class="caption col-xs-12" style="height: 90%;
    overflow: auto;">
            <span class="unit-namespace">{{unit.namespace}}</span>
            <div ng-if="!unit.isLoading">
              <p class="description" style="opacity:0.5;margin-top: 15px;" ng-hide="unit.description">
                Write steps to trigger Float ad in the game
              </p>
              <p class="description" style="margin-top: 15px;" ng-show="unit.description">
                {{unit.description}}
              </p>
            </div>
            <div class="controls" ng-if="!unit.isLoading">
            <div errorbox ng-model="unit.serverError"></div>
              <div class="btn-group btn-group-sm pull-right">
                <button class="btn btn-default" type="button" ng-click="ctrl.adunitEdit(unit)" ga-track-event="['Unit', 'Float', 'edit']">
                  <i class="fa fa-pencil remove-margin"></i>Edit</button>
                <button class="btn btn-default" type="button" ng-click="ctrl.adunitRemove(unit, 1)" ga-track-event="['Unit', 'Float', 'remove']">
                  <i class="fa fa-remove remove-margin"></i>Remove
                </button>
              </div>
              <!-- /btn-group -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="col-md-4">
  <!--center ng-show="ctrl.activeSubStep=== 'd'">
    <h3>Ad Spot Marker</h3>
    <a href="/images/greedy-marker.png" target="_blank" download="greedy-marker.png">
      <img class="img-thumbnail" src="/images/greedy-marker-thumb.jpg" />
    </a>
    <br/>
    <small>Click image to download high-res marker</small>
  </center-->
  <br/>
  <h3 ng-show="ctrl.faqs.length>0">FAQ</h3>
  <div ng-show="ctrl.faqError">
    <center>
      <h4>Unable to fetch content</h4></center>
  </div>
  <ul>
    <li ng-repeat="faq in ctrl.faqs">
      <strong>{{faq.question}}</strong>
      <br>
      <br>
      <div style="padding-left:8px">
        <span ng-bind-html="faq.answer"></span>
      </div>
      <br>
      <br>
    </li>
  </ul>
</div>
