<div class="row col-md-8">
  <section class=" col-md-12">
    <div class="alert alert-warning ng-hide" ng-show="ctrl.gameStatus=== null">
      <h4><i class="fa fa-clock-o" aria-hidden="true"></i> No Apk has been submitted</h4>
      <p>Please upload an apk after sdk integration, for testing and QA.</p>
    </div>
    <div class="alert alert-warning ng-hide" ng-show="ctrl.gameStatus.qa_status === 1">
      <h4><i class="fa fa-clock-o" aria-hidden="true"></i> Pending!</h4>
      <p>Our QA team is currently working on the apk submitted on <b><a ng-href="{{ctrl.gameStatus.apk}}">{{ctrl.gameStatus.created_epoch*1000 | date: 'dd-MM-yyyy HH:mm:ss'}}</a></b>. We will get back to you shortly.</p>
    </div>
    <div class="alert alert-success ng-hide" ng-show="ctrl.gameStatus.qa_status === 2">
      <h4><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Approved!</h4>
      <p>The apk submitted on <b><a ng-href="{{ctrl.gameStatus.apk}}">{{ctrl.gameStatus.created_epoch*1000 | date: 'dd-MM-yyyy HH:mm:ss'}}</a></b> has been approved by our QA team and is ready to be published to the play store. Let's go ahead and generate some revenue.</p>
    </div>
    <div class="alert alert-danger ng-hide" ng-show="ctrl.gameStatus.qa_status === 3">
      <h4><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> Not Approved!</h4>
      <p>The apk submitted on <b><a ng-href="{{ctrl.gameStatus.apk}}">{{ctrl.gameStatus.created_epoch*1000 | date: 'dd-MM-yyyy HH:mm:ss'}}</a></b> has been tested by our QA.</p>
      <p> A few errors have been found in the submitted APK</p>
    </div>
  </section>
</div>
<div class="col-md-4">
  <div ng-show="ctrl.faqError">
    <h3>FAQ</h3>
    <center>
      <h4>Unable to fetch content</h4></center>
  </div>
  <h3 ng-show="ctrl.faqs.length>0">FAQ</h3>
  <ul>
    <li ng-repeat="faq in ctrl.faqs">
      <strong>{{faq.question}}</strong>
      <br>
      <br>
      <div style="padding-left:8px">
        <span ng-bind-html="faq.answer"></span>
      </div>
      <br>
      <br>
    </li>
  </ul>
</div>
