<div class="mt-element-step">
  <div class="row step-line">
    <div class="col-md-6 mt-step-col first" ng-class="{'active': ctrl.activeSubStep==='a' }" ng-click="ctrl.subclick('a');">
      <div class="mt-step-number bg-white">a</div>
      <div class="mt-step-title uppercase font-grey-cascade"></div>
      <div class="mt-step-content font-grey-cascade">Add device</div>
    </div>
    <div class="col-md-6 mt-step-col last" ng-class="{'active': ctrl.activeSubStep==='b'}" ng-click="ctrl.subclick('b');">
      <div class="mt-step-number bg-white">b</div>
      <div class="mt-step-title uppercase font-grey-cascade"></div>
      <div class="mt-step-content font-grey-cascade">Upload APK</div>
    </div>
  </div>
</div>
<div ng-show="ctrl.activeSubStep==='a' ">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <h3>Add and Manage Test Devices</h3>
        <p>The list of test devices for group <strong>{{ctrl.currentGroup.name}}</strong>. Following devices can be used to stage any campaign before making it live. Enter device's name with corresponding android id to add new device.
        </p>
        <h4>How to get, Android Id?</h4>
        <p> To find device's Android Id, attach it with Computer via USB in debug mode. And run following adb command.
          <code>adb shell "settings get secure android_id"</code>
        </p>
        </aside>
      </div>
      <form class="col-md-12 form-inline">
        <div errorbox ng-model="ctrl.userDevice.serverError"></div>
        <div class="form-group">
          <input ng-model="ctrl.userDevice.name" class="form-control" placeholder="Enter Device Name">
        </div>
        <div class="form-group">
          <input ng-model="ctrl.userDevice.ai" class="form-control" placeholder="Enter Android Id">
        </div>
        <button ng-click="ctrl.addDevice(ctrl.userDevice)" class="btn btn-default">Add Test Device</button>
      </form>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <center ng-if="ctrl.userDevicesError">
          <h4>Unable to fetch data</h4></center>
        <div class="table-scrollable" ng-show="ctrl.userDevices.results.length > 0">
          <table class="table table-striped table-bordered table-advance table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Android Id</th>
                <th>Android Id (md5)</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="d in ctrl.userDevices.results" class="fadetest">
                <td>{{d.name}}</td>
                <td>{{d.ai}}</td>
                <td>{{d.ai5}}</td>
                <td>
                  <button ng-click="ctrl.removeDevice(d)" class="btn dark btn-sm btn-outline sbold uppercase">
                    <i class="fa fa-remove"></i> Remove </button>
                  <div ng-messages="d.serverError.data" role="alert" style="color:maroon">
                    <div ng-if="d.serverError">Failed, please try again</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-show="ctrl.activeSubStep==='b' ">
  <div class="row col-md-8">
    <section class=" col-md-12">
      <div errorbox ng-model="ctrl.uploadApkError"></div>
      <div>
        <h3>Upload APK</h3>
        <aside>Please submit the integrated APK for testing. Our QA team will test the APK for any errors. The test results will be shown in the Go live section</aside>
      </div>
      <div class="col-md-12 text-center">
        <div class="unit-thumbnail drop-box ng-pristine ng-untouched ng-valid ng-empty" style="height:200px;" ngf-drop="ctrl.uploadApkFile($file)" ngf-select="ctrl.uploadApkFile($file)" ng-model="ctrl.gameApk.file" ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true" accept="'apk/*'" ng-disabled="ctrl.progressPercentage != 0">
          <div class="col-xs-12 ad-placement">
            <p class="text-center" style="padding-top: 70px; font-size: 20px;" ng-show="ctrl.progressPercentage == 0">Drop apk file here or click to upload</p>
            <p class="text-center" style="padding-top: 70px; font-size: 20px;" ng-show="ctrl.progressPercentage != 0">{{ctrl.progressPercentage}}% uploaded</p>
          </div>
        </div>
      </div>
      <div>
        <table class="table table-striped table-bordered table-hover" ng-if="ctrl.gameApks.results.length > 0">
          <thead>
            <tr>
              <th>Uploaded on</th>
              <th>File</th>
              <th>Status</th>
              <th>Message</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="a in ctrl.gameApks.results" class="fadetest">
              <td class="col-md-2">
                {{a.created_epoch*1000 | date: 'dd-MM-yyyy HH:mm:ss'}}
              </td>
              <td class="col-md-3">
                <a ng-href="{{a.apk}}">{{ctrl.fileNameInUrl(a.apk)}}</a>
              </td>
              <td class="col-md-2">
                {{a.qa_status | enumConstantsFilter: 'apkTestingStatus'}}
              </td>
              <td class="col-md-5">
                <div uib-collapse="!a.collapse">
                  <table class="table table-striped table-bordered table-hover" ng-show="a.errors.length >0">
                    <thead>
                      <th>Error Type</th>
                      <th>Message</th>
                    </thead>
                    <tbody>
                      <tr ng-repeat="error in a.errors">
                        <td>{{error.type | enumConstantsFilter: 'apkTestingType'}}</td>
                        <td>{{error.message}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <center><span ng-show="!a.errors || a.errors.length == 0">There is no messages</span></center>
                <center><a ng-hide="!a.errors || a.errors.length == 0" ng-click="a.collapse=!a.collapse">
                  {{(a.collapse)?'Hide messages':'Show messages'}} ({{(a.errors.length)?a.errors.length:0}}) <i class="fa" ng-class="{ 'fa-caret-up':a.collapse ,'fa-caret-down':!a.collapse
                  }" aria-hidden="true"></i></a></center>
              </td>
            </tr>
          </tbody>
        </table>
        <div ng-show="ctrl.gameApksError">
          <center>
            <h4>Unable to fetch Uploaded Apks</h4></center>
        </div>
      </div>
    </section>
  </div>
  <div class="col-md-4">
    <div ng-show="ctrl.faqError">
      <h3>FAQ</h3>
      <center>
        <h4>Unable to fetch content</h4></center>
    </div>
    <h3 ng-show="ctrl.faqs.length>0 && !ctrl.activeSubStep==='b'">FAQ</h3>
    <ul>
      <li ng-repeat="faq in ctrl.faqs">
        <strong>{{faq.question}}</strong>
        <br>
        <br>
        <div style="padding-left:8px">
          <span ng-bind-html="faq.answer"></span>
        </div>
        <br>
        <br>
      </li>
    </ul>
  </div>
