<div class="mt-element-step">
  <div class="row step-line">
    <div class="col-md-2 mt-step-col first" ng-class="{ 'active' : ctrl.activeSubStep==='a' }" ng-click="ctrl.subclick('a');">
      <div class="mt-step-number bg-white">a</div>
      <div class="mt-step-title uppercase font-grey-cascade"></div>
      <div class="mt-step-content font-grey-cascade">Overview</div>
    </div>
    <div class="col-md-2 mt-step-col" ng-class="{ 'active' : ctrl.activeSubStep==='b' }" ng-click="ctrl.subclick('b');">
      <div class="mt-step-number bg-white">b</div>
      <div class="mt-step-title uppercase font-grey-cascade"></div>
      <div class="mt-step-content font-grey-cascade">Setup</div>
    </div>
    <div class="col-md-2 mt-step-col" ng-class="{ 'active' : ctrl.activeSubStep==='c' }" ng-click="ctrl.subclick('c');">
      <div class="mt-step-number bg-white">c</div>
      <div class="mt-step-title uppercase font-grey-cascade"></div>
      <div class="mt-step-content font-grey-cascade">Initialization</div>
    </div>
    <div class="col-md-2 mt-step-col" ng-class="{ 'active' : ctrl.activeSubStep==='d' }" ng-click="ctrl.subclick('d');">
      <div class="mt-step-number bg-white">d</div>
      <div class="mt-step-title uppercase font-grey-cascade"></div>
      <div class="mt-step-content font-grey-cascade">Rendering native unit</div>
    </div>
    <div class="col-md-2 mt-step-col" ng-class="{ 'active' : ctrl.activeSubStep==='e' }" ng-click="ctrl.subclick('e');">
      <div class="mt-step-number bg-white">e</div>
      <div class="mt-step-title uppercase font-grey-cascade"></div>
      <div class="mt-step-content font-grey-cascade">Fetching float unit</div>
    </div>
    <div class="col-md-2 mt-step-col last" ng-class="{ 'active' : ctrl.activeSubStep==='f' }" ng-click="ctrl.subclick('f');">
      <div class="mt-step-number bg-white">f</div>
      <div class="mt-step-title uppercase font-grey-cascade"></div>
      <div class="mt-step-content font-grey-cascade">Extended Float Unit Integration</div>
    </div>
  </div>
</div>
<div ng-show="ctrl.activeSubStep==='a' ">
  <div class="col-md-8">
    <h3>Introduction</h3>
    <ul>
      <li>
        This wizard contains sample code to make your game equipped with <strong>GreedyGame</strong>'s native branding.
      </li>
      <li>
        Scripts and logs generated here are based on the game profile's information provided by you.
      </li>
      <li>Make sure information is accurate to get maximum help from this wizard.</li>
      <li>We are going to run this based on these parameters
        <ul>
          <li>
            GameProfile Id : <strong>{{ctrl.gameProfile.id}}</strong>
          </li>
          <li>
            Game engine : <strong>{{ctrl.gameProfile.engine===0?'Unity':ctrl.gameProfile.engine===1?'Cocos':'Andriod'}}</strong>
          </li>
          <li>
            Android package name: <strong>{{ctrl.androidPackage}}</strong>
          </li>
          <li>
            Total Native units: <strong>{{ctrl.nativeUnits.results.length}}</strong>
          </li>
          <li>
            Total Float units: <strong>{{ctrl.floatUnits.results.length}}</strong>
          </li>
        </ul>
      </li>
    </ul>
    <div class="form-group">
      <a class="btn btn-default col-md-6" ng-href="https://github.com/GreedyGame/{{(ctrl.getGameEngine(ctrl.gameProfile.engine))}}/releases/latest" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Download {{ctrl.engineName(ctrl.gameProfile.engine)}} SDK<br/></a>
    </div>
  </div>
  </div>
<div ng-include="ctrl.getTemplateUrl"></div>
<div class="col-md-4">
  <h3 ng-show="ctrl.faqs.length>0">FAQ</h3>
  <div ng-show="ctrl.faqError">
  <h3>FAQ</h3>
    <center>
      <h4>Unable to fetch content</h4></center>
  </div>
  <ul>
    <li ng-repeat="faq in ctrl.faqs">
      <strong>{{faq.question}}</strong>
      <br>
      <br>
      <div style="padding-left:8px">
        <span ng-bind-html="faq.answer"></span>
      </div>
      <br>
      <br>
    </li>
  </ul>
</div>
