<div class="modal-header">
  <button type="button"  class="close" ng-click="close()" style="padding:4px;">
    <i class="fa fa-close"></i>
    
  </button>
  <h4 class="modal-title">{{(adspotmarkingType === 1)?'Full Image':'PSD Placement'}}</h4>
</div>
<div class="modal-body">
  <img ng-if="adspotmarkingType === 1" style="width: 100%" src="/images/full-placements.png">
  <img ng-if="adspotmarkingType === 2" style="width: 100%" src="/images/psd-placements.png">

</div>
