<div class="col-md-12" ng-controller="IntegrationWizrdCtrl as ctrl">
  <div class="portlet light portlet-fit bordered">
    <div class="portlet-title">
      <div class="caption">
        <span class="caption-subject font-green bold uppercase" style="font-size: 21px;"> 
            <i class="fa fa-code"></i> Integration Wizard
        </span>
      </div>
      <a type="button" class="close" ng-show="gameProfiles.results.length>0" ng-href="/{{(ctrl.gameId!='new')?currentGameId:(ctrl.currentGameId!=null)?currentGameId:gameProfiles.results[0].id}}/dashboard" style="padding:4px; opacity: .50;">
        <i class="fa fa-reply"></i> Back to Dashboard
      </a>
    </div>
    <div class="portlet-body">
      <div class="mt-element-step">
        <div class="row step-thin">
          <div id="integrationStep1" class="col-md-2 bg-grey mt-step-col" ng-click="(ctrl.getLeastStepToDo(1)>0)?CallMe(ctrl.getLeastStepToDo(1)):(ctrl.click(1)|| ExitMe())" ng-class="{ 'active' : ctrl.activeStep===1 }">
            <div class="mt-step-number bg-white font-grey ">1</div>
            <div class="mt-step-title uppercase font-grey-cascade ">Add game </div>
            <div class="mt-step-content font-grey-cascade ">Game profile</div>
          </div>
          <div id="integrationStep2" class="col-md-3 bg-grey mt-step-col" ng-click="(ctrl.getLeastStepToDo(2)>0)?CallMe(ctrl.getLeastStepToDo(2)):(ctrl.click(2) || ExitMe())" ng-class="{ 'active' : ctrl.activeStep===2 }">
            <div class="mt-step-number bg-white font-grey ">2</div>
            <div class="mt-step-title uppercase font-grey-cascade ">Upload units</div>
            <div class="mt-step-content font-grey-cascade ">Uploading ad units</div>
          </div>
          <div class="col-md-3 bg-grey mt-step-col" ng-click="(ctrl.getLeastStepToDo(3)>0)?CallMe(ctrl.getLeastStepToDo(3)):(ctrl.click(3) || ExitMe())" ng-class="{ 'active' : ctrl.activeStep===3 } ">
            <div class="mt-step-number bg-white font-grey ">3</div>
            <div class="mt-step-title uppercase font-grey-cascade ">Integration
            </div>
            <div class="mt-step-content font-grey-cascade ">Integrating with <span>{{ctrl.engineName(ctrl.gameProfile.engine) }}</span></div>
          </div>
          <div class="col-md-2 bg-grey mt-step-col" ng-click="(ctrl.getLeastStepToDo(4)>0)?CallMe(ctrl.getLeastStepToDo(4)):(ctrl.click(4) || ExitMe())" ng-class="{ 'active' : ctrl.activeStep===4 } ">
            <div class="mt-step-number bg-white font-grey ">4</div>
            <div class="mt-step-title uppercase font-grey-cascade ">Test</div>
            <div class="mt-step-content font-grey-cascade ">Testing game</div>
          </div>
          <div class="col-md-2 bg-grey mt-step-col" ng-click="(ctrl.getLeastStepToDo(5)>0)?CallMe(ctrl.getLeastStepToDo(5)):(ctrl.click(5) || ExitMe())" ng-class="{ 'active' : ctrl.activeStep===5 }">
            <div class="mt-step-number bg-white font-grey ">5</div>
            <div class="mt-step-title uppercase font-grey-cascade ">Go Live</div>
            <div class="mt-step-content font-grey-cascade ">Checklist to live</div>
          </div>
        </div>
        <br>
        <br>
      </div>
      <div class="step-body">
        <div class="row" ng-if="ctrl.activeStep" style="min-height:200px;">
          <div ng-include="'/components/integrationwizard/_step'+ctrl.activeStep+'.html'" onload="finishLoading()"></div>
        </div>
      </div>
      <div class="row wizard-footer">
        <div class="btn-group col-md-3">
          <button class="btn btn-primary col-md-5 pull-left" ng-if="ctrl.activeStep>1" ng-click="ctrl.previousProcess(ctrl.activeStep)">Previous</button>
          <button class="btn btn-primary col-md-5 pull-left" ng-if="ctrl.activeStep<5" ng-click="ctrl.nextProcess(ctrl.activeStep)" ng-disabled="!ctrl.isNextProcessEnabled(ctrl.activeStep)"><span>Next</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
