<div style="margin-bottom:20px;" ng-if="model">
  <div class="alert alert-danger ng-hide" ng-show="!isOnline" ng-if="model.status === -1">
    <h4><i class="fa fa-chain-broken" aria-hidden="true"></i> Not connected to internet!</h4>
    <p>Please check your network and <a ng-click="reload()">retry</a>.</p>
  </div>
  <div class="alert alert-danger" ng-if="model.status >= 500" style="padding: 10px !important;
    margin-bottom: 2px !important;">
    <a ng-click="removeError()" class="close" style="color:#a94442">
      <small><i class="fa fa-times" aria-hidden="true"></i></small>
    </a>
    <span>{{(model.config.method == 'GET')?'Unable to fetch data, Please try again later':'Unable to perform the action, Please try again'}}</span>
  </div>
  <div class="alert alert-danger" ng-if="model.status < 500 && model.data.non_field_errors" style="padding: 10px !important;margin-bottom: 2px !important;">
    <a ng-click="removeError()" class="close" style="color:#a94442">
      <small><i class="fa fa-times" aria-hidden="true"></i></small>
    </a>
    <span ng-repeat="error in model.data.non_field_errors">{{error}}</span>
  </div>
</div>
<div class="alert alert-danger" ng-if="errorMessage">
  <a ng-click="removeMessage()" class="close" style="color:#a94442">
    <small><i class="fa fa-times" aria-hidden="true"></i></small>
  </a>
  <span>{{errorMessage}}</span>
</div>
