<div class="dashboard-stat2 bordered" style="background: #f2f6f9;padding: 10px;">
  <div class="display">
    <form name="globalfilterTag">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="input-group" id="help-section-game">
            <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
            <tags-input name="tagFilter" tag-readonly max-tags="30" class="form-control globalfilter-tags" ng-click="clickTrack('GlobalFilter', 'GlobalFilterClick', 'Games Filter Cliked');" ng-model="filteredTags" display-property="title" key-property="id" placeholder="Add filter from below" add-from-autocomplete-only="true" on-tag-removed="isTagChanged= true;" add-on-paste="false" template="/components/dashboardFilter/filter.tag.html">
            </tags-input>
          </div>
          <span style="color: #a94442" ng-show="globalfilterTag.tagFilter.$error.maxTags">The tags exceeded Maximum limit 30</span>
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col-md-4 col-sm-4 no-right-padding">
          <div class="btn-group" id="help-section-campaigntype">
            <div class="input-group">
              <span class="input-group-addon">GMT Date</span>
              <input date-range-picker class="form-control date-picker" style="cursor:pointer;background-color: white;" readonly="readonly" type="text" ng-model="date" ng-change="dateChange()" options="options" />
            </div>
          </div>
        </div>
        <div class="col-md-2 no-right-padding">
          <div class="btn-group" style="width: 100%" uib-dropdown auto-close="outsideClick" is-open="gameDropdown">
            <button id="btn-append-to-single-button" style="width: 100%" type="button" class="btn btn-secondary btn-block" uib-dropdown-toggle>
              Game List <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button" style="margin: 0px;">
              <li role="menuitem" style="padding: 10px;">
                <input type="text" class="form-control" style="padding-left: 5px;" ng-model="searchGame" placeholder="search games" />
              </li>
              <li class="divider"></li>
              <li role="menuitem" ng-repeat="item in gameList | filter:{title: searchGame}"><a ng-hide="item.isAdded" ng-click="addTag('game',item)"><i class="fa fa-android android-icon" style="color: #A4C639;" aria-hidden="true"></i> {{item.title}}<br/>{{item.id}}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 no-right-padding">
          <div class="btn-group" style="width: 100%" uib-dropdown auto-close="outsideClick" is-open="countryDropdown">
            <button id="btn-append-to-single-button" style="width: 100%" type="button" class="btn btn-secondary btn-block" uib-dropdown-toggle>
              Country List <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button" style="margin: 0px;">
              <li role="menuitem" style="padding: 10px;">
                <input type="text" class="form-control" style="padding-left: 5px;" ng-model="searchCountry" placeholder="search country" />
              </li>
              <li class="divider"></li>
              <li role="menuitem" ng-repeat="item in countryList  | filter:{name: searchCountry}"><a ng-hide="item.isAdded" ng-click="addTag('country',item)"><i class="flag {{item.code3 | lowercase}}"></i> {{item.name}}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 no-right-padding">
          <div class="btn-group" style="width: 100%" uib-dropdown is-open="campaignTypeDropdown">
            <button id="btn-append-to-single-button" style="width: 100%" type="button" class="btn btn-secondary btn-block" uib-dropdown-toggle>
              Campaign Type <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button" style="margin: 0px;">
              <li role="menuitem" ng-repeat="item in campaignTypelist"><a ng-click="addTag('campaigntype',item)">{{item.value}}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary btn-block" style="width: 100%" ng-disabled="globalfilterTag.tagFilter.$invalid || !isTagChanged" ng-click="searchFilter();">{{(isTagChanged)?'Apply Filter':'Filter Applied'}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
