<div class="tag-template" ng-if="data.type==='game'">
  <span><i class="fa fa-android android-icon" aria-hidden="true"></i> {{$getDisplayText()}} ({{data.id}})</span>
  <a class="remove-button" ng-click="$removeTag();data.isAdded = false;" style="color: white;">&#10006;</a>
</div>
<div class="tag-template" ng-if="data.type==='country'">
  <span><i class="flag {{data.code3 | lowercase}}"></i> {{data.name}}</span>
  <a class="remove-button" ng-click="$removeTag();data.isAdded = false;" style="color: white;">&#10006;</a>
</div>
<div class="tag-template" ng-if="data.type==='campaigntype'">
  <span><i class="fa fa-cog" aria-hidden="true"></i>  {{data.value}}</span>
  <a class="remove-button" ng-click="$removeTag();data.isAdded = false;" style="color: white;">&#10006;</a>
</div>


