<div ng-controller="faqCtrl as ctrl">
  <ul class="page-breadcrumb breadcrumb" style="padding-left: 15px;">
    <li>
      <a ng-href="/">Home</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <span class="active">FAQ</span>
    </li>
  </ul>
  <div class="col-md-8 faq">
    <div class="panel panel-primary">
      <div class="panel-heading panel-title">
        Frequently Asked Questions
        <div class="pull-right col-md-6 input-group input-group-sm">
          <input type="text" class="form-control" ng-keypress="ctrl.search(ctrl.searchedQuestion,$event)" ng-model="ctrl.searchedQuestion" placeholder="Search FAQ">
          <span class="input-group-btn">
        <button class="btn btn-default"  ng-click="ctrl.search(ctrl.searchedQuestion)" type="button">Search</button>
  </span>
        </div>
      </div>
      <div class="portlet-body" style="padding: 15px;">
      <div ng-if="ctrl.faqError">
        <center><h3>Unable to fetch data</h3></center>
      </div>
        <div class="panel-group accordion" ng-if="!ctrl.faqError" id="accordion3">
          <div class="panel panel-default" ng-repeat="faqTag in ctrl.faqTags">
            <div class="panel-heading panel-title" style="height: 42px">
              <a class="accordion-toggle accordion-toggle-styled collapsed" style="font-size: medium;" ng-click="ctrl.setCureentCollapsed(faqTag)" data-toggle="collapse" ng-href="#{{$index}}" aria-expanded="false">{{faqTag.tag}} <span ng-show="!isLoading"></span> <i class="pull-right fa" ng-class='{"fa-plus":!faqTag.isCollapsed,"fa-minus":faqTag.isCollapsed }' style="margin-top: 4px;"></i></a>
            </div>
            <div id="{{$index}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body">
                <p ng-repeat="faqQuestion in ctrl.faqQuestions[faqTag.query].results"><a ng-href="/faq/answers?tag={{faqTag.query}}#{{faqQuestion.id}}">{{faqQuestion.question}}</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
