<div ng-controller="faqAnswerCtrl as ctrl">
  <ul style="padding-left: 15px;" class="page-breadcrumb breadcrumb">
    <li>
      <a ng-href="/">Home</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a ng-href="/faq">FAQ</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <span class="active">{{(ctrl.searchedParamQuestion)?'Search Results':ctrl.faqTag}}</span>
    </li>
  </ul>
  <div class="col-md-12 faq">
    <div class="panel panel-primary">
      <div class="panel-heading panel-title">
        {{(ctrl.searchedParamQuestion)?'Search Results':ctrl.faqTag}}
        <div class="pull-right col-md-6 input-group input-group-sm">
          <input type="text" class="form-control" ng-keypress="ctrl.search(ctrl.searchedQuestion,$event)" ng-model="ctrl.searchedQuestion" placeholder="Search FAQ">
          <span class="input-group-btn">
        <button class="btn btn-default" ng-click="ctrl.search(ctrl.searchedQuestion)" type="button">Search</button>
  </span>
        </div>
      </div>
      <div class="panel-body">
        <div ng-if="ctrl.faqError">
          <center>
            <h3>Unable to fetch data</h3></center>
        </div>
        <h3 ng-show="ctrl.faqQuestions.length===0" style="text-align: center;margin-bottom: 0px">No FAQs Found</h3>
        <h3 ng-show="ctrl.loading" style="text-align: center;margin-bottom: 0px">Loading...</h3>
        <ol style="padding-left: 15px;">
          <li ng-repeat="faqQuestion in ctrl.faqQuestions" style="margin-bottom: 10px;" ng-class="{'faq-highlight':(faqQuestion.id == ctrl.highlight) }">
            <div ng-attr-id="{{faqQuestion.id}}">
              <b>{{faqQuestion.question}}</b>
            </div>
            <div style="padding-left:6px" ng-bind-html="faqQuestion.answer"></div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>