<div ng-controller="CampaignListsCtrl as ctrl">
  <div class="portlet box blue campaign-panel">
    <div class="portlet-title campaign-portlet-title">
      <div class="caption">
        <i class="fa fa-table fa-fw"></i>Campaign Details ({{ctrl.campaign.fromDate | date : "yyyy-MM"}})</div>
      <div class="tools col-lg-6">
        <div class="input-group col-lg-12 pull-right" id="help-section-campaignmonth">
          <span class="input-group-btn" style="cursor:pointer">
        </span>
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          <input type="text" class="form-control" uib-datepicker-popup="{{ctrl.format}}" ng-model="ctrl.campaign.fromDate" ng-click="ctrl.campaignDateclicked=!ctrl.campaignDateclicked" ng-change="ctrl.campaignDateChange(ctrl.campaign.fromDate)" is-open="ctrl.campaignDateclicked" datepicker-options="ctrl.dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" placeholder="select month" id="step41" />
          <span class="input-group-btn btn-group">
            <a class="btn btn-default dropdown-toggle" id="help-section-campaignmonthdownload" data-toggle="dropdown" href="javascript:;" aria-expanded="false"> Download Report
              <i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu dropdown-menu-right">
              <li><a download="ThemeReport" href="" ng-click="ctrl.exportCampaigns('excel',1);clickTrack('Download', 'downloadClick', 'Excel');">Excel</a>
              </li>
              <li><a download="ThemeReport" href="" ng-click="ctrl.exportCampaigns('csv', 1);clickTrack('Download', 'downloadClick', 'CSV');">CSV</a>
              </li>
              </ul>
            </span>
        </div>
      </div>
    </div>
    <div class="portlet-body" ng-if="!ctrl.campaign.isLoading && ctrl.campaign.data.results && ctrl.campaign.data.results.length === 0">
      <h3 style="text-align:center">No Data Available</h3>
    </div>
    <div class="portlet-body">
     <div ng-show="ctrl.campaignError">
          <center>
            <h4>Unable to fetch data, please try again</h4></center>
        </div>
      <h4 ng-show="ctrl.campaign.isLoading" style="text-align:center">Loading...</h4>
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" ng-show="!ctrl.campaignError && !ctrl.campaign.isLoading && ctrl.campaign && ctrl.campaign.data.results.length !== 0" id="campaign-details">
          <thead>
            <tr>
              <th>Brand</th>
              <th>Impressions</th>
              <th>Revenue</th>
              <th>eCPM</th>
              <th>CTR</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="campaign in ctrl.campaign.data.results">
              <td class="vertically-align-table">{{campaign.brand}}</td>
              <td class="vertically-align-table">{{campaign.impression | number:0}}</td>
              <td class="vertically-align-table">
                ${{campaign.revenue | currency : ''}}</i>
              </td>
              <td class="vertically-align-table">
                ${{campaign.ecpm | number: 2}}
              </td>
              <td class="vertically-align-table">
                {{campaign.ctr | number: 2}}%
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="portlet box blue campaign-panel">
    <div class="portlet-title campaign-portlet-title">
      <div class="caption">
        <i class="fa fa-table fa-fw"></i>Cross Promotion Details ({{ctrl.crossPromoted.fromDate | date : "yyyy-MM"}})</div>
      <div class="tools col-lg-6">
        <div class="input-group col-lg-12 pull-right" id="help-section-campaignmonth">
          <span class="input-group-btn" style="cursor:pointer">
        </span>
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          <input type="text" class="form-control" uib-datepicker-popup="{{ctrl.format}}" ng-model="ctrl.crossPromoted.fromDate" ng-click="ctrl.crossPromotedDateclicked=!ctrl.crossPromotedDateclicked" ng-change="ctrl.crossPromotedDateChange(ctrl.crossPromoted.fromDate)" is-open="ctrl.crossPromotedDateclicked" datepicker-options="ctrl.dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" placeholder="select month" id="step41" />
          <span class="input-group-btn btn-group">
            <a class="btn btn-default dropdown-toggle" id="help-section-campaignmonthdownload" data-toggle="dropdown"  aria-expanded="false"> Download Report
              <i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu dropdown-menu-right">
              <li><a download="ThemeReport" href="" ng-click="ctrl.exportCrossPromotion('excel',1);clickTrack('Download', 'downloadClick', 'Excel');">Excel</a>
              </li>
              <li><a download="ThemeReport" href="" ng-click="ctrl.exportCrossPromotion('csv', 1);clickTrack('Download', 'downloadClick', 'CSV');">CSV</a>
              </li>
              </ul>
            </span>
        </div>
      </div>
    </div>
    <div class="portlet-body" ng-if="!ctrl.crossPromoted.isLoading && ctrl.crossPromoted.data.results.length === 0">
      <h3 style="text-align:center">No Data Available</h3>
    </div>
    <div class="portlet-body">
     <div ng-show="ctrl.crossPromotedError">
          <center>
            <h4>Unable to fetch data, please try again</h4></center>
        </div> 
      <div class="table-responsive">
        <h4 ng-show="ctrl.crossPromoted.isLoading" style="text-align:center">Loading...</h4>
        <table class="table table-striped table-bordered table-hover" ng-show="!ctrl.crossPromotedError && !ctrl.crossPromoted.isLoading && ctrl.crossPromoted.data.results.length!= 0" id="cross-promotion-details">
          <thead>
            <tr>
              <th>Brand</th>
              <th>Impressions</th>
              <th>Revenue</th>
              <th>eCPM</th>
              <th>CTR</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="crossPromotion in ctrl.crossPromoted.data.results">
              <td class="vertically-align-table">{{crossPromotion.brand}}</td>
              <td class="vertically-align-table">{{crossPromotion.impression | number:0}}</td>
              <td class="vertically-align-table">
                ${{crossPromotion.revenue | currency : ''}}</i>
              </td>
              <td class="vertically-align-table">
                ${{crossPromotion.ecpm | number: 2}}
              </td>
              <td class="vertically-align-table">
                {{crossPromotion.ctr | number: 2}}%
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
