<div class="portlet box blue campaign-panel" ng-controller="ProgCampaignListsCtrl as ctrl">
  <div class="portlet-title campaign-portlet-title">
    <div class="caption">
      <i class="fa fa-table fa-fw"></i>Programmatic Campaign Details</div>
    <div class="tools col-lg-6">
      <div class="input-group col-lg-12 pull-right" id="help-section-campaignmonth">
        <span class="input-group-addon">GMT Date</span>
        <input date-range-picker class="form-control date-picker" type="text" ng-model="ctrl.date" options="ctrl.options" />
        <span class="input-group-btn btn-group">
            <a class="btn btn-default dropdown-toggle" id="help-section-campaignmonthdownload" data-toggle="dropdown" aria-expanded="false"> Download Report
              <i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu dropdown-menu-right">
              <li><a download="ThemeReport" href="" ng-click="ctrl.export('excel',1);clickTrack('Download', 'downloadClick', 'Excel');">Excel</a>
              </li>
              <li><a download="ThemeReport" href="" ng-click="ctrl.export('csv', 1);clickTrack('Download', 'downloadClick', 'CSV');">CSV</a>
              </li>
              </ul>
            </span>
      </div>
    </div>
  </div>
  <div class="portlet-body">
    <div ng-show="ctrl.campaignsError">
      <center>
        <h4>Unable to fetch data, please try again</h4></center>
    </div>
    <h3 ng-if="!ctrl.campaignsError && !ctrl.isTableLoading && ctrl.campaigns.results.length === 0" style="text-align:center">No Data Available</h3>
    <h4 ng-if="ctrl.isTableLoading" style="text-align:center">Loading...</h4>
    <div class="table-responsive" ng-if="!ctrl.isTableLoading && ctrl.campaigns.results.length > 0">
      <table class="table table-bordered table-hover" id="programatic-campaign-details">
        <thead>
          <tr id="help-section-progcampaignsort">
            <th>
              Country Name
              <a href="#" ng-click="sortType = 'country_name'; sortProgramaticCampaigns = !sortProgramaticCampaigns">
                <span ng-show="sortType == 'country_name' && !sortProgramaticCampaigns" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'country_name' && sortProgramaticCampaigns" class="fa fa-caret-up"></span>
                <span ng-show="!sortType || sortType !='country_name'" class="fa fa-sort"></span>
              </a>
            </th>
            <th>
              Revenue
              <a href="#" ng-click="sortType = 'revenue'; sortProgramaticCampaigns = !sortProgramaticCampaigns">
                <span ng-show="sortType == 'revenue' && !sortProgramaticCampaigns" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'revenue' && sortProgramaticCampaigns" class="fa fa-caret-up"></span>
                <span ng-show="!sortType || sortType !='revenue'" class="fa fa-sort"></span>
              </a>
            </th>
            <th>
              Impressions
              <a href="#" ng-click="sortType = 'impression'; sortProgramaticCampaigns = !sortProgramaticCampaigns">
                <span ng-show="sortType == 'impression' && !sortProgramaticCampaigns" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'impression' && sortProgramaticCampaigns" class="fa fa-caret-up"></span>
                <span ng-show="!sortType || sortType !='impression'" class="fa fa-sort"></span>
              </a>
            </th>
            <th>
              eCPM
              <a href="#" ng-click="sortType = 'ecpm'; sortProgramaticCampaigns = !sortProgramaticCampaigns">
                <span ng-show="sortType == 'ecpm' && !sortProgramaticCampaigns" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'ecpm' && sortProgramaticCampaigns" class="fa fa-caret-up"></span>
                <span ng-show="!sortType || sortType !='ecpm'" class="fa fa-sort"></span>
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b>Total</b></td>
            <td>{{ctrl.calcTableTotal('revenue') | currency:"$"}}</td>
            <td>{{ctrl.calcTableTotal('impression') | number: ''}}</td>
            <td>{{(ctrl.calcTableTotal('revenue')/ctrl.calcTableTotal('impression'))*1000 | currency:"$"}}</td>
          </tr>
          <tr ng-repeat="campaign in ctrl.campaigns.results |orderBy:sortType:sortProgramaticCampaigns">
            <td class="vertically-align-table">
              <i class="flag {{campaign.country_iso_code | lowercase}}"></i> {{campaign.country_name}}
            </td>
            <td class="vertically-align-table">{{ campaign.revenue | currency:"$" }}</td>
            <td class="vertically-align-table">{{ campaign.impression | number: '' }}</td>
            <td class="vertically-align-table">{{ campaign.ecpm | currency:"$" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
